<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="user-scalable = yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">

  <link rel="shortcut icon" href="/img/frontend/favicon.gif" type='image/x-icon'/>
  <link type="text/css" rel="stylesheet" href="/fe/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/fe/css/style.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/fe/css/flexslider.css"  media="screen,projection"/>

  
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>Body And Brain</title>
</head>

<body>

  <div class="container">


    <div class="row">
      <div class="col s12">
        <div class="headerlogo">
          <img src="img/frontend/logo.gif">
        </div>
        <div class="headercontact">
          <ul>
            <li class="tel">1-877-477-YOGA</li>
            <li class="contactlist"><a href="#">Contact Us</a></li>
            <li class="contactlist"><a href="#">Success stories</a></li>
            <li class="contactlist"><a href="#">Yoga Life</a></li>
            <li class="contactlist"><a href="#">Franchising</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="navigationcustom maincolor">
      <ul>
        <li><a href="#" class="menu">ABOUT</a>
          <ul>
            <li><a href="#" class="submenu">About Body & Brain</a></li>
            <li><a href="#" class="submenu">How Are We Different?</a></li>
            <li><a href="#" class="submenu">Core Energy Principles</a></li>
            <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
            <li><a href="#" class="submenu">30 Day Guarantee</a></li>
            <li><a href="#" class="submenu">Research</a></li>
            <li><a href="#" class="submenu">FAQ</a></li>
            <li><a href="#" class="submenu">Practice At Home</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">CLASSES</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Video Classes</a></li>
            <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
            <li><a href="#" class="submenu">Energy Meditation</a></li>
            <li><a href="#" class="submenu">Core Strengthening</a></li>
            <li><a href="#" class="submenu">Glossary</a></li>
            <li><a href="#" class="submenu">Class Etiquette</a></li>
            <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WORKSHOP</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Initial Awakening&#8482;</a></li>
            <li><a href="#" class="submenu">Finding True Self</a></li>
            <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
            <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
            <li><a href="#" class="submenu">DahnMuDo&#8482;</a></li>
            <li><a href="#" class="submenu">Brain Management Training</a></li>
            <li><a href="#" class="submenu">Dahn Master Course</a></li>
            <li><a href="#" class="submenu">Meditation Tours</a></li>
            <li><a href="#" class="submenu">Schedules</a></li>
            <li><a href="#" class="submenu">Healthier Together</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">WELLNESS AT WORK</a>
          <ul>
            <li><a href="#" class="submenu">Web Design</a></li>
            <li><a href="#" class="submenu">Our Programs</a></li>
            <li><a href="#" class="submenu">Getting Started</a></li>
            <li><a href="#" class="submenu">Success Stories</a></li>
          </ul>
        </li>
        <li><a href="#" class="menu">COMMUNITY ACTION</a>
          <ul>
            <li><a href="#" class="submenu">Overview</a></li>
            <li><a href="#" class="submenu">Community Classes</a></li>
            <li><a href="#" class="submenu">Project Orange</a></li>
            <li><a href="#" class="submenu">Book Donations</a></li>
            <li><a href="#" class="submenu">Nevada 1st Project</a></li>
            <li><a href="#" class="submenu">Nicaragua Project</a></li>
          </ul>
        </li>
        <li class="active"><a href="contact.html">FIND A CLASS</a></li>
      </ul>
    </div>

    <div class="mobilemenu">
      <nav>
        <div class="nav-wrapper maincolor">
          <a href="#!" class="brand-logo"></a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul id="nav-mobile" class="side-nav">
            <div class="sidelogo" style="text-align: center;margin-top: 32px;margin-bottom: 16px;border-bottom: 1px solid #ddd;padding:20px;">
              <img src="/img/frontend/logo.gif" style="width:100%;height:auto;">
            </div>
            <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">About</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">About Body & Brain</a></li>
                    <li><a href="#" class="submenu">How Are We Different?</a></li>
                    <li><a href="#" class="submenu">Core Energy Principles</a></li>
                    <li><a href="#" class="submenu">Founder Ilchi Lee</a></li>
                    <li><a href="#" class="submenu">30 Day Guarantee</a></li>
                    <li><a href="#" class="submenu">Research</a></li>
                    <li><a href="#" class="submenu">FAQ</a></li>
                    <li><a href="#" class="submenu">Practice At Home</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Classes</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Overview</a></li>
                    <li><a href="#" class="submenu">Video Classes</a></li>
                    <li><a href="#" class="submenu">Tai Chi & Qigong</a></li>
                    <li><a href="#" class="submenu">Energy Meditation</a></li>
                    <li><a href="#" class="submenu">Core Strengthening</a></li>
                    <li><a href="#" class="submenu">Glossary</a></li>
                    <li><a href="#" class="submenu">Class Etiquette</a></li>
                    <li><a href="#" class="submenu">Plate Balancing Exercise</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Workshop</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Overview</a></li>
                    <li><a href="#" class="submenu">Initial Awakening</a></li>
                    <li><a href="#" class="submenu">Finding True Self</a></li>
                    <li><a href="#" class="submenu">Sedona Retreat for Change</a></li>
                    <li><a href="#" class="submenu">Solar Body Natural Healing Course</a></li>
                    <li><a href="#" class="submenu">Dahn MuDo</a></li>
                    <li><a href="#" class="submenu">Brain Management Training</a></li>
                    <li><a href="#" class="submenu">Dahn Master Course</a></li>
                    <li><a href="#" class="submenu">Meditation Tours</a></li>
                    <li><a href="#" class="submenu">Schedules</a></li>
                    <li><a href="#" class="submenu">Healthier Together</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Wellness at Work</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Web Design</a></li>
                    <li><a href="#" class="submenu">Our Programs</a></li>
                    <li><a href="#" class="submenu">Getting Started</a></li>
                    <li><a href="#" class="submenu">Success Stories</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Community Action</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#" class="submenu">Overview</a></li>
                    <li><a href="#" class="submenu">Community Classes</a></li>
                    <li><a href="#" class="submenu">Project Orange</a></li>
                    <li><a href="#" class="submenu">Book Donations</a></li>
                    <li><a href="#" class="submenu">Nevada 1st Project</a></li>
                    <li><a href="#" class="submenu">Nicaragua Project</a></li>
                  </ul>
                </div>
              </li>
            </ul>

            <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Find a Class</a></li>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="divseparetor"></div>

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/img/frontend/img_slide_05.jpg">
        <div class="caption center-align">
          <h3>Body & Brain: Find Your Balance!</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/img/frontend/img_slide_06.jpg">
        <div class="caption left-align">
          <h3>Unique Style of Yoga</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="/img/frontend/img_slide_07.jpg">
        <div class="caption right-align">
          <h3>Dynamic Workshop</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="/img/frontend/img_slide_09.jpg">
      </li>
      <li>
        <img src="/img/frontend/img_slide_12.jpg">
      </li>
      <li>
        <img src="/img/frontend/img_slide_13.jpg">
      </li>
      <li>
        <img src="/img/frontend/img_slide_14.jpg">
      </li>
    </ul>
  </div>

  <div class="divseparetor"></div>

  <div class="row">
    <div class="col s12 m6 l3">
      <a href="">
        <img src="/img/frontend/banner1.gif" style="width:100%;height:auto;">
      </a>
    </div>
    <div class="col s12 m6 l3">
      <a href="">
        <img src="/img/frontend/banner2.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/banner2on.png'" onmouseout="this.src='/img/frontend/banner2.png'">
      </a>
    </div>
    <div class="col s12 m6 l3">
      <a href="">
        <img src="/img/frontend/banner3.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/banner3on.png'" onmouseout="this.src='/img/frontend/banner3.png'">
      </a>
    </div>
    <div class="col s12 m6 l3">
      <a href="">
        <img src="/img/frontend/banner4.png" style="width:100%;height:auto;"  onmouseover="this.src='/img/frontend/banner4on.png'" onmouseout="this.src='/img/frontend/banner4.png'">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="mapwrapper">
      <div class="map">
        <h4>Check Out Our Locations</h4>


        <div style="text-align:center;" class="imageMap">
          <img id="myImage" src="/img/frontend/map.png"  alt="Planets" usemap="#planetmap">
          <div class="hotspots">
            <div title=""><a href="http://chinese2.ilchi.com/" class="p1" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>WA</p></a></div>
            <div title=""><a href="http://chinese2.ilchi.com/" class="p2" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>OR</p></a></div>
            <div title=""><a href="http://chinese.ilchi.com/" class="p3" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>NV</p></a></div>
            <div title=""><a href="http://www.ilchi.net/" class="p4" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>CA</p></a></div>
            <div title=""><a href="http://www.ilchi.jp/" class="p5" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>AZ</p></a></div>
            <div title=""><a href="http://german.ilchi.com/" class="p6" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>CO</p></a></div>
            <div title=""><a href="http://french.ilchi.com/" class="p7" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>NM</p></a></div>
            <div title=""><a href="http://italian.ilchi.com/" class="p8" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>HI</p></a></div>
            <div title=""><a href="http://spanish.ilchi.com/" class="p9" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>TX</p></a></div>
            <div title=""><a href="http://russian.ilchi.com/" class="p10" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>MN</p></a></div>
            <div title=""><a href="http://portuguese.ilchi.com/" class="p11" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>WA</p></a></div>
            <div title=""><a href="http://portuguese.ilchi.com/" class="p12" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>IL</p></a></div>
            <div title=""><a href="http://portuguese.ilchi.com/" class="p13" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>GA</p></a></div>
            <div title=""><a href="http://portuguese.ilchi.com/" class="p14" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>NY</p></a></div>
            <div title=""><a href="http://portuguese.ilchi.com/" class="p15" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>VA</p></a></div>
            <div title=""><a href="http://portuguese.ilchi.com/" class="p16" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>NC</p></a></div>
            <div title=""><a href="http://portuguese.ilchi.com/" class="p17" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>FL</p></a></div>
            <div title=""><a href="http://portuguese.ilchi.com/" class="p18" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='//img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>MA</p></a></div>
            <div title=""><a href="http://portuguese.ilchi.com/" class="p19" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='//img/frontend/pin.png'"><p>NJ</p></a></div>
            <div title=""><a href="http://portuguese.ilchi.com/" class="p20" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='//img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>MD</p></a></div>
            <div title=""><a href="http://portuguese.ilchi.com/" class="p21" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>DC</p></a></div>
            
          </div>
        </div>

        <center>
          <span class="ortext">Or</span>
          <div class="find_wrap">
            <input name="txtZipCode" type="text" id="txtZipCode" placeholder="Enter Zip code" class="input_find placeholder" onkeypress="if (event.keyCode == 13) {__doPostBack('btnZipCode',''); return false;}">
            <input title="Find a Center" type="button" onclick="goZipCode();" class="btn_find">
          </div>
        </center>

      </div>
    </div>
    <div class="enewswrapper">

      <div class="enewsletter">
        <fieldset class="fieldsets">

          <div class="etitle">
            <div class="titletext">e-Newsletter</div>
          </div>

          <div class="emailwarpper">
            <div class="ewarp">
              <div class="email_wrap">
                <input type="email" value="" name="EMAIL" class="input_email placeholder" placeholder="Enter your email address" id="mce-EMAIL">
                <input type="submit" value="Submit" onclick="goNewsLetter();" name="subscribe" id="mc-embedded-subscribe" class="btn_email">
              </div>
            </div>
          </div>

          <div class="socials">
            <div class="socialcontent">
              <img src="/img/frontend/icofacebook.gif">
              <img src="/img/frontend/icotwitter.gif">
              <img src="/img/frontend/icogoogle.gif">
              <img src="/img/frontend/icoyoutube.gif">
            </div>
          </div>

        </fieldset>
      </div>

      <div class="successstorywrapper">
        <div class="successstory">
          <h4>Success Stories</h4>
          <div class="about-flex flexslider">
            <ul class="slides">
              <li>
                <!-- Image, Name and Designation -->
                <h6><div class="circleimages"><div class="circle"><img src="/img/frontend/img_people02.jpg" alt="" class="alignleft" /></div></div>Ashok, CEO <span class="meta">Info Systems</span></h6>
                <div class="clearfix"></div>
                <hr />
                <!-- Para -->
                <p>Cras enim ipsum luctus at condimentum eleifend. Nullam euismod pelleque purus libero cursus. Aenean consequat condintum nisi convallis urna.</p>
              </li>
              <li>
                <!-- Image, Name and Designation -->
                <h6><div class="circleimages"><div class="circle"><img src="/img/frontend/img_people03.jpg" alt="" class="alignleft" /></div></div>Ravi Kumar, CTO <span class="meta">Babu Systems</span></h6>
                <div class="clearfix"></div>
                <hr />
                <!-- Para -->
                <p>Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et  fames ac turpis egestas. </p>
              </li>
              <li>
                <!-- Image, Name and Designation -->
                <h6><div class="circleimages"><div class="circle"><img src="/img/frontend/img_people04.jpg" alt="" class="alignleft" /></div></div>Babu Kannan, Manager <span class="meta">Ravi Systems</span></h6>
                <div class="clearfix"></div>
                <hr />
                <!-- Para -->
                <p>Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem  . Fusce  leo vitae velit interdum at laoreet justo ullamcorper.</p>
              </li>               
            </ul>
          </div>


        </div>
      </div>

      <div class="giveawaywrapper">
        <div class="giveaway">
          <h4>Giveaway</h4>
          <img src="/img/frontend/giveaway.jpg" style="width:100%;height:auto;">  
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <div class="stateandcontactlist">
        <div class="statelist">
          <h5 class="title">Locations<span> Franchises Operated by affiliated company</span></h5>
          
          <ul class="list">
           <li class="category">Arizona</li>
           <li class="link"><a href="http://www.dahnyoga.com/Glendale-AZ">Glendale-AZ</a></li>
           <li class="link"><a href="http://www.dahnyoga.com/Scottsdale">Scottsdale</a></li>
           <li class="link"><a href="http://www.dahnyoga.com/Sun-City">Sun City</a></li>
           <li class="link"><a href="http://www.dahnyoga.com/Tempe">Tempe</a></li>
           <li class="category">California</li>
           <li class="link"><a href="http://www.bodynbrain.com/Anaheim-Hills">Anaheim Hills*</a></li
             ><li class="link"><a href="http://www.dahnyoga.com/Brea">Brea</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Burbank">Burbank*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Cerritos">Cerritos</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Chatsworth">Chatsworth*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Fremont">Fremont</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Garden-Grove">Garden Grove*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Glendale">Glendale</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Irvine">Irvine*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Manteca">Manteca*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Monrovia">Monrovia*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Oceanside">Oceanside</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Pasadena">Pasadena</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Rolling-hills">Rolling Hills</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/san-mateo">San Mateo</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/San-Ramon">San Ramon*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Santa-Clara">Santa Clara</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Tarzana">Tarzana*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Torrance">Torrance</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Valley">Valley</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Westchester-CA">Westchester-CA*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Wilshire">Wilshire**</a></li>
           </ul>
           <ul class="list">
             <li class="category">Colorado</li>
             <li class="link"><a href="http://www.dahnyoga.com/Denver">Denver</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Golden">Golden*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Kipling">Kipling</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Littleton">Littleton*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Westminster">Westminster</a></li>
             <li class="category">District of Columbia</li>
             <li class="link"><a href="http://www.dahnyoga.com/Washington-DC">Washington DC</a></li>
             <li class="category">Florida</li>
             <li class="link"><a href="http://www.bodynbrain.com/Miami">Miami*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Pinecrest">Pinecrest*</a></li>
             <li class="category">Georgia</li>
             <li class="link"><a href="http://www.dahnyoga.com/Buckhead">Buckhead</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Duluth">Duluth*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Peachtree-Buckhead">Peachtree Buckhead*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Roswell">Roswell</a></li>
             <li class="category">Hawaii</li>
             <li class="link"><a href="http://www.dahnyoga.com/Aiea">Aiea</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Honolulu">Honolulu</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Kaimuki">Kaimuki</a></li>
             <li class="category">Illinois</li>
             <li class="link"><a href="http://www.bodynbrain.com/Bloomingdale">Bloomingdale*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Glen-Ellyn">Glen Ellyn</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Humboldt-Park">Humboldt Park*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Libertyville">Libertyville</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/mtprospect">Mt Prospect</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Northbrook">Northbrook</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Oak-Park">Oak Park*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Orland-Park">Orland Park</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Skokie">Skokie*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/St-Charles">St. Charles*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Westmont">Westmont</a></li>
           </ul>
           <ul class="list">
             <li class="category">Maryland</li>
             <li class="link"><a href="http://www.bodynbrain.com/Aspen-Hill">Aspen Hill*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Beltsville">Beltsville*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Bethesda">Bethesda</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Gaithersburg">Gaithersburg</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Rockville">Rockville*</a></li>
             <li class="category">Massachusetts</li>
             <li class="link"><a href="http://www.dahnyoga.com/Arlington">Arlington</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Brookline">Brookline</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Cambridge">Cambridge</a></li>
             <li class="category">Minnesota</li>
             <li class="link"><a href="http://www.bodynbrain.com/Maple-Grove">Maple Grove*</a></li>
             <li class="category">Nevada</li>
             <li class="link"><a href="http://www.dahnyoga.com/Durango">Durango</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Henderson">Henderson</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Montecito">Montecito</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/North-Las-Vegas">North Las Vegas*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Rainbow">Rainbow*</a></li>
             <li class="category">New Jersey</li>
             <li class="link"><a href="http://www.dahnyoga.com/CGI">CGI**</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Madison">Madison*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Ramsey">Ramsey*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Ridgefield">Ridgefield*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Wayne">Wayne*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Wyckoff">Wyckoff</a></li>
             <li class="category">New Mexico</li>
             <li class="link"><a href="http://www.dahnyoga.com/Albuquerque">Albuquerque</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Cottonwood">Cottonwood</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Downtown-Albuquerque">Downtown Albuquerque*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Santa-Fe">Santa Fe</a></li>
           </ul>
           <ul class="list">
             <li class="category">New York</li>
             <li class="link"><a href="http://www.bodynbrain.com/babylon-village">Babylon Village*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Bay-Ridge">Bay Ridge</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Bronx">Bronx</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Brooklyn-Heights">Brooklyn Heights</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/East-Meadow">East Meadow</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Flushing">Flushing</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Forest-Hills">Forest Hills</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Franklin-Square">Franklin Square</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Great-Neck">Great Neck</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Kew-Gardens-Hills">Kew Gardens Hills*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Lynbrook">Lynbrook*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Manhattan">Manhattan*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Mineola">Mineola*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/New-City">New City**</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/New-Rochelle">New Rochelle*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Park-East">Park East**</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Smithtown">Smithtown*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Stony-Point">Stony Point*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Sunnyside">Sunnyside*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Syosset">Syosset*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Union-Square">Union Square**</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Westchester">Westchester**</a></li>
             <li class="category">North Carolina</li>
             <li class="link"><a href="http://www.bodynbrain.com/Raleigh">Raleigh*</a></li>
             <li class="category">Oregon</li>
             <li class="link"><a href="http://www.dahnyoga.com/Beaverton">Beaverton</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Portland">Portland*</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/West-Linn">West Linn*</a></li>
           </ul>
           <ul class="list">
             <li class="category">Texas</li>
             <li class="link"><a href="http://www.dahnyoga.com/Belt-Line">Belt Line</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Champion">Champion</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Copperfield">Copperfield</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Katy">Katy</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Kingwood">Kingwood*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Missouri-City">Missouri City</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/The-Woodlands">The Woodlands*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Voss">Voss</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Westpark">Westpark</a></li>
             <li class="category">Virginia</li>
             <li class="link"><a href="http://www.dahnyoga.com/Alexandria">Alexandria</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Burke">Burke</a></li>
             <li class="category">Washington</li>
             <li class="link"><a href="http://www.bodynbrain.com/Everett">Everett*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Kirkland">Kirkland</a></li>
             <li class="link"><a href="http://www.bodynbrain.com/Lynnwood">Lynnwood*</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Mill-Creek">Mill Creek</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Ravenna-Park">Ravenna Park</a></li>
             <li class="link"><a href="http://www.dahnyoga.com/Tacoma">Tacoma</a></li>
             <li class="category">Wisconsin</li>
             <li class="link"><a href="http://www.bodynbrain.com/Madison-WI">Madison-WI*</a></li>
           </ul>
           
         </div>

         <div class="contactlists">
          <h4>Stay Connected</h4>
          <h6>Contact Us</h6>
          <p>877-477-9642</p>
          <h6>Email Us at</h6>
          <span>
            Let us know how we can help you.
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <div class="footer">

        <div class="welcomefooter">
          <h6 class="footertitle">Welcome to Body & Brain!</h6>
          <p>We offer effective stress management solutions through yoga classes, tai chi classes, self-help workshops, </p>
          <p>yoga and meditation retreats based on simple, holistic practices. </p>
          <p> Try it for yourself and experience total body and mind relaxation!</p>
        </div>

        <div class="footerul">
          <div class="sitecenter">
            <ul class="site">
              <li>
                <p><a href="/what-is">About </a></p>
                <a href="/what-is/ilchi-lee" class="link">Founder Ilchi Lee</a>
                <a href="/personal-services" class="link">Personal Services</a>
              </li>
              <li>
                <p><a href="/classes">Classes</a></p>
                <a href="/classes" class="link">Yoga</a>
                <a href="/classes/energy-martial-arts" class="link">Tai Chi / Qigong</a>
              </li>
              <li>
                <p><a href="/workshops">Workshops</a></p>
                
                <a href="/workshops/initial-awakening" class="link">Initial Awakening™</a>
                <a href="/workshops/finding-true-self" class="link">Finding True Self™</a>
              </li>
              <li class="success">
                <p><a href="/yoga-life">Community</a></p>
                <a href="/yoga-life/Yoga-Tips/1/1" class="link">Yoga Tips</a>
                <a href="http://www.bodynbrainfoundation.org" target="_blank" class="link">Body &amp; Brain   Foundation</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      
      <div class="mid">
        <div class="telwrapper">
          <div class="telcenter">
            <a href="tel:1-877-477-YOGA" class="tel">1-877-477-YOGA <span>(9AM-5PM MST, MON-FRI)</span></a>
          </div>
        </div>
        <div class="countrywrapper">
          <div class="countrycenter">
            <div class="country">
              <label for="select_country">Choose Your Country</label>
              <div class="select_wrap">
                <span class="value">Select</span>
                <select name="selecter" style="width:130px;" onchange="location=this.value">
                  <option value="#">Select</option>
                  <option value="http://bodyandbrain.ca">Canada</option>
                  <option value="http://www.hspholistic.de/">Germany</option>
                  <option value="http://www.dahnworld.co.jp/">Japan</option>
                  <option value="http://www.dahnworld.com/">Korea</option>
                  <option value="http://vkontakte.ru/club23685437">Russia</option>
                  <option value="http://www.dahnyoga.co.uk/">United Kingdom</option>
                  <option value="http://www.brainyoga.com/">Hong Kong</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="bottom">
      <a href="/about-us">Our Company</a>
      <a href="/contactus">Contact Us</a>
      <a href="/what-is/faq">FAQ</a>
      <a href="/terms-of-use">Terms of Use</a>
      <a href="/sitemap">Site Map</a>
      <span class="copyright">© 2015 Body &amp; Brain Yoga · Tai Chi</span>
    </div>
  </div>






</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/fe/scripts/materialize/materialize.js"></script>
<script type="text/javascript" src="/fe/scripts/others/jquery.flexslider-min.js"></script>
<script type="text/javascript">
  $( document ).ready(function() {
    $(".button-collapse").sideNav();
    $('.slider').slider({full_width: false});


    $('.about-flex').flexslider({
      direction: "vertical",
      controlNav: true,
      directionNav: false,
      pauseOnHover: true,
      slideshowSpeed: 8000      
    });
  });
</script>
</body>
</html>