<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head ng-controller="VisitController">
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
 <title>Power Brain Education</title>
 <meta name="description" content="Power Brain Education">
 <meta name="keywords" content="Power Brain Education">
 <link href="/fe/css/bootstrap.css" rel="stylesheet">
 <link href="/fe/css/powerbrain.css" rel="stylesheet">
 <link href="/fe/css/slider.css" rel="stylesheet">
 <link rel="shortcut icon" href="/img/favicon/favicon.ico">
 <script type="text/javascript">
  var eventid = "";
  var ip ="<?php echo $_SERVER['REMOTE_ADDR']; ?>";
</script>
<script type="text/javascript" src="/fe/scripts/others/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/vendors/angular/angular.js"></script>
<style>
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
</style>
</head>
<body>
  <?php if($logoimage->value1 == 1){header('Location: ../../maintenance/');}?>
  <div class="box-shadow">
    <header id="menuSlide" class="navbar  navbar-fixed-top" >
      <div class="container">
        <article class="innerwrap ">
          <!-- LOGO -->
          <div class="logo">
            <a  onClick="window.location.href = '#'" >
              <img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $logoimage->logo; ?>">
            </a>
          </div>
          <!-- END LOGO -->
          <!-- NAVIGATION  FULL WIDTH-->
          <nav id="mainMenu" >

           <ul class="menuMain">
             <?php
             $bilang = count($parentMenu);
             foreach ($parentMenu as $key => $value){
              --$bilang;if($bilang==0){$arrow= '<i class="arr"></i>';}else{$arrow="";} // ARROW
              if($parentMenu[$key]->parentmenu =="Learning Community"){
                ?><li><a  href="/../elearning"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS LEARNING COMMUNITY
              }elseif($parentMenu[$key]->parentmenu =="Blog"){
                ?><li><a  href="/../blogs"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS BLOG
              }
              else{
                $page_link = '/../'.$parentMenu[$key]->slug.'/'.$parentMenu[$key]->subslug.'';
                ?><li><a  href="<?=$page_link?>"><?=$parentMenu[$key]->parentmenu?><?=$arrow?></a></li><?php
              }
            }
            ?>
          </ul>
        </nav>
        <!-- END NAVIGATION  FULL WIDTH-->
        <div id="subMenu" >
          <nav class="sub">
            <div class="sub-title">
              <a href="#" id="nav-close" class="pull-right"><img src="/../img/close.png" class="closemenu"></a>
              <img src="/../img/frontend/logo.png">
              <div class="clearBoth"></div>
            </div>
            <ul>
             <?php
             $bilang = count($parentMenu);
             foreach ($parentMenu as $key => $value){
              --$bilang;if($bilang==0){$arrow= '<i class="arr"></i>';}else{$arrow="";} // ARROW
              if($parentMenu[$key]->parentmenu =="Learning Community"){
                ?><li><a  href="/../elearning"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS LEARNING COMMUNITY
              }elseif($parentMenu[$key]->parentmenu =="Blog"){
                ?><li><a  href="/../blogs"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS BLOG
              }
              else{
                $page_link = '/../'.$parentMenu[$key]->slug.'/'.$parentMenu[$key]->subslug.'';
                ?><li><a  href="<?=$page_link?>"><?=$parentMenu[$key]->parentmenu?><?=$arrow?></a></li><?php
              }
            }
           ?>
         </ul>
       </nav>
       <div class=" pull-right">
        <a id="nav-expander" class="nav-expander fixed">
          <img src="/../img/responsivemenu.png" class="responsivemenu"><i class="fa fa-bars fa-lg white"></i>
        </a>
      </div>
    </div>
  </article>
</div>
</header>
<div style="height:58px;"></div>
<div class="clearboth"></div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="container">
  <div id="slider1_container" class="slider-container">
    <div u="slides" class="sli-cont">

      <?php 
      $num=0;
      $img = array(
        '/img/dthumbnail/img-m1-s.jpg',
        '/img/dthumbnail/img-m2-s.jpg',
        '/img/dthumbnail/img-m3-s.jpg',
        '/img/dthumbnail/img-m4-s.jpg',
        '/img/dthumbnail/img-m5-s.jpg',
        );
        foreach ($mainpageslider as  $value) {  ?>

        <div>
          <img u="image"  src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $value->filename ?>" />
          <img u="thumb" src="<?=$img[ $num] ?>" />
        </div>

        <?php $num++;  } ?>
        
      </div>
      <span u="arrowleft" class="jssora05l" ></span>
      <span u="arrowright" class="jssora05r" > </span>

      <div u="thumbnavigator" class="jssort01" style="left: 0px; bottom: 0px;">
        <div u="slides" style="cursor: default;">
          <div u="prototype" class="p">
            <div class=w><div u="thumbnailtemplate" class="t"></div></div>
            <div class=c></div>
          </div>
        </div>
      </div>
    </div>
    <div class="video">
      <div class="con">
        <iframe width="460" height="282" src="https://www.youtube.com/embed/hzCg2KvN3GY" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="con2 cccc">
        <p class="flt flttt">What is Brain Education?</p>
        <p class="frh">Power Brain Training Center</p>
      </div>
    </div>
  </div>


<div class="container">
  <div class="vid">
    <div class="videoz">
      <div class="con">
        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/hzCg2KvN3GY" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="con2">
        <p class="flt">What is Brain Education?</p>
        <p class="frh">Power Brain Training Center</p>
      </div>
    </div>
  </div>
  <div id="qwidth">
    <article  class="wrap-cont qts">
     <i class="q1"></i> 
     Power Brain Training utilizes an exciting combination of physical, emotional and cognitive exercises to tap into our infinite brain potential. Our programs empower children and adults to improve <span class="yell">focus</span>, <span class="org">confidence</span>, <span class="red">memory</span>, <span class="grn">creativity</span> and <span class="skyblue">emotional wellness</span> while reducing stress and anxiety. <i class="q2"></i> 
   </article>
 </div>
</div>

<div class="container">
  <!-- FOUR COL -->
  <article class="wrap-cont">
    <p class="title">Power Brain Training Center</p>
    <?php 
      foreach ($pageHome as $key => $value) {
        foreach ($value as $k => $val) {
          if($k=="Power Brain Training Center"){

            switch($val['title']){
                case "For Kids":
                    $slug = "power-brain-training/for-kids";
                    break;
                case "For Schools":
                    $slug = "power-brain-school/program";
                    break;
                case "For Adults":
                    $slug = "power-brain-training/for-adults";
                    break;
                case "For Families":
                    $slug = "power-brain-training/for-families";
                    break;
            }
            echo '
            <section class="clmn-4">
              <p class="round-img"><a href="/../'.$slug.'"> <img src="'.$this->config->application->amazonlink.'/uploads/bannerimage/'. $val['banner'].'"></a></p>
              <div class="listCont">
                <p class="t1">'.$val['title'].'</p>
                <p class="t2">'.$val['desc'].'</p>
                <p class="more"><a href="/../'.$slug.'">Read More</a></p>
              </div>
            </section>
            ';
          }else{
            // Slug not Found
          }
        }
      }
    ?>
  </article>
  <!-- END FOUR COL -->
</div>
<div class="container">
  <!-- THREE COL -->
  <article class="wrap-cont">
    <section class="clmn-3 marj-r">
      <p class="title">PB Information</p>
      <?php 
      $slugs = array("Schedule an Introductory Session"=>"get-started/schedule-an-introductory-session","Find a Center"=>"power-brain-training/find-center","Request Information"=>"get-started/request-information");
      foreach ($pageHome as $key => $value) {
        foreach ($value as $k => $val) {
          if($k=="PB Information"){
            echo '
             <div class="box">
              <a href="/../'.$slug.'"><img src="'.$this->config->application->amazonlink.'/uploads/bannerimage/'. $val['banner'].'" imglink></a>
              <div class="listCont">          
                <h3><a href="/../power-brain-training/find-center">'.$val['title'].'</a></h3>
                <p class="t2">'.$val['desc'].'</p>
                <p class="more"><a href="/../'.$slugs[$val['title']].'">See More Detail</a></p>
              </div>
            </div>
            ';
          }else{
            // Slug not Found
          }
        }
      }
    ?>
    </section>

    <section class="clmn-3 marj-r">
      <p class="title">5 Benefits</p>
      <?php 
        $kulor = array("Focus"=>"yell","Confidence"=>"org","Memory"=>"red","Creativity"=>"grn","Emotional Wellness"=>"skyblue");
        foreach ($pageHome as $key => $value) {
          foreach ($value as $k => $val) {
            if($k=="5 Benefits"){
              echo '
               <a href="/../benefits/'.str_replace(" ", "-", strtolower($val['title'])) .'">
                <div class="box2">
                  <img src="'.$this->config->application->amazonlink.'/uploads/bannerimage/'. $val['banner'].'" class="img-2">
                  <div class="listCont">          
                    <h4 class="'.$kulor[$val['title']].'">'.$val['title'].'</h4>
                    <p class="t2">'.$val['desc'].'</p>
                  </div>
                </div>
              </a>
              ';
            }else{
              // Slug not Found
            }
          }   
        }   
      ?>

    </section>
    <section class="clmn-3" ng-cloak>
      <p class="title">Upcoming Events</p>
      <div class="sched" ng-controller="EventglobalCtrl">
        <ul class="list">
        <li ng-repeat="data in data.data | limitTo:3" class="upcoming_list" ><a href="/../event/{[{data.eventid}]}/">
            {[{data.title}]}</a> <span class="up_dates">   {[{data.datefrom}]} - {[{data.dateto}]}</span><span class="up_local">
          </span>
        </li>
      </ul>
      <p class="more"><a href="/../power-brain-training/event">See More Information</a></p>

    </div>

    <div class="succ-story">
      <p class="title">Success Stories</p>
      <p class="round-img"><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/testimonialimage/<?php echo $featuredTestimonial->image; ?>" class="img-r"></p>
      <p class="t2"><?php echo $featuredTestimonial->content; ?></p>
      <p class="t3"><?php echo $featuredTestimonial->sender; ?></p>
    </div>
  </section>
</article >


<!-- END THREE COL -->
</div>
<div class="container">
  <!-- SUBFOOTER -->
 <?=$this->view->getRender('etemplates', 'eFooter');?> 
<!-- SUBFOOTER -->
</div>
</div>
<div class="container">
  <!-- FOOTER -->
  <footer class="fcopy">
    Copyright 2015 Power Brain Training Center. All rights reserved.
  </footer>
  <!-- END FOOTER -->
</div>
<script src="/fe/scripts/others/bootstrap.min.js"></script>
<script src="/fe/scripts/others/resposive-menu.js"></script>
<script type="text/javascript" src="/vendors/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/vendors/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/be/js/angular/ngStorage.min.js"></script>
<script type="text/javascript" src="/be/js/angular/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/be/js/angular/angular-translate.js"></script>
<script type="text/javascript" src="/be/js/angular/ngStorage.min.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-load.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-jq.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-bootstrap-tpls.min.js"></script>
<script src="/vendors/angular-sanitize/angular-sanitize.min.js"></script>

<script type="text/javascript" src="/fe/scripts/app.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/factory.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/controllers.js"></script>
<script type="text/javascript" src="/fe/scripts/directives/directives.js"></script>
<script type="text/javascript" src="/fe/scripts/config.js"></script>


<script src="/vendors/moment/moment.js"></script>
<script src="/vendors/angular-moment/angular-moment.js"></script>
<script src="/globaljs/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
<script src="/vendors/angular-google-maps/dist/angular-google-maps.min.js"></script>


<!-- Auth0 Lock script and AngularJS module -->
<script src="//cdn.auth0.com/js/lock-7.5.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
<script src="//cdn.auth0.com/w2/auth0-angular-4.js"> </script>

<!-- ///Event -->
<script type="text/javascript" src="/fe/scripts/controllers/globalevent/global.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/globalevent/globalfactory.js"></script>


<!-- ////////////////////////// SLIDER -->
<script type="text/javascript" src="/fe/scripts/others/jssor.js"></script>
<script type="text/javascript" src="/fe/scripts/others/jssor.slider.js"></script>
<script type="text/javascript" src="/fe/scripts/others/slidermenu.js"></script>

<!-- ///CENTER -->
<script type="text/javascript" src="/fe/scripts/controllers/centers/centerctrl.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/center/centerinfo.js"></script>
<!-- Google Analytics-->

<!-- VISITOR-->
<script type="text/javascript" src="/fe/scripts/controllers/visitor/visitorctrl.js"></script>

<script src="/vendors/angular-ui-calendar/calendar.min.js"></script>
<script src="/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/vendors/fullcalendar/dist/gcal.js"></script>

<!-- ///UPLOADIMAGE -->
  <script src="/vendors/ng-file-upload/ng-file-upload.min.js"></script>
<script src="/vendors/ng-file-upload/ng-file-upload-shim.js"></script>

<?=$script_google->script?>


</body>
</html>