
.drop-box, .loadercontainer, .spinner {
    text-align: center;
}
.drop-box {
    background: #F8F8F8;
    border: 2px dashed #ddd;
    height: 100px;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin: 10px 0;
    font-size: 20px;
}
.dragdropcenter {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.spinner {
    margin: 30px auto;
    width: 70px;
    height: 50px;
    font-size: 10px;
}
.spinner>div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.spinner .rect4 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s;
}
@-webkit-keyframes stretchdelay {
    0%, 100%, 40% {
    -webkit-transform: scaleY(.4);
}
20% {
    -webkit-transform: scaleY(1);
}
}@keyframes stretchdelay {
    0%, 100%, 40% {
    transform: scaleY(.4);
    -webkit-transform: scaleY(.4);
}
20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
}
}.loadercontainer {
    overflow: hidden;
}
