/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

        .binfo-right{
            width: 430px;
            float: right;
            /*position: absolute;*/
            top: 76px;
            margin: 20px 20px;
            /*left: 57%;*/
            border-radius: 10px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

      
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
         .binfo-right{
            width: 100% !important;
            float: none !important;
            /*position: absolute;*/
            top: 76px;
            margin: auto !important;
            /*left: 57%;*/
            border-radius: 10px;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }