.slider-container{
    position: relative; width: 720px; height: 474px; overflow: hidden;
}

.sli-cont{
cursor: move; position: absolute; left: 0px; top: 0px; width: 720px; height: 474px; overflow: hidden;
}

/* jssor slider thumbnail navigator skin 07 css */
            /*
            .jssort07 .p            (normal)
            .jssort07 .p:hover      (normal mouseover)
            .jssort07 .pav          (active)
            .jssort07 .pav:hover    (active mouseover)
            .jssort07 .pdn          (mousedown)
            */
            .jssort07 {
                position: absolute;
                /* size of thumbnail navigator container */
                width: 800px;
                height: 474px;
            }

            .jssort07 .p {
                position: absolute;
                top: 0;
                left: 0;
                width: 99px;
                height: 66px;
            }

            .jssort07 .i {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 99px;
                height: 66px;
                filter: alpha(opacity=80);
                opacity: .8;
            }

            .jssort07 .p:hover .i, .jssort07 .pav .i {
                filter: alpha(opacity=100);
                opacity: 1;
            }

            .jssort07 .o {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 110px;
                height: 73px;
                border: 1px solid #000;
                transition: border-color .6s;
                -moz-transition: border-color .6s;
                -webkit-transition: border-color .6s;
                -o-transition: border-color .6s;
            }

            .jssort07 .pav .o {
                border-color: #0099ff;
            }

            .jssort07 .p:hover .o {
                border-color: #fff;
                transition: none;
                -moz-transition: none;
                -webkit-transition: none;
                -o-transition: none;
            }

            .jssort07 .p.pdn .o {
                border-color: #0099ff;
            }

            * html .jssort07 .o {
                /* ie quirks mode adjust */
                width /**/: 99px;
                height /**/: 66px;
            }



            /* jssor slider arrow navigator skin 11 css */
                /*
                .jssora11l                  (normal)
                .jssora11r                  (normal)
                .jssora11l:hover            (normal mouseover)
                .jssora11r:hover            (normal mouseover)
                .jssora11l.jssora11ldn      (mousedown)
                .jssora11r.jssora11rdn      (mousedown)
                */
                .jssora11l, .jssora11r {
                    display: block;
                    position: absolute;
                    /* size of arrow element */
                    width: 37px;
                    height: 37px;
                    cursor: pointer;
                    background: url(../img/a11.png) no-repeat;
                    overflow: hidden;
                }

                .jssora11l {
                    background-position: -11px -41px;
                }

                .jssora11r {
                    background-position: -71px -41px;
                }

                .jssora11l:hover {
                    background-position: -131px -41px;
                }

                .jssora11r:hover {
                    background-position: -191px -41px;
                }

                .jssora11l.jssora11ldn {
                    background-position: -251px -41px;
                }

                .jssora11r.jssora11rdn {
                    background-position: -311px -41px;
                }