input[type='checkbox']:disabled {
    cursor: default;
}
.frm-input {
	width:30%;
	margin:auto;
	margin-bottom: 15px;
}

.login-btn{
	padding-left:20% !important;
	padding-right:20% !important;
}


.elear-content-v{
	max-width: 900px;
	margin: auto;
	/*background: #555;*/
	padding: 10px;
	border: 1px #eee solid;
}
.elear-content{
	max-width: 800px;
	margin: auto;
	/*background: #555;*/
	padding: 10px;
	border: 1px #eee solid;
}
.resize-menu{
	float:left;
	width:80% !important;
}
.w-msg{
	float: right;
	padding: 10px;
}
.w-msg p{
	margin: 0px 15px 0px 0px!important;
}

/*VIDEO CONT*/
 .vid-cont{
	width: 65%;
	max-height: 280px;
	float: left;
}
 .vid-cont a{
	text-decoration: none;
}
/*GALLERY CONT*/
.gal-cont{
	width: 33%;
	/*padding: 10px;*/
	height: 280px !important;
	float: left;
	margin: 0px 0px 0px 10px;
	overflow: hidden;
}
.gal-cont img{
	width: 100%;
	height: 280px !important;
}
/* Welcom 3 Box*/
.w3-box{
	float: left;
	width: 33%;
	height: 230px;  
	/*background: #eee;*/
	padding: 10px;
	/*border: 1px #000 solid;*/
	margin: 10px 0px 0px 0px;
}

.w3-box .nm{
	margin: 0px;
}
.w3-box .c-box{
	width: 100%;
	height: 90%;
	border: 1px solid #bbb;
	padding: 10px;
}

.w3-box .c-box .lastvisit{
	border: 1px solid #bbb;
	padding: 10px;
}




/** SLIDER**/
.flex-caption {
	width: 100%;
	padding: 2%;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	font-size: 14px;
	line-height: 18px;
	margin: 0px !important;
	height: 80px;

}
.flex-caption p{
	margin: 0px !important;
}
li.css a {
	border-radius: 0;
}

.img-icon{
	width: 30px;
	height: 30px;
}




.marg-bottom{
	margin-bottom:100px;
}

.d-table{
	width: 100%;
}
.d-table td{
	border: 1px solid #ccc;
	margin: 0px !important;
}

.chk{
	font-size: 50px;
	height:25px;
	width:25px;
}
.chk{
	font-size: 50px;
	height:25px;
	width:25px;
}

/*PAGE WITH SUBPAGE LIST*/
.e-cont{
	max-width: 700px;
	margin: auto;
	/*background: #555;*/
	padding: 10px;
	border: 1px #eee solid;
}
.e-cont p{
	margin: 0px !important;
}
.e-cont a:hover{
	text-decoration: none !important;
}
.ebanner{
	max-width: 166px;
	float: left;
	margin-right: 10px;
}
.econtent{
	max-width: 500px;
	float: left;
}


.pdf-media{
	width: 90px;
	padding: 5px 5px 10px 5px;
	float: left;
	/*border: 1px #bbb solid;*/
	margin: 0px 0px 0px 10px !important;
}
.img-pdf{
	width: 70px;
	height: 70px;

}

.blog-fetured{
	float: left;
	width:225px !important; 
	height:150px !important;
	margin-right: 10px;

}
.hide-p p{
	display: none !important;
}
.hide-p iframe{
	height:150px !important;
}

.submit-class {
	background: #ff9900;
	font-size: 20px;
	padding: 20px 40px 20px 40px;
	border: 1px solid #aaa;
	margin: 30px 0px 50px 0px;
	border-radius: 10px;
}

.el-frame iframe{

	height: 446px;
	max-width: 800px !important;
	
}

/*----- Bottom Level -----*/
.drop li:hover .sub-menu {
    z-index:1;
    opacity:1;
    padding: 0px;
}
 
.sub-menu {
    width:20%;
    position:absolute;
    top:340px;
    left:25%;
    z-index:-5;
    opacity:0;
    transition:opacity linear 0.15s;
    background: #fff;
    -webkit-box-shadow: 1px 9px 50px -9px rgba(0,0,0,0.73);
	-moz-box-shadow: 1px 9px 50px -9px rgba(0,0,0,0.73);
	box-shadow: 1px 9px 50px -9px rgba(0,0,0,0.73);

}
.drop li:hover .sub-menu:hover a {
	text-decoration: none !important;
	padding:0px !important ;
}
.drop li:hover .sub-menu:hover td {
	padding: 0px !important;
}

.drop li:hover .sub_link{
	font-size: 12px !important; 
}
.drop li:hover.sub_link:hover{
	border-style: none !important;
}

.sub-menu td{
	padding: 0px;
}


.drop li:hover .sub-menu2 {
    z-index:1;
    opacity:1;
    padding: 0px;
}
 
.sub-menu2 {
    width:500px;
    position:absolute;
    top:340px;
    left:23%;
    z-index:-5;
    opacity:0;
    transition:opacity linear 0.15s;
    background: #fff;
    -webkit-box-shadow: 1px 9px 50px -9px rgba(0,0,0,0.73);
	-moz-box-shadow: 1px 9px 50px -9px rgba(0,0,0,0.73);
	box-shadow: 1px 9px 50px -9px rgba(0,0,0,0.73);
}
.sub-menu2 img {
	float: left;
	margin: 10px;
	width: 100px;
}
.drop li:hover .sub-menu2:hover a {
	text-decoration: none !important;
	padding:0px !important ;
}
.drop li:hover.sub_link:hover{
	border-style: none !important;
}

/*/////////////////////////////////*/
.drop li:hover .sub-menu3 {
    z-index:1;
    opacity:1;
    padding: 0px;
}
.sub-menu3 {
    width:500px;
    position:absolute;
    top:340px;
    left:35%;
    z-index:-5;
    opacity:0;
    transition:opacity linear 0.15s;
    background: #fff;
    -webkit-box-shadow: 1px 9px 50px -9px rgba(0,0,0,0.73);
	-moz-box-shadow: 1px 9px 50px -9px rgba(0,0,0,0.73);
	box-shadow: 1px 9px 50px -9px rgba(0,0,0,0.73);
}
.sub-menu3 img {
	float: left;
	margin: 10px;
	width: 100px;
}
.drop li:hover .sub-menu3:hover a {
	text-decoration: none !important;
	padding:0px !important ;
}
.drop li:hover.sub_link:hover{
	border-style: none !important;
}


.up-events ul {
	padding: 0px;
}
.up-events  li {
	padding: 5px 5px 5px 5px;
	background-color: #eee; 
	margin-bottom: 3px;
}
.up-events span {
	padding: 0px;
}

.prof-menu ol{
	padding: 0px;
}
 

.prof-menu li{
	padding: 10px 5px 5px 10px;
	background: #eee;
	margin-bottom: 3px;
}
 


/*MEDIA QUERY*/

@media screen and (max-width:780px){

	.scontainer{
		margin: auto !important;
	}

	/*VIDEO CONT*/
	.vid-cont{
		width: 100%;
	}

	.fadein{
		margin: auto !important;	
	}

	/*GALLERY CONT*/
	.gal-cont{
		width: 100%;
		/*background: #bbb;*/
		height: 280px !important;
		float: left;
		margin: 10px 0px 0px 0px !important;
	}
	/* Welcom 3 Box*/
	.w3-box{
		float: left;
		width: 100% !important;
		height: 230px;  
		padding: 10px;
		margin: 10px 0px 0px 0px;
	}

}


@media screen and (max-width:768px){


}

/*MEDIA QUERY*/
@media screen and (max-width:480px){
	
}

/*MEDIA QUERY*/
@media screen and (max-width:320px){
	
}
