

.prof-wrapper{
	padding: 0px 20px 20px 20px;
}


.prof-menu{
	width: 15%;
	float: left;
}
.side-link li{
	padding: 0px 0px 5px 0px;
}

.prof-content{
	width: 80%;
	float: left;
	min-height: 500px;
	border: 1px solid #e1e1e1;
	padding: 10px;
	margin-bottom: 20px;
}

.prof-content td{
	padding:5px;
}
@media screen and (max-width:1024px){
	.prof-menu{
		width: 100%;
		float: left;
	}

	.prof-content{
		width: 100%;
		float: left;
		min-height: 500px;
		border: 1px solid #e1e1e1;
		padding: 10px;
		margin-bottom: 20px;
	}

}
