




@media screen and (max-width:1278px){
	.fcon-box3{
		float: none !important;
		min-height: 60px;
		border-left: #4c5255 1px solid !important;
		padding: 30px 0 0 2% !important;
		font-family: 'desyrelregular';
		font-size: 18px;
		line-height: 28px;
		color: #0ba2c3;
	}

	
}


@media screen and (max-width:1138px){

	#mainMenu ul {
		padding-left:0px;
	}
}
/*@media screen and (max-width:1170px){*/
	@media screen and (max-width:1265px){
		#mainMenu{
			display: none;
		}
		
	}


	@media screen and (max-width:1207px){
		#mainMenu ul {
			padding-left:0px !important;
		}
		
		.logo img{
			border:none;
			float: left;
			margin: 0px 0px 0px  40px !important;
		}
	}

	@media screen and (max-width:1132px){
		.slide50{
			width: 100% !important;
			float: left;

		}
		#full{
			display: block !important;
		}
		#halffull{
			display: none !important;
		}

		.vid50{
			display: none;
		}
		#slider1_container, .slider-container, .sli-cont img{
			width:100% !important;
		}
		.video {
			display: none;
		}
		.videoz {
			width: 100%;
			display: inherit !important;
			
		}
		.vid{
			width: 49%;
			float: left;
			padding: 10px;
		}
		iframe[Attributes Style] {
			width: 100%;
			border-top-width: 0px;
			border-right-width: 0px;
			border-bottom-width: 0px;
			border-left-width: 0px;
		}

		#qwidth{
			width: 49% !important;
			float: left !important;
			margin-top: 7%;
		}
		
		.clmn-4{
			float: left;
			text-align: center !important;

		}

		.clmn-4 .round-img img{
			border-radius: 100%;
			float: none;
			margin: 0px 0px 15px 0px !important;
			margin-left: 24%;

		}
		.clmn-4 .listCont{
			width: 100% !important;
			float: left;
			margin: 0px 0px 0px 0px;
			padding: 0 10px;
		}
		/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
		.content{
			float: left;
			width: 100% !important;
			padding: 25px 2.5% 25px;
			border-right: #e8e7e7 1px solid;
			font-size: 14px;
			line-height: 18px;

		}
		/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
		.aside{
			width: 100% !important;
			float: right;
			padding: 30px 0;
			border-top: #e8e7e7 1px solid !important;
			margin-left: -1px;


			}.aside .subpath {
				width: 100%;
				float: left;
				padding: 0 0 20px 4% !important;
				margin: 0px !important;
				clear: both;
			}
			.aside .sbn {
				width: 102%;
				float: left;
				padding: 18px 8.1% 18px 5% !important;
				background: #7bcfdb;
				margin-left: -8px;
				margin-bottom: 5px;
				position: relative;
				/*font-family: 'TradeGothicLTPro-Bold';*/
				font-size: 20px;
				line-height: 25px;
				text-transform: uppercase;
				color: #fff;
				text-shadow: 1px 1px 1px #389b9a;
			}
			.aside .sbox img{
				width: 20%;
				float: left !important;
				margin: 0px 10px 0px 0px;
				width: 69px;
				height: 69px;
			}
			
			.aside .sbox .listCont{
				width: 80%;
				float: left !important;
				margin: 0px 0px 0px -500px;
			}

	/*.aside .sbox {
		float: left;
		padding: 15px  0px  20px  3% !important;
		clear: none !important;
		border-bottom: none !important;
		width: 100%;
		}*/

		.aside .sbox2 {
			width: 100%;
			float: left;
			padding: 20px 5%;
			clear: both;
			font-size: 14px;
			line-height: 18px;
			border-top: 1px #ccc solid;
		}
		

	}
	@media screen and (max-width:1085px){
		.marj-r{
			margin: 0px !important;
			
		}


		.col {
			width: 100% !important;
			float: left;
			background: #f3f3f3;
			border-bottom: #cccccc 3px solid;
			
		}
		.col2 {
			width:100%!important;
			float: left ;
			clear: both;
			/*background: #000 !important;*/
		}
		.col2 .box {
			width: 100% !important;
			float: left;
			padding: 20px 20%;
			background: #f3f3f3;
			border-bottom: #bde7ed 3px solid;
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 24px;
			margin-top: 20px !important;
		}
		

	}
	@media screen and (max-width:1084px){

		.clmn-4{
			float: left;
			text-align: center !important;
		}

		.clmn-4 .round-img img{
			border-radius: 100%;
			float: none;
			margin: 0px 0px 15px 0px !important;
			margin-left: 24% !important;

		}
		.clmn-4 .listCont{
			width: 100% !important;
			float: left;
			margin: 0px 0px 0px 0px;
			padding: 0 10px;
			clear: none !important;
		}
		.box .box2{
			padding: 0px 0 15px 0px !important;;
			clear: none !important;
			border-top: #f3f1ee 1px solid;
		}
		.box .video2, .box2 .video2 {
			width: 100% !important;
			margin: auto;
			overflow: hidden;
		}
		.sched{
			width: 45% !important;
			float: left;
		}
		.succ-story{
			width: 45% !important;
			float: left;
			clear: none !important;
			border-top: #f3f1ee 1px solid;
			padding: 20px 2%;
			margin-top: -55px !important;
		}	

		.clmn-3{
			width: 100% !important;
			float: left;

			padding: 0px 10px 0px 10px;
		}


	}
	@media screen and (max-width:1016px){
		.tt{
			height: 15%;
		}
		.adj2{
			float:none;
			width:100%;
			margin-top: 10px;
		}
		.adj{
			float:none;
			width:100%;
		}

		.fcon-box3{
			clear: both !important;
			float: none !important;
			min-height: 60px;
			border-left: none !important;
			padding: 30px 0 0 0px !important;
			font-family: 'desyrelregular';
			font-size: 18px;
			line-height: 28px;
			color: #0ba2c3;
			border-top: #4c5255 1px solid !important;
		}

		.fcon-box1{
			float: left;
			margin-right: 6%;
			padding: 10px 0;
			width: 18%;
			display: block;
		}
		.wdt{
			width: 100% !important;
			
		}



	}
	@media screen and (max-width:946px){

		.fcon-box2{
			float: left;
			min-height: 80px;
			margin-right: 3.5%;
			border-top: #4c5255 1px solid !important;
			border-left: none !important;
			padding: 5px 0 5px 0px !important;	
			width: 100% !important;

		}
		.fcon-box2-1{
			float: left;
			min-height: 80px;
			margin-right: 3.5%;
			border-top: #4c5255 1px solid !important;
			border-left: none !important;
			padding: 5px 0 5px 0px !important;	
			width: 100% !important;

		}
		.fcon-box2-2{
			float: left;
			min-height: 80px;
			margin-right: 3.5%;
			border-top: #4c5255 1px solid !important;
			border-left: none !important;
			padding: 5px 0 5px 0px !important;	
			width: 100% !important;
		}

		.fcon-box1{
			float: left;
			margin-right: 6%;
			/*	padding: 10px 0;*/
			width: 18%;
		}



	}

	/* TABLETS PORTRAIT */
	@media only screen and (max-width: 768px) {
		.vid{
			width: 100%;
			float: left;
			padding: 10px;

		}
		#qwidth{
			width: 100% !important;
			float: left !important;
			margin-top: 0px !important;
		}
		.clmn-4{
			width: 50%  !important;
			float: left;
			text-align: left !important;
			min-height: 170px;
		}
		.clmn-4 .round-img img{
			border-radius: 100%;
			float: left;
			margin: 0px 0px 0px 0px;
			margin-left:0px !important;

		}
		.clmn-4 .listCont{
			width: 60% !important;
			float: left;
			margin: 0px 0px 0px 0px;
			padding: 0 10px;
		}	
		.box{
			width: 100% !important;
			float: left;
			padding: 0px 0 15px 0px !important;;
			clear: none !important;
			border-top: #f3f1ee 1px solid;

		}
		.sched{
			width: 100% !important;
			float: left;
		}
		.succ-story{
			width: 70% !important;
			float: left;
			clear: none !important;
			border-top: #f3f1ee 1px solid;
			padding: 0px !important;
			margin-top: 0px !important;
		}	
		#full-sub{
			display: none !important;
		}
		#min-sub{
			margin-top: 25px;
			display: block !important;
		}
		#min-sub ul{
			padding-left: 0px !important;
		}
		#min-sub li{
			border-bottom: 1px solid #ccc !important;
		}
		#min-sub li:hover {
			background: #0ba2c3;
		}
		#min-sub li:hover a{		
			color: #fff !important;
		}
		#min-sub a {
			font-size:18px; 
			padding:10px 25px; 
			display:inline-block;
			color: #444;
			text-decoration: none;
			width: 100%;
		}
		/*.ttl{
			width: 80% !important;
			margin: 20px;
			top: 8% !important;
			right: 5% !important;
			background:rgba(255, 255, 255, 0.5);
		}*/
		.subbox8 .list {
			width: 100% !important;
			margin-right: 20px;
		}
	}
	@media only screen and (max-width: 644px) {
		.clmn-4{
			width: 50%  !important;
			float: left;
			text-align: center !important;
			min-height: 170px;
		}
		.clmn-4 .round-img img{
			border-radius: 100%;
			float: left;
			margin: 0px 0px 0px 0px;
			margin-left:70px !important;

		}
		.clmn-4 .listCont{
			width: 100% !important;
			float: left;
			margin: 0px 0px 0px 0px;
			padding: 0 10px;
		}	
		.succ-story{
			width: 100% !important;
			float: left;
			clear: none !important;
			border-top: #f3f1ee 1px solid;
			padding: 0px !important;
			margin-top: 0px !important;
		}
		.container{
			overflow: hidden !important;
		}
		.jssora05l, .jssora05r{
			display: none !important;
		}
		.videoz {
			width: 100%;
		}
		.sublink .td1 {
			display:block;
			width: 100% !important;
			font-size: 14px !important;
			border-right: #e8e7e7 1px solid;
			text-align: center !important;
			background: #f2fafb;
		}
		.sublink .td2 {
			display:block;
			font-size: 14px !important;
			width: 100% !important;
			text-align: center !important;
			background: #f2fafb;
		}
	}

	/* SMARTPHONES LANDSCAPE */
	@media only screen and (max-width: 480px) {
		.clmn-4{
			width: 100%  !important;
			float: left;
			text-align: center !important;
			min-height: 170px;
		}
		.clmn-4 .round-img img{
			border-radius: 100%;
			float: left;
			margin: 0px 0px 0px 0px;
			margin-left:35% !important;

		}
	}


	@media only screen and (max-width: 300px) {


	}


	@media screen and (max-width:1278px){
		.fcon-box3{
			float: none !important;
			min-height: 60px;
			border-left: #4c5255 1px solid !important;
			padding: 30px 0 0 2% !important;
			font-family: 'desyrelregular';
			font-size: 18px;
			line-height: 28px;
			color: #0ba2c3;
		}
	}


	@media screen and (max-width:1138px){

		#mainMenu ul {
			padding-left:0px;
		}
	}
	/*@media screen and (max-width:1170px){*/
		@media screen and (max-width:1265px){
			#mainMenu{
				display: none;
			}

		}


		@media screen and (max-width:1207px){
			#mainMenu ul {
				padding-left:0px !important;
			}

			.logo img{
				border:none;
				float: left;
				margin: 0px 0px 0px  40px !important;
			}
		}

		@media screen and (max-width:1132px){
			.slide50{
				width: 100% !important;
				float: left;

			}
			#full{
				display: block !important;
			}
			#halffull{
				display: none !important;
			}

			.vid50{
				display: none;
			}
			#slider1_container, .slider-container, .sli-cont img{
				width:100% !important;
			}
			.video {
				display: none;
			}
			.videoz {
				width: 100%;
				display: inherit !important;

			}
			.vid{
				width: 49%;
				float: left;
				padding: 10px;
			}
			iframe[Attributes Style] {
				width: 100%;
				border-top-width: 0px;
				border-right-width: 0px;
				border-bottom-width: 0px;
				border-left-width: 0px;
			}

			#qwidth{
				width: 49% !important;
				float: left !important;
				margin-top: 7%;
			}

			.clmn-4{
				float: left;
				text-align: center !important;

			}

			.clmn-4 .round-img img{
				border-radius: 100%;
				float: none;
				margin: 0px 0px 15px 0px !important;
				margin-left: 24%;

			}
			.clmn-4 .listCont{
				width: 100% !important;
				float: left;
				margin: 0px 0px 0px 0px;
				padding: 0 10px;
			}
			/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
			.content{
				float: left;
				width: 100% !important;
				padding: 25px 2.5% 25px;
				border-right: #e8e7e7 1px solid;
				font-size: 14px;
				line-height: 18px;

			}
			/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
			.aside{
				width: 100% !important;
				float: right;
				padding: 30px 0;
				border-top: #e8e7e7 1px solid !important;
				margin-left: -1px;


				}.aside .subpath {
					width: 100%;
					float: left;
					padding: 0 0 20px 4% !important;
					margin: 0px !important;
					clear: both;
				}
				.aside .sbn {
					width: 102%;
					float: left;
					padding: 18px 8.1% 18px 5% !important;
					background: #7bcfdb;
					margin-left: -8px;
					margin-bottom: 5px;
					position: relative;
					/*font-family: 'TradeGothicLTPro-Bold';*/
					font-size: 20px;
					line-height: 25px;
					text-transform: uppercase;
					color: #fff;
					text-shadow: 1px 1px 1px #389b9a;
				}
				.aside .sbox img{
					width: 20%;
					float: left !important;
					margin: 0px 10px 0px 0px;
					width: 69px;
					height: 69px;
				}

				.aside .sbox .listCont{
					width: 80%;
					float: left !important;
					margin: 0px 0px 0px -500px;
				}

	/*.aside .sbox {
		float: left;
		padding: 15px  0px  20px  3% !important;
		clear: none !important;
		border-bottom: none !important;
		width: 100%;
		}*/

		.aside .sbox2 {
			width: 100%;
			float: left;
			padding: 20px 5%;
			clear: both;
			font-size: 14px;
			line-height: 18px;
			border-top: 1px #ccc solid;
		}
		

	}
	@media screen and (max-width:1085px){
		.marj-r{
			margin: 0px !important;
			
		}


		.col {
			width: 100% !important;
			float: left;
			background: #f3f3f3;
			border-bottom: #cccccc 3px solid;
			
		}
		.col2 {
			width:100%!important;
			float: left ;
			clear: both;
			/*background: #000 !important;*/
		}
		.col2 .box {
			width: 100% !important;
			float: left;
			padding: 20px 20%;
			background: #f3f3f3;
			border-bottom: #bde7ed 3px solid;
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 24px;
			margin-top: 20px !important;
		}
		

	}
	@media screen and (max-width:1084px){

		.clmn-4{
			float: left;
			text-align: center !important;
		}

		.clmn-4 .round-img img{
			border-radius: 100%;
			float: none;
			margin: 0px 0px 15px 0px !important;
			margin-left: 24% !important;

		}
		.clmn-4 .listCont{
			width: 100% !important;
			float: left;
			margin: 0px 0px 0px 0px;
			padding: 0 10px;
			clear: none !important;
		}
		.box .box2{
			padding: 0px 0 15px 0px !important;;
			clear: none !important;
			border-top: #f3f1ee 1px solid;
		}
		.box .video2, .box2 .video2 {
			width: 100% !important;
			margin: auto;
			overflow: hidden;
		}
		.sched{
			width: 45% !important;
			float: left;
		}
		.succ-story{
			width: 45% !important;
			float: left;
			clear: none !important;
			border-top: #f3f1ee 1px solid;
			padding: 20px 2%;
			margin-top: -55px !important;
		}	

		.clmn-3{
			width: 100% !important;
			float: left;

			padding: 0px 10px 0px 10px;
		}


	}
	@media screen and (max-width:1016px){
		.tt{
			height: 15%;
		}
		.adj2{
			float:none;
			width:100%;
			margin-top: 10px;
		}
		.adj{
			float:none;
			width:100%;
		}

		.fcon-box3{
			clear: both !important;
			float: none !important;
			min-height: 60px;
			border-left: none !important;
			padding: 30px 0 0 0px !important;
			font-family: 'desyrelregular';
			font-size: 18px;
			line-height: 28px;
			color: #0ba2c3;
			border-top: #4c5255 1px solid !important;
		}

		.fcon-box1{
			float: left;
			margin-right: 6%;
			padding: 10px 0;
			width: 18%;
			display: block;
		}
		.wdt{
			width: 100% !important;
			
		}



	}
	@media screen and (max-width:946px){

		.fcon-box2{
			float: left;
			min-height: 80px;
			margin-right: 3.5%;
			border-top: #4c5255 1px solid !important;
			border-left: none !important;
			padding: 5px 0 5px 0px !important;	
			width: 100% !important;

		}
		.fcon-box2-1{
			float: left;
			min-height: 80px;
			margin-right: 3.5%;
			border-top: #4c5255 1px solid !important;
			border-left: none !important;
			padding: 5px 0 5px 0px !important;	
			width: 100% !important;

		}
		.fcon-box2-2{
			float: left;
			min-height: 80px;
			margin-right: 3.5%;
			border-top: #4c5255 1px solid !important;
			border-left: none !important;
			padding: 5px 0 5px 0px !important;	
			width: 100% !important;
		}

		.fcon-box1{
			float: left;
			margin-right: 6%;
			/*	padding: 10px 0;*/
			width: 100% !important;
		}



	}

	/* TABLETS PORTRAIT */
	@media only screen and (max-width: 768px) {
		.vid{
			width: 100%;
			float: left;
			padding: 10px;

		}
		#qwidth{
			width: 100% !important;
			float: left !important;
			margin-top: 0px !important;
		}
		.clmn-4{
			width: 50%  !important;
			float: left;
			text-align: left !important;
			min-height: 170px;
		}
		.clmn-4 .round-img img{
			border-radius: 100%;
			float: left;
			margin: 0px 0px 0px 0px;
			margin-left:0px !important;

		}
		.clmn-4 .listCont{
			width: 60% !important;
			float: left;
			margin: 0px 0px 0px 0px;
			padding: 0 10px;
		}	
		.box{
			width: 100% !important;
			float: left;
			padding: 0px 0 15px 0px !important;;
			clear: none !important;
			border-top: #f3f1ee 1px solid;

		}
		.sched{
			width: 100% !important;
			float: left;
		}
		.succ-story{
			width: 70% !important;
			float: left;
			clear: none !important;
			border-top: #f3f1ee 1px solid;
			padding: 0px !important;
			margin-top: 0px !important;
		}	
		#full-sub{
			display: none !important;
		}
		#min-sub{
			margin-top: 25px;
			display: block !important;
		}
		#min-sub ul{
			padding-left: 0px !important;
		}
		#min-sub li{
			border-bottom: 1px solid #ccc !important;
		}
		#min-sub li:hover {
			background: #0ba2c3;
		}
		#min-sub li:hover a{		
			color: #fff !important;
		}
		#min-sub a {
			font-size:18px; 
			padding:10px 25px; 
			display:inline-block;
			color: #444;
			text-decoration: none;
			width: 100%;
		}
		/*.ttl{
			width: 80% !important;
			margin: 20px;
			top: 8% !important;
			right: 5% !important;
			background:rgba(255, 255, 255, 0.5);
		}*/
		.subbox8 .list {
			width: 100% !important;
			margin-right: 20px;
		}
	}
	@media only screen and (max-width: 644px) {
		.clmn-4{
			width: 50%  !important;
			float: left;
			text-align: center !important;
			min-height: 170px;
		}
		.clmn-4 .round-img img{
			border-radius: 100%;
			float: left;
			margin: 0px 0px 0px 0px;
			margin-left:70px !important;

		}
		.clmn-4 .listCont{
			width: 100% !important;
			float: left;
			margin: 0px 0px 0px 0px;
			padding: 0 10px;
		}	
		.succ-story{
			width: 100% !important;
			float: left;
			clear: none !important;
			border-top: #f3f1ee 1px solid;
			padding: 0px !important;
			margin-top: 0px !important;
		}
		.container{
			overflow: hidden !important;
		}
		.jssora05l, .jssora05r{
			display: none !important;
		}
		.videoz {
			width: 100%;
		}
		.sublink .td1 {
			display:block;
			width: 100% !important;
			font-size: 14px !important;
			border-right: #e8e7e7 1px solid;
			text-align: center !important;
			background: #f2fafb;
		}
		.sublink .td2 {
			display:block;
			font-size: 14px !important;
			width: 100% !important;
			text-align: center !important;
			background: #f2fafb;
		}
	}

	/* SMARTPHONES LANDSCAPE */
	@media only screen and (max-width: 480px) {
		.clmn-4{
			width: 100%  !important;
			float: left;
			text-align: center !important;
			min-height: 170px;
		}
		.clmn-4 .round-img img{
			border-radius: 100%;
			float: left;
			margin: 0px 0px 0px 0px;
			margin-left:35% !important;

		}
	}


	@media only screen and (max-width: 300px) {


	}


