@import url('meadia-query.css');
@import url('banner.css');


.container{
	overflow: hidden;
}
.binfo-right{
	width: 430px;
	float: right;
	/*position: absolute;*/
	top: 76px;
	margin: 20px 20px;
	/*left: 57%;*/
	border-radius: 10px;
	padding: 10px;
}
.binfo-left{
  width: 430px;
  float: left !important;
  top: 76px;
  margin: 20px 20px;
  border-radius: 10px;
  padding: 10px;
}

.binfo-center{
  width: 430px;
  top: 76px;
  margin: auto;
  border-radius: 10px;
  padding: 10px;

}

.binfo h1 {
	font-size: 30px;
	line-height: 36px;
	font-family: 'TradeGothicLTPro-Bold';
	letter-spacing: -0.03em;
	margin-bottom: 15px;
	clear: both;
}

.binfo h1 span {
	padding: 5px 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-weight: bold;
}

.clr {
	clear: both;
	display: block;
}
.grn3 a{
	color: #389b9a!important;
}
.grn3 {
	color: #389b9a!important;
}
.binfo .t1 {
	font-size: 18px;
	line-height: 22px;

}





.ttl{
	width: 430px;
	position: absolute;
	top: 76px;
	margin: 20px 20px;
	left: 57%;
	text-align: center;
	border-radius: 10px;
}

.ttl h1 {
	font-size: 30px;
	line-height: 36px;
	font-family: 'TradeGothicLTPro-Bold';
	letter-spacing: -0.03em;
	margin-bottom: 15px;
	clear: both;
}

.ttl h1 span {
	padding: 5px 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-weight: bold;
}

.clr {
	clear: both;
	display: block;
}
.grn3 a{
	color: #389b9a!important;
}
.grn3 {
	color: #389b9a!important;
}
.ttl .t1 {
	font-size: 18px;
	line-height: 22px;
	color: #666666;
}
.border-top{
	border-top: 1px solid #ddd;
}

@media screen and (max-width:1278px){
	.ttl {
		width: 430px;
		position: absolute;
		top: 76px;
		margin: 20px 20px;
		right: 18% !important;
		text-align: center;
		border-radius:10px;
	}
}


@media screen and (max-width:1062px){
	.ttl {
		width: 430px;
		position: absolute;
		top: 76px;
		left: 40% !important;
		text-align: center;
		border-radius:10px;
		background: rgba(255, 255, 255, 0.5); 
	}
}
@media screen and (max-width:768px){
	.ttl {
		width: 430px;
		position: absolute;
		top: 76px;
		left: 10% !important;
		text-align: center;
		border-radius:10px;
		background: rgba(255, 255, 255, 0.5); 
	}
}
/* iPhone 6 ----------- */
@media only screen and (max-width: 520px){
.ttl {
		width:90%;
		position: absolute;
		top: 76px;
		left:1% !important;
		text-align: center;
		border-radius:10px;
		background: rgba(255, 255, 255, 0.5); 
	}

}
/*
	/////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////////////
	*/
	.subnav {
		width:100%; 
		height:60px; 
		float:left; 
		clear:both; 
		border-bottom:#e8e7e7 1px solid; 
		padding:0 2.5%;
		margin-bottom: 2px;
		background: #f3f3f3; /* Old browsers */
		background: -moz-linear-gradient(top,  #f3f3f3 0%, #ffffff 8%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(8%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f3f3f3 0%,#ffffff 8%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f3f3f3 0%,#ffffff 8%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f3f3f3 0%,#ffffff 8%); /* IE10+ */
		background: linear-gradient(to bottom,  #f3f3f3 0%,#ffffff 8%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
	.subnav li {
		float:left;
	}
	.subnav a {
		font-size:18px; 
		line-height:30px; 
		padding:15px 13px; 
		display:inline-block;
		color: #444;
	}
	.subnav a:hover, .subnav .current_page_item a {
		border-bottom-width:3px; 
		border-bottom-style:solid; 
		padding:15px 13px 13px; 
		text-decoration:none;
	}
	.subnav-1 a:hover, .subnav-1 .current_page_item a {color:#0ba2c3;}
	.subnav-2 a:hover, .subnav-2 .current_page_item a {color:#ed6459;}
	.subnav-3 a:hover, .subnav-3 .current_page_item a {color:#389b9a;}

	#full-sub{
		display: block;
	}
	#min-sub{
		display: none;
	}
/*
	/////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////////////
	*/
	.content{
		float: left;
		width: 69.9%;
		padding: 25px 2.5% 25px;
		border-right: #e8e7e7 1px solid;
		font-size: 14px;
		line-height: 18px;

	}
	.content .subpath em {
		color: #999;
		font-style: normal;
		margin: 0 10px;
	}
	.content .subpath  {
		margin: 0px;
		padding-bottom: 25px;
	}
	.content .sec-ttl2 {
		font-size:30px; 
		line-height:36px; 
		color:#000; 
		font-weight:normal; 
		margin-bottom:20px;
		margin-top: 0px;
	}
	.content .txtbox {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 30px;
		-webkit-margin-before: 0em;
	}
	.content .subphoto {
		float: right;
		margin-left: 30px;
		margin-bottom: 20px;
	}
	/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	.aside{
		width: 30.1%;
		float: right;
		padding: 30px 0;
		border-left: #e8e7e7 1px solid;
		margin-left: -1px;

	}
	.bold {
		font-family: 'TradeGothicLTPro-Bold';
	}

	.aside .subpath {
		width: 100%;
		float: left;
		padding: 0 1.7% 25px;
		margin: 0px !important;
		clear: both;
		font-size: 14px;
	}
	.btm-line{
		border-bottom: 1px solid #aaa;
	}
	.arr1 {
		background: url(/img/icons.png) no-repeat -75px 0;
		width: 4px;
		height: 8px;
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
	}

	.arr2 {
		background: url(/img/icons.png) no-repeat -75px 0;
		width: 4px;
		height: 8px;
		display: inline-block;
		vertical-align: middle;
		margin: 3px 10px;
		float:left;
	}

	.aside .sbn {
		width: 102%;
		float: left;
		padding: 18px 8.1% 18px 7%;
		background: #7bcfdb;
		margin-left: -8px;
		margin-bottom: 5px;
		position: relative;
		font-family: 'TradeGothicLTPro-Bold';
		font-size: 20px;
		line-height: 25px;
		text-transform: uppercase;
		color: #fff;
		text-shadow: 1px 1px 1px #389b9a;
	}
	.aside .sbn:before {
		content: "";
		width: 0;
		height: 0;
		border-top: #389b9a 7px solid;
		border-left: transparent 7px solid;
		position: absolute;
		top: 100%;
		left: 0;
	}

	.aside a{
		float: left;
	}

	.aside .sbox {
		float: left;
		padding: 20px 5% 15px;
		clear: both;
		border-bottom: #f3f1ee 1px solid;
		width: 100%;
	}

	.aside .sbox .listCont{
		width: 80%;
		float: right;
		margin: 0px 0px 0px 0px;
	}
	.aside .sbox h3 {
		font-size: 18px;
		line-height: 25px;
		font-weight: normal;
		letter-spacing: -0.04em;
		margin-bottom: 10px;
		}.aside .sbox h3 a{color: #333 !important;}
		.aside .sbox h3 a:hover{color: #ed6459 !important;}
		.aside .sbox .t1 {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 5px;
		}

		.aside .sbox2 .listCont ul li{
			list-style: circle;
		}

		.aside .sbox2 .listCont ul li a{		
			float: none;
			font-size: 16px;
		}

		.aside .sbox2 .listCont hr{		
			border: 0;
			height: 1px;
			background: #e8e7e7 ;
		}

		.aside .sbox2 {
			width: 100%;
			float: left;
			padding: 20px 5%;
			clear: both;
			font-size: 14px;
			line-height: 18px;
			color: #666;
		}
		.aside .sbox2 img {
			border-radius: 100%;
			margin: 0px s0px 0px 0px !important; 
			width: 69px;
			height: 69px;
			padding: 5px;
		}
		.list{
			padding: 10px 0px 0px 0px;
			float: left;
			background: #000 !important;
		}

		/* tags font */
		.tagfont {
			line-height: 1;
		}
		.tagfont1 {
			font-size: 15px;
		}
		.tagfont2 {
			font-size: 20px;
		}
		.tagfont3 {
			font-size: 14px;
		}
		.tagfont4 {
			font-size: 25px;
		}
		.tagfont5 {
			font-size: 18px;
		}
		.tagsL {
			width: 80%;
			padding-left: 30px;
		}
		.tagsL a{
			float: none;
		}


		/*////////CENTER PAGE START HERE*/
		.by {
			color: #333;
			margin-top: 8px;
		}
		.aside .sbn2 {
			width: 100%;
			float: left;
			clear: both;
			text-align: center;
			margin-top: 15px;
		}
		.aside .sbox3 {
			width: 100%;
			float: left;
			padding: 10px 7.3%;
			clear: both;
			margin-top: 10px;
		}
		.aside .sbox3 ul {
			padding-left: 0px;
		}
		.aside .sbox3 h4 {
			background: #b2c44e;
			color: #fff;
			font-size: 18px;
			line-height: 45px;
			text-transform: uppercase;
			padding: 10px 6%;
			clear: both;

		}
		.aside .sbox3 .box {
			padding-top: 0px !important;
			padding-bottom: 5px !important;
			border-bottom: #b2c44e 3px solid;

		}
		.aside .sbox3 .box li {
			width: 100%;
			float: left;
			padding: 5px 6%;
			background: #f3f3f3;
			font-size: 16px;
			line-height: 22px;
		}
		.aside .sbox3 .photo {
			width: 40px;
			height: 40px;
			-webkit-border-radius: 40px;
			-moz-border-radius: 40px;
			-ms-border-radius: 40px;
			border-radius: 40px;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}

		.ic-location {
			background: url(/img/icons.png) no-repeat -43px -298px;
			width: 48px;
			height: 46px;
			display: inline-block;
			vertical-align: middle;
			float: right;
		}
		.sec-ttl3 {
			font-size: 25px;
			line-height: 31px;
			color: #000;
			font-weight: normal;
			margin-bottom: 15px;
		}
		.sec-ttl6 {
			background: #7bcfdb;
			color: #fff;
			font-size: 18px;
			line-height: 30px;
			text-transform: uppercase;
			padding: 8px 10px;
			clear: both;
		}
		.subphoto2 {
			float: left;
			margin:2px 30px 20px 0px;
		}
		.center-map {
			width: 100%;
			float: left;
			clear: both;
			margin-bottom: 20px;
		}
		.centermap{
			background: #b5b5b5 !important;
			color: #fff;
			font-size: 18px;
			line-height: 25px;
			font-weight: normal;
			padding: 10px 15px;
			text-transform: uppercase;
		}

		.center-map .t1 {
			background: #f3f3f3;
			padding: 10px 15px;
			font-size:14px; line-height:25px; color:#000; margin-bottom:8px;
		}
		.subbox7 {
			width: 100%;
			float: left;
			clear: both;
			margin-bottom: 20px;
		}
		.subbox7 .col {
			width: 65.1%;
			float: left;
			background: #f3f3f3;
			border-bottom: #cccccc 3px solid;
			/*height: 474px;*/
			/*background: #000 !important;*/
		}
		.subbox7 .col2 {
			width: 31.8%;
			float: right;
		}
		.subbox7 .col2 .box {
			width: 100%;
			float: left;
			padding: 15px 3%;
			background: #f3f3f3;
			border-bottom: #f6b2ac 3px solid;
			text-align: center;
			margin-bottom: 20px;
		}
		.subbox7 .col2 .box .link {
			width: 32.3%;
			float: left;
		}
		.subbox7 .col2 .box2 {
			width: 88%;
			float: left;
			padding: 20px 6%;
			background: #f3f3f3;
			border-bottom: #bde7ed 3px solid;
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 24px;
		}
		.ic-schedule {
			background: url(/img/frontend/icons.png) no-repeat -43px -90px;
			width: 47px;
			height: 47px;
			display: inline-block;
			vertical-align: middle;
		}
		.ic-map {
			background: url(/img/frontend/icons.png) no-repeat -43px -142px;
			width: 47px;
			height: 47px;
			display: inline-block;
			vertical-align: middle;
		}
		.ic-calendar {
			background: url(/img/frontend/icons.png) no-repeat -43px -194px;
			width: 47px;
			height: 47px;
			display: inline-block;
			vertical-align: middle;
		}
		.ic-tell {
			background: url(/img/frontend/icons.png) no-repeat -43px -246px;
			width: 47px;
			height: 47px;
			display: inline-block;
			vertical-align: middle;
		}
		.subbox7 .col2 .box2 .t1 {
			color: #000;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.subbox7 .col2 .box2 .t2 {
			font-size: 13px;
			line-height: 16px;
			margin: 0px 0px 10px 0px;
		}
		.subbox7 .col2 .box2 .t3 {
			font-family: 'TradeGothicLTPro-Bold';
			font-size: 22px;
			line-height: 26px;
			font-weight: bold;
		}
		.center-calendar{
			background: #ee655a;
			color: #fff;
			font-size: 18px;
			line-height: 25px;
			font-weight: normal;
			padding: 10px 15px;
			text-transform: uppercase;
		}
		.authorphoto img{
			border-radius: 100% !important;
			float: left !important;
			padding: 5px;
			width: 120px;
			height: 120px;
		}
		.aboutme {
			font-size: 12px;
			padding: 10px 0;
			color: #ed6459 !important;
		}
		/*//////FONT*/

		/* Wrapper */
		.icon-button {
			border-radius: 3.6rem;
			cursor: pointer;
			display: inline-block;
			font-size: 2.0rem;
			height: 3.6rem;
			line-height: 3.6rem;
			margin: 0 5px;
			position: relative;
			text-align: center;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			width: 3.6rem;
		}
		.icon-button .icon-twitter {
			color: #4099ff;
		}
		.icon-button .icon-facebook {
			color: #3B5998;
		}
		.icon-button .icon-google-plus {
			color: #db5a3c;
		}
		.icon-button:hover .icon-twitter,
		.icon-button:hover .icon-facebook,
		.icon-button:hover .icon-google-plus {
			/*color: white;*/
		}

		@font-face {
			font-family: 'TradeGothicLTPro';
			src: url('../fonts/trade-gothic-bold-1361519978.ttf');
		}
		@font-face {
			font-family: 'desyrelregular';
			src: url('../fonts/DESYREL_.ttf');
			}@import url('meadia-query.css');

