@import url('powerbrainpages_media.css');


iframe{
  width: 100%;
}
.textcont{
  width: 60%;
  float: left;
}
.txtbox2 {
  padding: 0 1.5%;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;
}
.txtbox2 ul,li{
	padding:0px;
}
.skyblue2 {
  color: #0ba2c3!important;
}
.page-img{
  float: left;
  width: 40%;
}
.skw{
  -ms-transform: skewY(3deg); /* IE 9 */
  -webkit-transform: skewY(3deg);  Safari 
  transform: skewY(3deg); /* Standard syntax */
  border-radius: 5px 9px 5px 9px;
}
.box-font li a:hover{
  text-decoration: underline;
}

.video2 {
  width: 100%;
}
.con {
  width: 100%;
  float: left;
  clear: both;
  line-height: 0;
}
.vidbox{
  float: left;
  padding: 5px;
  width: 48%;
}


.subbox2 {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;
}
.subbox2 h3 {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #000;
  letter-spacing: -0.04em;
  margin-bottom: 10px;
}

.method-photo{
  width: 40%;
  float: left;

}

.method-info{
  width: 60%;
  float: left;

}


.focus-text{
  width: 47%;
  float: left;
}
.vid-cont{
  width: 47%;
  float: left;

}

.sbb-text1{
  width: 53%;
  float: left;
  padding: 10px;

}
.sbb-img1{
  width: 45% ;
  float: left;
}


.sbb-img1 img{
  width: 100%;
  min-width: 300px;
}
.subtable {
  width: 100%;
  clear: both;
  border-bottom: #ddd 1px solid;
}
.subtable td {
  padding: 10px 10px;
  border-top: #ddd 1px solid;
  vertical-align: top;
}

.subtable .td1, .td2 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.subtable .td3 {
  font-size: 14px;
  line-height: 20px;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
 .box-b {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}
.ic-arr1 {
  background: url(/img/frontend/icons.png) no-repeat -75px -15px;
  width: 22px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

a.subbox {
  text-decoration: none;
  color: #444;
}


media="all"
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
.video2 {
  width: 100%;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.con {
  width: 100%;
  float: left;
  clear: both;
  line-height: 0;
}

.txtbox {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
body {
  font-family: 'TradeGothicLTPro', Helvetica, Arial, sans-serif;
  font-size: 12px !important;
  line-height: 15px;
  letter-spacing: -0.03em;
  color: #666666;
  /*background: #f6f6f6;*/
}
.more2 a {
  color: #ed6459;
}
.ic-dot {
  background: url(/img/frontend/icons.png) no-repeat -90px 0;
  width: 4px;
  height: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.ic-play {
  background: url(/img/frontend/icons.png) no-repeat -40px 0;
  width: 23px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.subbox8 .list li {
  width: 100%;
  float: left;
  padding: 5px 0;
  clear: both;
}
.subbox8 .list{
  width: 50%;
  float: left;
  background: white !important;
}
.subbox8 .list li a{
   color:black !important;
}
.subbox8 .list li a:hover{
   color:red !important;
}
.subbox8 {
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  margin-bottom: 30px;
  clear: both;
}
.subbox8 .photo {
  vertical-align: middle;
  margin-right: 15px;
}
.subbox6 {
  width: 100%;
  float: left;
  clear: both;
  padding: 10px 0 10px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: #e8e7e7 1px dotted;
}
.subbox6 .photo {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.subbox6 .by {
  margin-top: 15px;
  font-style: italic;
}
.photo {
  line-height: 0;
}
.subbox6 .photo img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  margin-top: -10px;
}
a.subbox:hover h3 {
  color: #ed6459!important;
}
.subbox {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 25px;
}
.subbox .photo {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
media="all"
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
.video3 {
  width: 400px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.con {
  width: 100%;
  float: left;
  clear: both;
  line-height: 0;
}
.full-frame {
  width: 100%;
  height: 100%;
}
.html5-video-player {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Arial,Helvetica,sans-serif;
  color: #fff;
  background-color: #000;
  overflow: hidden;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.frh {
  float: right!important;
}
.flt {
  float: left!important;
}
.con2 {
  width: 100%;
  float: left;
  padding: 2px 4%;
  background: #252525;
  clear: both;
  font-family: 'TradeGothicLTPro-Bold';
  font-size: 17px;
  line-height: 3px;
  color: #0ba2c3;
}
.ytp-error {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background: #000;
  z-index: 950;
  cursor: default;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.subbox3 {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
}
.subbox3 .box {
  width: 49%;
  float: left;
  margin: 0px 1% 20px 0%;
}
.subbox3 .box2 {
  width: 49%;
  float: right;
  margin: 0px 0% 20px 1%;
}
.box .video2, .box2 .video2 {
    width: 100% !important;
    margin: auto;
    overflow: hidden;
  }
[txt]{
  width: 49%;
  float: left;
  margin-right: 1%;
}
[vid]{
  width: 49%;
  margin-left: 1%;
  float: right;
}
.grn2 {
  color: #389b9a!important;
}
.sec-ttl {
  font-size: 18px;
  line-height: 25px;
  color: #000;
  font-weight: normal;
  position: relative;
  margin-bottom: 10px;
}
.sec-ttl3 {
  font-size: 25px;
  line-height: 31px;
  font-weight: normal;
  margin-bottom: 15px;
}
.line {
  text-decoration: underline;
}
.sec-ttl4 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
  margin-bottom: 15px;
}
.sec-ttl5 {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-weight: normal;
  margin-bottom: 15px;
  font-style: italic;
}
.sublist {
  color: #888;
}
.contact .input {
  width: 70%;
  background: #efefef;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border-left: 1px solid #d1d1d1;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #d1d1d1;
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
  color:black;
}
.contact .t1 {
  margin-bottom: 10px;
  font-size: 14px;
}
.contact {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}
.red {
  color: #ed6459!important;
}
.contact .btn1 {
  font-size: 14px;
  line-height: 18px;
  background: #ee655a;
  color: #fff;
  cursor: pointer;
  padding: 6px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: none;
}
.contact .btn2 {
  font-size: 14px;
  line-height: 18px;
  background: #999999;
  color: #fff;
  cursor: pointer;
  padding: 6px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: none;
  margin-left: 5px;
}
.contact .t2 {
  margin-bottom: 10px;
  display: block;
}
.contact input#sch-date {
  width: 140px;
}
span.wpcf7-form-control-wrap {
  position: relative;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
}
div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
}
.contact .select-box {
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border-left: 1px solid #d1d1d1;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #d1d1d1;
  font-size: 12px;
  line-height: 16px;
  padding: 5px 20px 5px 8px;
  display: inline-block;
  
}
.contact .select-box select {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  background: transparent;
}
a.subbox:hover h3 {
  color: #ed6459!important;
}


.subbox {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 25px;
}
.subbox .photo {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: -1px;
}
.subbox h3 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  letter-spacing: -0.04em;
  margin-bottom: 10px;
}

.sublink {
  width: 100%;
  clear: both;
  border-bottom: #e8e7e7 1px solid;
  border-top: #e8e7e7 1px solid;
  font-size: 14px;
  line-height: 20px;
  margin: 30px 0;
}
.sublink .td1 {
  width: 41%;
  border-right: #e8e7e7 1px solid;
  background: #f2fafb;
}

.sublink .td1 a:hover,.sublink .td2 a:hover{
  text-decoration: none !important;
}
.sublink .td2 {
  font-size: 14px !important;
  width: 42%;
  text-align: right;
  background: #f2fafb;
}
.sublink img {
  vertical-align: middle;
  margin: 0 10px;
}
.sublink a {
  display: block;
  padding: 15px 4%;
}
.sublink .prev {
  background: url(/img/frontend/icons.png) no-repeat 0 -35px;
  width: 13px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}
.sublink .next {
  background: url(/img/frontend/icons.png) no-repeat -23px -35px;
  width: 13px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.ic-arr {
  background: url(/img/frontend/icons.png) no-repeat -75px -15px;
  width: 22px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.more {
  font-size: 12px;
  padding: 10px 0;
  color: #ed6459;
}

.photobanner img{
  width:285px;
  height:155px;
}


.subbox2 .photo{
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

.vidcontainer {
    position: relative;
    /*width: 30%;*/
    height: 170px;
    background-size: cover !important;
    background-position: center !important;
    margin-left: 15px;
    padding: 0px;
} 

.youtube-play {
  position: absolute;
  top: 0px;
  margin: 5% 10%;
  text-align: center;
}

.vimeo-play {
  position: absolute;
  top: 0px;
  margin: 6% 11.1%;
  text-align: center;
}
.show_more{
  width:100%;
  font-width:bold;
}
