@import url('meadia-query.css');
@import url('responsive-menu.css');
/*@font-face {
	font-family:'TradeGothicLTPro';
	src: url('../font/TradeGothic-BoldCondTwenty.otf');
	}*/
	@font-face {
		font-family: 'TradeGothicLTPro-Bold'; 
		src: url('../font/2B0569_0_0.eot?#iefix') format('embedded-opentype'),
		url('../font/2B0569_0_0.woff') format('woff'),
		url('../font/2B0569_0_0.ttf') format('truetype');
	}

	@font-face {
		font-family: 'TradeGothicLTPro';
		src: url('../font/2B0569_1_0.eot?#iefix') format('embedded-opentype'),
		url('../font/2B0569_1_0.woff') format('woff'),
		url('../font/2B0569_1_0.ttf') format('truetype');
	}

	@font-face {
		font-family: 'DESYREL';
		src: url('../font/DESYREL_.ttf');
	}

	.box-shadow{
		max-width: 1279px;
		margin: 0 auto;
		box-shadow: 0 0 5px #888;
	}
	body{
		/*background-color: #f6f6f6;*/
		margin: 0px;
		color: #777;
	}

/*	::-webkit-scrollbar{
  width:10px;   // here actuall it exist but width is 0 so no one can see it 
  background:#000;
} */
/*
HEADER
*/
.fcon-box3 .soc-mid li a:hover {
    background-color: #0e6993 !important;
}
a:hover {color:#ed6459; text-decoration:underline; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out;}
.flt {float:left!important;}
header .innerwrap{
	height: 58px !important;
	background: #0ba2c3;
	color: #fff;
	margin: 0 auto;

}
#mainMenu{
	float: right;
	/*margin-right: 40px;*/
}
ul.menuMain li {
	list-style: none;
	display: inline-block !important;
	margin-left:-1em;
	
}


.menuMain a{
	/*padding: 15px  15px 15px 15px;*/
	padding: 15px  21.5px 15px 21.5px;
	font-family:'TradeGothicLTPro-Bold';
	font-size: 15px;
	line-height: 28px;
	text-transform: uppercase;
	display: inline-block;
	color: #fff !important;
	text-decoration: none !important;;
}
.menuMain .active{
	background: #0e6993;
}
.menuMain a:hover{
	background: #0e6993;
}
#subMenu{
	display: none;
}
/*@media screen and (max-width:1170px){*/
@media screen and (max-width:1265px){
	#subMenu{
		display: block;
	}
}

#sliderfull{
	display: none;
}
.slide50{
	width: 55%;
	float: left;
	max-height:464px;

}
.vid50{
	width: 45%;
	float: left;
	height:464px;
	background:url(/img/frontend/halfslide.jpg) no-repeat !important;
}




#full{
	display: none;
}
#halffull{
	display: block;
}
/*
END HEADER
*************************************************************************************************************************************************************************/
/*
SLIDER
*/
.slider{
	height: 464px;
	display: block;
	clear: block;
	margin-top: 158px;
}/*
END SLIDER
*************************************************************************************************************************************************************************/
/*

/*
QUOTES
*/
article.wrap-cont{
	font-family: 'TradeGothicLTPro', Helvetica, Arial, sans-serif;
	width:100%;
	float: left;
	padding: 25px 3.1% 30px;
	border-bottom: #e8e7e7 1px solid;
	
}

.yell{
	color: #f5c348!important;
}
.org{
	color: #f6a44d!important;
}
.red{
	color: #ed6459!important;
}
.skyblue{
	color: #79d0dc!important;
}
.grn{
	color: #87bf78!important;
}
.q1 {
	background: url(/img/frontend/icons.png) no-repeat 0 -510px;
	width: 15px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
}
.q2 {
	background: url(/img/frontend/icons.png) no-repeat -25px -510px;
	width: 15px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
}
.qts{
	width: 100%;
	float: left;
	padding: 25px 3.1%;
	clear: both;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #777;   
	letter-spacing: -0.03em;
}
.clmn-4{
	width: 25%;
	float: left;
}

.clmn-4 .round-img img {
	border-radius: 100%;
	float: left;
	margin: 0px 15px 0px 0px;
}
.clmn-4 .listCont{
	width: 50%;
	float: left;
	margin: 0px 0px 0px 0px;
}
/*////////////////////////////////////////*/	

.clmn-3{
	width: 32%;
	float: left;
	/*padding: 0px 10px 0px 10px;*/
}
.marj-r{
	margin: 0px 2% 0px 0px;
}
.imgslider:hover {opacity:0.9;}
.round-img:hover {opacity:0.9;}
[imglink]:hover{opacity: 0.9;}
.marj-r h3 a{
	color:#777 !important;
}
.marj-r a:hover{
	color: #ed6459 !important;
}
.clmn-3 img{
	float: left;
	margin-right: 20px;
	margin-bottom: 30px;
}	
.clmn-3 .listCont{
	width: 75%;
	float: left;
}	
.clmn-3 .box{
	width: 100%;
	float: left;
	padding: 20px 0 15px;
	clear: both;
	border-top: #f3f1ee 1px solid;
	colo

}
.clmn-3 .box2{
	width: 100%;
	padding: 10px 2%;
	float: left;
	clear: both;
	border-top: #f3f1ee 1px solid;
}

.img-2{
	width: 57px;
	height: 41px;
}
.clmn-3 ul{
	padding-left: 0px;
}
.list li{
	list-style: none;
	padding: 8px 4%;
	font-size: 14px;
	border-top: #e8e7e7 1px solid;
}
li.upcoming_list span{
	padding-left: 10px;
}
.succ-story{
	width: 96%;
	float: left;
	clear: both;
	border-top: #f3f1ee 1px solid;
	padding: 10px 2%;
}
.img-r{
	border-radius: 100%;
	width: 116px;
	height: 116px;
}
.succ-story .round-img{
	float: right;
	margin: 0px 20px 10px 10px ;
	

}


.fcon{
	width: 100%;
	/*height: 122px;*/
	float: left;
	clear: both;
	background: #31373a;
	padding: 15px 3.1%;
}
.fcon ul,li{
	list-style: none;
	padding: 0px;
}
.fcon-li li a:hover{
	text-decoration: underline;
}
.fcon .tt1{
	font-family: 'desyrelregular';
	font-size: 18px;
	color: #e8503c;
	margin-bottom: 10px;
	width: 200px !important;
}
.fcon a{
	text-decoration: none;
	color: #ababab;
}

.btn1{
	font-family: 'TradeGothicLTPro', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	color: #fff;
	background: #e8503c;
	padding: 8px 15px;
	display: inline-block;
	border-radius: 5px;
}

.btn1:hover{
	background: #0e6993;
	text-decoration: none;
}
.fcopy {
	width: 100%;
	float: left;
	padding: 20px 0 30px;
	text-align: center;
	color: #ababab;
}
.fcon-box1{
	float: left;
	margin-right: 6%;
/*	padding: 10px 0;*/
	width: 18%;
}

.fcon-box2{
	float: left;
	height: 100px;
	margin-right: 3.5%;
	border-left: #4c5255 1px solid;
	padding: 5px 0 5px 30px;
}
.fcon-box21{
	float: left;
	height: 100px;
	border-left: #aaa 1px solid;
	padding: 5px 0 5px 20px;
}
.fcon-box21 ul{
	padding-left: 0px;
}
.fcon-box21 a{
	padding: 3px;
}




.fcon-box2-1{
	float: left;
	min-height: 100px;
	margin-right: 3.5%;
	border-left: #4c5255 1px solid;
	padding: 5px 0 5px 30px;
}
.fcon-box2-2{
	float: left;
	height: 100px;
	margin-right: 3.5%;
	border-left: #4c5255 1px solid;
	padding: 5px 0 5px 30px;
}

.fcon-box3{
	float: left;
	height: 100px;
	border-left: #4c5255 1px solid;
	padding: 30px 0 0 50px;
	font-family: 'desyrelregular';
	font-size: 18px;
	line-height: 28px;
	color: #0ba2c3;
}
.fcon-box4{
	min-height: 60px;
	border-left: #4c5255 1px solid;
	padding: 30px 0 0 25px;
	font-family: 'desyrelregular';
	font-size: 18px;
	line-height: 28px;
	color: #0ba2c3;
}
.fcon-box3 a,.fcon-box4 a{
	width: 28px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
}
.fcon-box3 span,.fcon-box4 span{
	display: none;
}
.fcon-box3 ul.soc-mid li,.fcon-box4 ul.soc-mid li{
	display: inline-block;
	font-family: 'DESYREL';
}
.fb{
	background: #329bb0 url(/img/frontend/icons.png) no-repeat 0 -300px;
}
.tw{
	background: #329bb0 url(/img/frontend/icons.png) no-repeat 0 -333px;
}
.yt{
	background: #329bb0 url(/img/frontend/icons.png) no-repeat 0 -366px;
}
.rss{
	background: #329bb0 url(/img/frontend/icons.png) no-repeat 0 -399px;
}
.fcon-box1 a{
	color: #fff;
} 
.fcon-li li{
	padding: 2px 0;
}
.box-font{
	font-family: 'TradeGothicLTPro', Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.t4{  
	font-family: 'TradeGothicLTPro', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #f7a44e;
	font-weight: bold;
}
.video {
    width: 460px;
    overflow: hidden;
    position: absolute;
    top: 17%;
    left: 57.55%;
    z-index: 2;
}
.cccc
{
	height: 46px !important;
}
.flttt {
    margin-top: 0px !important;
}
.videoz {
	display: none;
}
.con {
	width: 100%;
	float: left;
	clear: both;
	line-height: 0;
}
.con2 {
	width: 100%;
	float: left;
	padding: 12px 4%;
	background: #252525;
	clear: both;
	font-family: 'TradeGothicLTPro-Bold';
	font-size: 17px;
	line-height: 22px;
	color: #0ba2c3;
}
.flt {
  float: left !important;
  margin-top:15px;
}
.frh {
	font-family: 'TradeGothicLTPro', Helvetica, Arial, sans-serif;
	font-size: 9px;
	line-height: 22px;
	color: #888;
	float: right;
}
/*USABLE CLASS*/
.t1{
	font-size: 20px;
	line-height: 25px;
	color: #000;
	margin-bottom: 8px;
	margin-top:0px;
}
.t2{
	font-size: 14px;
	line-height: 16px;
	margin: 0px 0px 0px 0px;
}
.t3{
	font-size: 12px;
	line-height: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #999;
	margin-bottom: 15px;
}

.title{
	font-size: 18px;
	line-height: 25px;
	color: #000;
	font-weight: normal;
	position: relative;
	margin-bottom: 20px;
	margin-top: 0px;
}
.more {
	/*margin-top:5px;*/
	margin: 0px;
}
.more a{
	font-size: 12px;
	color: #ed6459;
}
.box .t2{
	margin-top:10px;
}
.morez {
	margin-top:5px;
}
.morez a{
	font-size: 12px;
	color: #ed6459;
}
.arr{
	background: url(/img/frontend/icons.png) no-repeat 0 0;
	width: 19px;
	height: 21px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
}
.logo img{
	border:none;
	float: left;
	margin: 0px 0px 0px  25px;
	width: 177px;
	height: 58px;
}
.mainContainer {
	width: 1279px;
	margin: 0 auto;
	box-shadow: 0 0 5px #888;
}
.clearBoth{
	clear: both;
}
h3{
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
	color: #777;
	letter-spacing: -0.04em;
	margin-bottom: 10px;
	margin-top: 0px;

}
h4{
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
	margin-bottom: 3px;
	margin-top: 0px;
}
.fcopy {
	width: 100%;
	float: left;
	padding: 20px 0 30px;
	text-align: center;
	color: #ababab;
}
.tt{
	width: 100%;
	height: 5%;
	float: right;
}
.adj2{
	float:right;
	width:60%;
}
.adj{
	float:left;
	width:40%;
}
.aside .nofloat{
	float: none !important;
}
.responsivemenu{width:80px;height: 80px;margin-top:-27px;}
.closemenu{width: 40px !important;
  height: 40px;
  margin-top: 2px;
  -webkit-filter: invert(1);
   filter: invert(1);
}

.welc {
	font-family:'TradeGothicLTPro-Bold';
	letter-spacing: -2px;
}



/*END USABLE CLASS*/
/*//////FONT*/

@font-face {
	font-family: 'desyrelregular';
	src: url('../font/DESYREL_.ttf');
}
