@media screen and (max-width:768px){
    .textcont{
        width: 100% !important;
        float: none;
    }
    .page-img{
        float: none !important;
        width: 60% !important;
    }

    .vidbox{
      float: left;
      padding: 5px;
      width: 100% !important;
  }

  .method-photo{
  width: 100% !important;
  float: left;
  }
  .method-info{
    width: 100% !important;
    float: left;
  }
  .video2 {
    width: 100% !important;
    margin: auto;
    overflow: hidden;
  }
  .video3{
    width: 100% !important;
    margin: auto;
  }
  [txt]{
    width: 100% !important;
  }
  [vid]{
    width: 100% !important;
  }
  .subphoto
  {
    width: 100% !important;
    clear: both;
    float: none;
  }
  .subphoto img
  {
    margin:auto !important;
    display:block !important;
  }

  .method-info{
      width: 60%;
      float: left;

  }
  .sbb-text1{
      width: 100% !important;
      float: left;

  }
  .sbb-img1{
    width: 100% !important;
    float:none !important;
}
.sbb-img1 img{
  width: 100% !important;
}
.subbox3 .box {
  width: 100% !important;
  margin-bottom: 20px;
}
.subbox3 .box2 {
  width: 100% !important;
  margin-bottom: 20px;
}
}
@media screen and (max-width:680px){
  body{
    font-size: 20px !important;
  }
   .box-b {
    width: 100% !important;
      float: left;
      margin-bottom: 20px;
  }
  .photobanner{
  width: 100%;
  }

  .photobanner img{
  float:none !important;
  margin:auto;
  width:50% !important;
  height: 50% !important;
  }
}