.slider-container{
    position: relative; top: 0px; left: 0px; width: 1279px; height:464px; background: #191919; overflow: hidden;
}

.sli-cont{
   cursor: move; position: absolute; left: 0px; top: 0px; width: 1279px; height: 464px; overflow: hidden;
}

/* jssor slider arrow navigator skin 05 css */
            /*
            .jssora05l                  (normal)
            .jssora05r                  (normal)
            .jssora05l:hover            (normal mouseover)
            .jssora05r:hover            (normal mouseover)
            .jssora05l.jssora05ldn      (mousedown)
            .jssora05r.jssora05rdn      (mousedown)
            */
            .jssora05l{
                display: block;
                position: absolute;
                width: 22px;
                height: 32px;
                top: 45%;
                left: 20px;
                z-index: 20;
                cursor: pointer;
                background: url(/img/frontend/icons.png) no-repeat 0 -450px;
                overflow: hidden;
            }
            .jssora05r {
                display: block;
                position: absolute;
                width: 22px;
                height: 32px;
                top: 45%;
                right: 20px;
                z-index: 20;
                cursor: pointer; 
                background: url(/img/frontend/icons.png) no-repeat -22px -450px;
                overflow: hidden;
            }
           /* .jssora05l { background-position: -10px -40px; }
            .jssora05r { background-position: -70px -40px; }
            .jssora05l:hover { background-position: -130px -40px; }
            .jssora05r:hover { background-position: -190px -40px; }
            .jssora05l.jssora05ldn { background-position: -250px -40px; }
            .jssora05r.jssora05rdn { background-position: -310px -40px; }*/

            /*///////////////////////////////////////////////////////////////////////////////////////////*/
            /* jssor slider thumbnail navigator skin 01 css */
            /*
            .jssort01 .p            (normal)
            .jssort01 .p:hover      (normal mouseover)
            .jssort01 .p.pav        (active)
            .jssort01 .p.pdn        (mousedown)
            */

            .jssort01 {
                position: absolute;
                /* size of thumbnail navigator container */
                width: 550px;
                height: 100px;
            }

            .jssort01 .p {
                position: absolute;
                top: 0;
                left: 0;
                width /**/: 76px;
                height /**/: 50px;
            }

            .jssort01 .t {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: none;
            }

            .jssort01 .w {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
            }

            .jssort01 .c {
                position: absolute;
                top: 0px;
                left: 0px;
                width /**/: 76px;
                height /**/: 50px;
                border: #fff 1px solid;
               /* background: url(../img/t01.png) -800px -800px no-repeat;*/
                _background: none;
            }

            .jssort01 .pav .c {
                top: 2px;
                _top: 0px;
                left: 2px;
                _left: 0px;
                width /**/: 76px;
                height /**/: 50px;
                border: #fff 1px solid;
                _border: #fff 1px solid;
                background-position: 50% 50%;
            }

            .jssort01 .p:hover .c {
                top: 0px;
                left: 0px;
                width /**/: 76px;
                height /**/: 50px;
                border: #fff 1px solid;
                background-position: 50% 50%;
            }

            .jssort01 .p.pdn .c {
                background-position: 50% 50%;
                width /**/: 76px;
                height /**/: 50px;
                  border: #fff 1px solid;
            }

            * html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
                /* ie quirks mode adjust */
                width /**/: 76px;
                height /**/: 50px;
            }



            /* CENTER SLIDER */
            #wrapper {
                
                width: 100%;
            }
            #carousel-wrapper {
                padding-bottom: 10px;
                position: relative;
            }
            #carousel, #thumbs {
                overflow: hidden;
            }
            

            #carousel span, #carousel img,
            #thumbs a, #thumbs img  {
                display: block;
                float: left;
            }
            #carousel span, #carousel a,
            #thumbs span, #thumbs a {
                position: relative;
            }
            #carousel img,
            #thumbs img {
                border: none;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            /*#carousel img.glare,
            #thumbs img.glare {
                width: 102%;
                height: auto;
            }*/
            #carousel span {
                width: 554px;
                height: 313px;
            }

            #thumbs-wrapper {
                padding: 2px 40px 25px;
                position: relative;
            }
            #thumbs a {
                width: 110px !important;
                height: 73px !important;
                margin: 0 3px;
                overflow: hidden;
                -webkit-transition: border-color .5s;
                -moz-transition: border-color .5s;
                -ms-transition: border-color .5s;
                transition: border-color .5s;
            }
            #thumbs a:hover, #thumbs a.selected {
                border-color: #566;
            }
            
            #wrapper img#shadow {
                width: 100%;
                position: absolute;
                bottom: 0;
            }

            #prev, #next {
                
                display: block;
                width: 19px;
                height: 20px;
                margin-top: -10px;
                position: absolute;
                top: 50%;
            }
            #prev {
                background: url(/img/frontend/icons.png) no-repeat -50px -35px;         
                left: 10px;
            }
            #next {
                background: url(/img/frontend/icons.png) no-repeat -71px -35px;
                right: 10px;
            }         
            #prev:hover { 
                background-position: 0 -20px;     
                background-position:-50px -55px;          
            }
            #next:hover {
                background-position: -19px -20px;
                background-position:-71px -55px;               
            }
            #prev.disabled, #next.disabled {
                display: none !important;
            }
            