<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
 <title>Power Brain Education</title>
 <link href="/fe/css/bootstrap.css" rel="stylesheet">
 <link href="/fe/css/powerbrain.css" rel="stylesheet">
 <link href="/fe/css/powerbrain_inner.css" rel="stylesheet">
 <link href="/fe/css/powerbrainpages.css" rel="stylesheet">
 <link rel="shortcut icon" href="/img/favicon/favicon.ico">
</head>
<body>
<?php
if($logoimage->value1 == 0){
  header('Location: /../');
}
?>
<center>
<br><br><br><br>
<div class="row">
<div class="col-sm-12"><img src="/../img/frontend/maintenance.png" class="img-responsive"></div>
</div>
<div class="row">
<div class="col-sm-12">
	<section class="fcon-box4">
    <ul class="soc-mid">
      <li>Stay Connected</li>
    </ul><ul class="soc-mid">
      <li><a href="https://www.facebook.com/powerbraineducation" class="fb" target="_blank"><span>fb</span></a></li>
      <li><a href="https://twitter.com/powerbrainedu" class="tw"  target="_blank"><span>tw</span></a></li>
      <li><a href="https://www.youtube.com/powerbraineducation" class="yt"  target="_blank"><span>yt</span></a></li>
      <li><a href="/../index/rss" class="rss"  target="_blank"><span>rss</span></a></li>
    </ul>
  </section>
</div>
</div>



</body>
</html>