	<form class="form-validation ng-pristine ng-invalid ng-invalid-required" ng-submit="submitData(data)" name="form">
		<fieldset ng-disabled="isSaving">
			<div class="">
				<div class="panel-body">
					<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
					<div class="row">
						
						<div class="col-md-6">
							
							<div class="panel panel-default">
								<div class="panel-heading font-bold">
									Info 
								</div>
								<div class="panel-body">
									<input type="hidden" class="form-control ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.trainingid" ng-init="data.trainingid = idno" >
									<div class="form-group">
										<label>Title</label>
										<input type="text" class="form-control ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.title" required ng-keyup="ontitle(data.title)" ng-change="ontitle(data.title)">
										<br>
						                  <b class="pull-left">Slugs:&nbsp;</b>
						                  <input style="width:100px;margin-top:-5px;" type="text" ng-show="editslug" id="pageslugs" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern pull-left" ng-model="data.slugs" ng-init="data.slugs = slugs" ng-keyup="onslugs(data.slugs)" ng-change="onslugs(data.slugs)"><span ng-bind="slugs" class="pull-left mg-left"></span>
						                  <input type="hidden" class="form-control ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.blogslug" ng-value="data.blogslug = slugs" >

						                  <div ng-show="editslug">
						                    <a class="btn btn-danger btn-xs pull-right mg-left" ng-click="cancelnewsslug(data.title)">cancel</a>
						                    <a class="btn btn-primary btn-xs pull-right mg-left" ng-click="setslug(data.slugs)">ok</a>
						                  </div>
						                  <a class="btn btn-danger btn-xs pull-right mg-left" ng-hide="editslug" ng-click="clearslug(data.title)">clear</a>
						                  <a class="btn btn-primary btn-xs pull-right mg-left" ng-hide="editslug" ng-click="editnewsslug()">edit slug</a>


										<div ng-show="classfor">
											<div class="line line-dashed b-b line-lg pull-in"></div>
											<label>Class For</label>
											<select id="selectfor" class="form-control ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.classfor">
												<!-- <option value="">Please choose</option> -->
												<option value="teacher">Teacher/Instructor</option>
												<option value="mentor">Mentors</option>
												<option value="leader">Leaders</option>
											</select>
										</div>
										<div class="line line-dashed b-b line-lg pull-in"></div>
										<label>Body</label>
										<textarea class="ck-editor" class="form-control ng-invalid ng-invalid-required ng-valid-pattern"  ng-model="data.body" >
											
										</textarea>
									</div>

									

								</div>

							</div>
							

						</div>
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading font-bold">
									Embed Video
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label>Paste YouTube Embed Code</label>
										<input type="text" class="form-control ng-invalid ng-invalid-required ng-valid-pattern" placeholder="Embed" ng-model="data.embed" ng-change="_embed(data.embed)" required>
									</div>
									<style type="text/css">
										iframe {
											width: 100% !important;
										}
									</style>
									<div ng-bind-html="preview"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading font-bold">
									Upload PDF
								</div>

								<div class="loader" ng-show="imageloader">
									<div class="loadercontainer">
										<div class="spinner">
											<div class="rect1"></div>
											<div class="rect2"></div>
											<div class="rect3"></div>
											<div class="rect4"></div>
											<div class="rect5"></div>
										</div>
										Uploading your file please wait...
									</div>
								</div>
								<div class="col-sml-12">
									<div class="dragdropcenter" ng-show="Updata">
										<div ngf-drop ngf-select class="drop-box" 
										ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
										accept="application/pdf" ngf-change="upload($files)">Drop File here or click to upload</div>
									</div>
								</div>

								<div class="panel-body">
									<div class="col-md-4" ng-repeat="data in pdf">
										<span class="pull-left thumb-sm avatar m-r">
											<i class="fa fa-file-o fa-3x text-muted"></i>
											<i class="on b-white bottom"></i>
										</span>
										<span class="clear">
											<span>{[{data.name}]}</span>
											<div class="m-t-sm">
												<a href="" class="btn btn-default btn-xs" ng-click="_remove($index)">
													<i class="fa fa-trash-o text-muted"></i> Remove File
												</a>
											</div>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<footer class="panel-footer">
				<!-- chat form -->
				<div class="pull-right">
					<a class="btn btn-default" ng-click="cancel()">Close</a>
					<button disabled="disabled"  type="submit" class="btn btn-primary" ng-disabled="form.$invalid" scroll-to="Scrollup">Submit</button>
					<!-- <a class="btn btn-primary" ng-click="ok(update)">Update</a> -->
				</div>
				<div style="clear:both;"></div>
			</footer>
		</fieldset>
	</form>






