
<div class="" >
	<div class="panel-heading bg-primary">Banner Info</div>
	<div class="panel-body">   
		<div class="form-group">
			<label class="text-muted">Title</label>
			<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Name" ng-model="btitle" required="">
		</div>
		<div class="form-group">
			<label class="text-muted">Description</label>
			<textarea class="form-control" rows="6" placeholder="Type your message" ng-model="bdesc"></textarea>
		</div>
		<footer class="panel-footer">
			<!-- chat form -->
			<div class="pull-left">
				<a class="btn btn-default" ng-click="cancel()">Cancel</a>
				<a class="btn btn-primary" ng-click="ok({btitle:btitle, bdesc:bdesc})">Save</a>
			</div>
			<div style="clear:both;"></div>
		</footer>
	</div>
</div>








