<form class="bs-example form-horizontal" name="form" novalidate ng-submit="ok(category)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Add Category
        </div>

        <div class="row wrapper">
                <div class="col-sm-10"> 
                 <span class="label bg-danger" ng-show="notification">Ooopss! Tags Already Exist <br/></span>        
                   <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="category.catnames" required="required" ng-change="oncategorytitle(category.catnames)">
                </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <!-- <button type="submit" class="btn btn-success">Save</button> -->
                 <button ng-show="bt1" type="submit" class="btn btn-success" ng-disabled="formpage.$invalid" scroll-to="Scrollup" >Submit</button>
              <button ng-show="bt2" type="submit" class="btn btn-success" disabled>Submit sadas</button>
            </footer>
        </div>
    </div>
    
</form>