
<div class="">
	<div class="panel-heading">Edit Event</div>
	<div class="panel-body">
		<form class="form-validation ng-pristine ng-scope ng-invalid ng-invalid-required" ng-submit="SaveUpdate(data)" name="formevent">
			<fieldset ng-disabled="isSaving">
				<div class="wrapper-md">
					<alert ng-repeat="alert in alerts" type="{[{ alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-body">

									<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
									<div class="{[{formwidth}]}">
										<label class="col-sm-2 control-label"><label for="title">Title  <font style="color:red;font-size:24px">*</font></label> </label>
										<div class="col-sm-10">
											<!-- ngIf: user.usernametaken == true -->
											<input type="hidden" id="title" name="title" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-pattern"  ng-model="data.eventid" required="required">


											<input type="text" id="title" name="title" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-pattern"  ng-model="data.title" required="required">
										</div>

										<!-- <div class="line line-dashed b-b line-lg pull-in"></div>
										<label class="col-sm-2 control-label"><label for="title">Event Type</label> </label>
										<div class="col-sm-10">
											<div ui-module="select2">
												<select ui-select2 ng-model="data.type" class="form-control w-md g-pristine ng-invalid ng-invalid-required" >
													<option value="important">Important</option>
													<option value="warning">Warning</option>
													<option value="info">Info</option>
													<option value="inverse">Inverse</option>
													<option value="success">Success</option>
													<option value="special">Special</option>
												</select>
											</div>
										</div> -->
										<div class="line line-dashed b-b line-lg pull-in"></div>
										<label class="col-sm-2 control-label"><label for="title">Location</label> </label>
										<div class="col-sm-10">
											<!-- ngIf: user.usernametaken == true -->
											<!-- <input type="text" id="loc" name="loc" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.loc"> -->
											<textarea ng-model="act.loc" name="summary" required="required" class="form-control" style="resize:vertical;" ng-maxlength="1000"></textarea>
										</div>

										<div class="line line-dashed b-b line-lg pull-in"></div>

										<label class="col-sm-2 control-label"><label for="title">Date of Activity</label> </label>
										<div class="col-sm-10">&nbsp;</div>

										<div class="line line-dashed b-b line-lg pull-in"></div>

										<label class="col-sm-2 control-label" style="text-align:right"><label for="title">From</label> </label>
										<div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
											
											<div class="input-group w-md">
												<span class="input-group-btn">
													
													<input id="date" name="date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="data.dfrom" is-open="opened" datepicker-options="dateOptions"  ng-required="true" close-text="Close" type="text" disabled>
													<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</div>
										</div>

										<div class="line line-dashed b-b line-lg pull-in"></div>

										<label class="col-sm-2 control-label" style="text-align:right"><label for="title">To </label> </label>
										<div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
											
											<div class="input-group w-md">
												<span class="input-group-btn">

													{[{data.dto}]}
													<input id="date" name="date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="data.dto" is-open="opened" datepicker-options="dateOptions"  ng-required="true" close-text="Close" type="text" disabled>
													<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</div>
										</div>

										<div class="line line-dashed b-b line-lg pull-in"></div>

										<div class="form-group">
											<label class="col-sm-2 control-label">Time of Activity</label>
											<div class="col-lg-10">
												<div  class="m-b-lg">
													<!-- <timepicker ng-model="act.mytime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-required="true"></timepicker> -->
													<div class="input-group m-b" style="width:170px;">
														<span class="input-group-btn">
															<button class="btn btn-default" type="button">Start Time</button>
														</span>
														<select ng-model="data.mytime" class="form-control w-md g-pristine ng-invalid ng-invalid-required" required>
															<option value="07:00 AM">07:00 AM</option>
															<option value="07:30 AM">07:30 AM</option>
															<option value="08:00 AM">08:00 AM</option>
															<option value="08:30 AM">08:30 AM</option>
															<option value="09:00 AM">09:00 AM</option>
															<option value="09:30 AM">09:30 AM</option>
															<option value="10:00 AM">10:00 AM</option>
															<option value="10:30 AM">10:30 AM</option>
															<option value="11:00 AM">11:00 AM</option>
															<option value="11:30 AM">11:30 AM</option>
															<option value="12:00 AM">12:00 AM</option>
															<option value="12:30 AM">12:30 AM</option>
															<option value="01:00 PM">01:00 PM</option>
															<option value="01:30 PM">01:30 PM</option>
															<option value="02:00 PM">02:00 PM</option>
															<option value="02:30 PM">02:30 PM</option>
															<option value="03:00 PM">03:00 PM</option>
															<option value="03:30 PM">03:30 PM</option>
															<option value="04:00 PM">04:00 PM</option>
															<option value="04:30 PM">04:30 PM</option>
															<option value="05:00 PM">05:00 PM</option>
															<option value="05:30 PM">05:30 PM</option>
															<option value="06:00 PM">06:00 PM</option>
															<option value="06:30 PM">06:30 PM</option>
															<option value="07:00 PM">07:00 PM</option>
															<option value="07:30 PM">07:30 PM</option>
															<option value="08:00 PM">08:00 PM</option>
															<option value="08:30 PM">08:30 PM</option>
															<option value="09:00 PM">09:00 PM</option>
															<option value="09:30 PM">09:30 PM</option>
															<option value="10:00 PM">10:00 PM</option>
															<option value="10:30 PM">10:30 PM</option>
															<option value="11:00 PM">11:00 PM</option>
															<option value="11:30 PM">11:30 PM</option>
															<option value="12:00 PM">12:00 PM</option>
															<option value="12:30 AM">12:30 AM</option>
														</select>
													</div>
													<div class="input-group m-b " style="width:170px;">
														<span class="input-group-btn">
															<button class="btn btn-default" type="button">End Time</button>
														</span>
														<select ng-model="data.mytimend" class="form-control w-md g-pristine ng-invalid ng-invalid-required" required>
															<option value="07:00 AM">07:00 AM</option>
															<option value="07:30 AM">07:30 AM</option>
															<option value="08:00 AM">08:00 AM</option>
															<option value="08:30 AM">08:30 AM</option>
															<option value="09:00 AM">09:00 AM</option>
															<option value="09:30 AM">09:30 AM</option>
															<option value="10:00 AM">10:00 AM</option>
															<option value="10:30 AM">10:30 AM</option>
															<option value="11:00 AM">11:00 AM</option>
															<option value="11:30 AM">11:30 AM</option>
															<option value="12:00 AM">12:00 AM</option>
															<option value="12:30 AM">12:30 AM</option>
															<option value="01:00 PM">01:00 PM</option>
															<option value="01:30 PM">01:30 PM</option>
															<option value="02:00 PM">02:00 PM</option>
															<option value="02:30 PM">02:30 PM</option>
															<option value="03:00 PM">03:00 PM</option>
															<option value="03:30 PM">03:30 PM</option>
															<option value="04:00 PM">04:00 PM</option>
															<option value="04:30 PM">04:30 PM</option>
															<option value="05:00 PM">05:00 PM</option>
															<option value="05:30 PM">05:30 PM</option>
															<option value="06:00 PM">06:00 PM</option>
															<option value="06:30 PM">06:30 PM</option>
															<option value="07:00 PM">07:00 PM</option>
															<option value="07:30 PM">07:30 PM</option>
															<option value="08:00 PM">08:00 PM</option>
															<option value="08:30 PM">08:30 PM</option>
															<option value="09:00 PM">09:00 PM</option>
															<option value="09:30 PM">09:30 PM</option>
															<option value="10:00 PM">10:00 PM</option>
															<option value="10:30 PM">10:30 PM</option>
															<option value="11:00 PM">11:00 PM</option>
															<option value="11:30 PM">11:30 PM</option>
															<option value="12:00 PM">12:00 PM</option>
															<option value="12:30 AM">12:30 AM</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--START MAP ////////////////////////////////////////////////////// -->
									<script type="text/ng-template" id="searchbox.tpl.html">
										<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" id="pac-input" placeholder="Search Box">
									</script>
									<div ng-show="map" class="col-sm-6" style="border:1px solid #ccc;">
										Pin Location
										<alert ng-repeat="alert in mapalert" type="{[{ alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
										<div id="map_canvas">
											<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
											<ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
											
											<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
										</ui-gmap-google-map>

										<div ng-cloak>
											<ul>
												<li>coords update ctr: {[{coordsUpdates}]}</li>
												<li>dynamic move ctr: {[{dynamicMoveCtr}]}</li>
											</ul>
										</div>
									</div>
									<style type="text/css">
										html, body, #map_canvas {
											height: 400px;
											width: 100%;
											margin: 0px;
										}
										#map_canvas {
											position: relative;
										}
										.angular-google-map-container {
											position: absolute;
											top: 0;
											bottom: 0;
											right: 0;
											left: 0;
										}
										#pac-input {
											background-color: #fff;
											font-family: Roboto;
											font-size: 15px;
											font-weight: 300;
											margin-left: 12px;
											margin-top: :20px;
											padding: 0 11px 0 13px;
											text-overflow: ellipsis;
											width: 300px;
										}
									</style>



								</div>

								<!--END MAP ////////////////////////////////////////////////////// -->

								<div class="line line-dashed b-b line-lg pull-in"></div> 

								<label class="col-sm-2 control-label"><label for="title">Short Description <font style="color:red;font-size:24px">*</font></label> </label>
								<div class="col-sm-10">
									<!-- ngIf: user.usernametaken == true -->
									<!-- <input type="text" id="shortdesc" name="shortdesc" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.shortdesc" required="required"> -->
									<textarea ng-model="act.shortdesc" name="summary" required="required" class="form-control" style="resize:vertical;" ng-maxlength="1000"></textarea>
								</div>

								<br>
								<div class="line line-dashed b-b line-lg pull-in"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">Full Description <font style="color:red;font-size:24px">*</font></label>
									<div class="col-sm-10">

										<textarea class="ck-editor" ng-model="data.body" required="required"></textarea>
									</div>
								</div>

								<div class="line line-dashed b-b line-lg pull-in"></div>

							</div>       
						</div>
					</div>



				</div>

				<div class="row" >
					<div class="panel-body">
						<footer class="panel-footer text-right bg-light lter">
							<a class="btn btn-default" ng-click="cancel()">Close</a>
							<button type="submit" class="btn btn-success" ng-disabled="formcalen.$invalid">Submit</button>
						</footer>
					</div>
				</fieldset>
			</form>
		</div>

	</div>

</div>






