<div class="panel panel-default">

	<form name="form" class="form-validation ng-pristine ng-invalid ng-invalid-required" ng-submit="imgSave(img)">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="h4"> Save Image</span>
			</div>
			<div class="panel-body">
				<input id="pathimage" type="hidden" id="title" name="title" class="form-control" ng-model="imgamazonpath"  ng-init="imgamazonpath= amazonpath+'/uploads/banner/'+ imgfilename">
			

				<img src="{[{imgamazonpath}]}">
				<br><br>
				<div class="form-group pull-in clearfix">
					<div class="col-sm-6">
						<label>Title</label>
						<input type="hidden" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Title" ng-model="img.userid" ng-init="img.userid = UsErid" required="">
						<input type="hidden" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Title" ng-model="img.img" ng-init="img.img = imgfilename" required="">
						<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Title" ng-model="img.imgtitle" required="">
					</div>
				</div>
				
				<div class="form-group">
					<label>Description</label>
					<textarea class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="img.imgdesc" rows="6" placeholder="Description" required=""></textarea>
				</div>
			</div>
			<footer class="panel-footer text-right bg-light lter">
				<a class="btn btn-default" ng-click="cancel()">Cancel</a>
				<button type="submit" class="btn btn-success" ng-disabled="form.$invalid" disabled="disabled">Submit</button>
			</footer>
		</div>
	</form>


</div>




