<form class="bs-example form-horizontal" name="form" novalidate>
	<div class="panel panel-default">

		<div class="panel-heading"> Event Title: {[{data.title}]} <br> From: {[{data.dfrom}]} ~ To:  {[{data.dto}]} <br> Time: {[{data.mytime2}]}</div>
		<div class="panel-body">
			<p>Location: {[{data.loc}]} </p> 
			<p>Description: {[{data.shortdesc}]} </p> 
			<div ng-bind-html="data.body"></div>            
		</div>
		<footer class="panel-footer">
			<!-- chat form -->
			<div class="pull-right">
				<a class="btn btn-default" ng-click="cancel()">Close</a>
			</div>
			<div style="clear:both;"></div>
		</footer>
	</div>
</form>




