<div class="panel panel-default">

	<form name="form" class="form-validation ng-pristine ng-invalid ng-invalid-required" ng-submit="imgSave(vid)">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="h4">Add Video</span>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label>Paste Embed 	{[{usrid}]}</label>
					<textarea class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="vid.embed" rows="2" placeholder="Description" required="" ng-change="emded(vid.embed)"></textarea>
				</div>

				<div ng-show="showimg" class="imagegallerystyle" style="background-image: url('{[{imgfilename}]}');"></div> 

				<div class="form-group pull-in clearfix">
					<div class="col-sm-6">
						<label>Title</label>
						<input type="hidden" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="vid.userid" ng-value="vid.userid = UsErid" required="">
						<input type="hidden" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="vid.image" ng-value="vid.image = imgfilename" required="">
						<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Title" ng-model="vid.title" required="">
					</div>
				</div>
				
				<div class="form-group">
					<label>Description</label>
					<textarea class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="vid.desc" rows="6" placeholder="Description" required=""></textarea>
				</div>
			</div>
			<footer class="panel-footer text-right bg-light lter">
				<a class="btn btn-default" ng-click="cancel()">Cancel</a>
				<button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Submit</button>
			</footer>
		</div>
	</form>


</div>




