
<div class="">
	<div class="panel-heading">Embed Video</div>
	<div class="panel-body">
		<div class="panel-body">
			
			<form class="form-validation ng-pristine ng-invalid ng-invalid-required" ng-submit="savethis(data)" name="formpage">
				<input type="hidden"  ng-model="data.centerid" class="form-control"  ng-value="data.centerid = centerids" >
				<div class="input-group m-b " >

					<input id="embed" type="text"  ng-model="data.video" class="form-control"  placeholder="Paste Youtube Embed">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-success" ng-disabled="formpage.$invalid" ng-click="">Save Embed</button>
					</span>
					
				</div>
			</form>

			<div ng-show="vidembed" class="col-sml-6">
				Embed here
				<div ng-bind-html="watchvideo"></div>
			</div>
			<div  class="col-sml-6">

				<div style=" height:500px; overflow-y:scroll;">
					<div ng-show="noimage"><center>IMAGE GALLERY IS EMPTY</div>
					<alert ng-repeat="alert in alertmodal" type="{[{alert.type }]}" close="closeAlerts($index)">{[{ alert.msg }]}</alert>
					<div class="line line-dashed b-b line-lg"></div>
					<div class="col-sm-3" ng-repeat="data in videolist" style="margin-bottom:15px;" ng-show="imggallery">
						<button class=" btn btn-rounded btn btn-icon btn-danger" ng-click="delete(data.vidid)" style="margin:10px 5px -50px; 5px"><i class="fa fa-trash-o"></i></button>
						<input id="pathimage" type="hidden" id="title" name="title" class="form-control" ng-init="embed= data.embed" onClick="this.setSelectionRange(0, this.value.length)" ng-model="embed">
						<input type="button" class="imagegallerystyle" style="background-image: url('https://i.ytimg.com/vi/{[{data.embedid}]}/default.jpg');" ng-click="path(embed)">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<!-- chat form -->
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<!-- <a class="btn btn-primary" ng-click="ok(update)">Update</a> -->
	</div>
	<div style="clear:both;"></div>
</footer>
</div>






