
<style type="text/css">
	.bg87bf78 {
		background-color: #87bf78 !important;
		padding: 10px;
	}
	.bg79d0dc {
		background-color: #79d0dc !important;
		padding: 10px;
	}
	.bged6459 {
		background-color: #ed6459 !important;
		padding: 10px;
	}

</style>



<div class="panel panel-default">
	<div class="panel-heading">
		Class Schedule
	</div>

	<div class="table-responsive">
		<table class="table table-striped b-t b-light ">
			<thead class="bg-info" >
				<tr>
					<th style="text-align:left;">Monday</th>
					<th style="text-align:left;">Tuesday</th>
					<th style="text-align:left;">Wednesday</th>
					<th style="text-align:left;">Thursday</th>
					<th style="text-align:left;">Friday</th>
					<th style="text-align:left;">Saturday</th>
					<th style="text-align:left;">Sunday</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<ul class="list-group no-borders pull-in auto">
							<li class="bg{[{data.bg.replace('#', '')}]}" class="list-group-item" ng-repeat="data in sched | filter: 'monday'" style="color:#ffffff;">
		
								<div >
									<!-- <a href="" class="text-muted" ><i class="fa fa-trash-o pull-right "></i></a>
									<a href="" class="text-muted"><i class="icon-pencil pull-right "></i></a> -->
									<div class="clear">
										<div ng-if="data.type=='kids'">Kids Class</div>
										<div ng-if="data.type=='teen'">Teen Class</div>
										<div ng-if="data.type=='adult'">Adult Class</div>
										<small class="text-muted"  style="color:#fff;">{[{data.from}]} ~ {[{data.to}]}</small>
									</div>
									<div class="line line-dashed b-b line-lg pull-in"></div>
								</div>
							</li>
						</ul>
					</td>
					<td>
						<ul class="list-group no-borders pull-in auto">
							<li class="bg{[{data.bg.replace('#', '')}]}" class="list-group-item" ng-repeat="data in sched | filter: 'tuesday'" style=" color:#ffffff;">
								<!-- <a href="" class="text-muted" ><i class="fa fa-trash-o pull-right "></i></a>
								<a href="" class="text-muted"><i class="icon-pencil pull-right "></i></a> -->
								<div class="clear">
									<div ng-if="data.type=='kids'">Kids Class</div>
									<div ng-if="data.type=='teen'">Teen Class</div>
									<div ng-if="data.type=='adult'">Adult Class</div>
									<small class="text-muted" style="color:#fff;">{[{data.from}]} ~ {[{data.to}]}</small>
								</div>  
								<div class="line line-dashed b-b line-lg pull-in"></div>              
							</li>

						</ul>
					</td>
					<td>

						<ul class="list-group no-borders pull-in auto">
							<li class="bg{[{data.bg.replace('#', '')}]}" class="list-group-item" ng-repeat="data in sched | filter: 'wednesday'" style=" color:#ffffff;">
								<!-- <a href="" class="text-muted" ><i class="fa fa-trash-o pull-right "></i></a>
								<a href="" class="text-muted"><i class="icon-pencil pull-right "></i></a> -->
								<div class="clear">
									<div ng-if="data.type=='kids'">Kids Class</div>
									<div ng-if="data.type=='teen'">Teen Class</div>
									<div ng-if="data.type=='adult'">Adult Class</div>
									<small class="text-muted" style="color:#fff;">{[{data.from}]} ~ {[{data.to}]}</small>
								</div>
								<div class="line line-dashed b-b line-lg pull-in"></div>
							</li>
						</ul>
					</td>
					<td>

						<ul class="list-group no-borders pull-in auto">
							<li class="bg{[{data.bg.replace('#', '')}]}" class="list-group-item" ng-repeat="data in sched | filter: 'thursday'" style="color:#ffffff;">
								<!-- <a href="" class="text-muted" ><i class="fa fa-trash-o pull-right "></i></a>
								<a href="" class="text-muted"><i class="icon-pencil pull-right "></i></a> -->
								<div class="clear">
									<div ng-if="data.type=='kids'">Kids Class</div>
									<div ng-if="data.type=='teen'">Teen Class</div>
									<div ng-if="data.type=='adult'">Adult Class</div>
									<small class="text-muted" style="color:#fff;">{[{data.from}]} ~ {[{data.to}]}</small>
								</div>
								<div class="line line-dashed b-b line-lg pull-in"></div>
							</li>
						</ul>
					</td>
					<td>

						<ul class="list-group no-borders pull-in auto">
							<li class="bg{[{data.bg.replace('#', '')}]}" class="list-group-item" ng-repeat="data in sched | filter: 'friday'" style=" color:#ffffff;">
								<!-- <a href="" class="text-muted" ><i class="fa fa-trash-o pull-right "></i></a>
								<a href="" class="text-muted"><i class="icon-pencil pull-right "></i></a> -->
								<div class="clear">
									<div ng-if="data.type=='kids'">Kids Class</div>
									<div ng-if="data.type=='teen'">Teen Class</div>
									<div ng-if="data.type=='adult'">Adult Class</div>
									<small class="text-muted" style="color:#fff;">{[{data.from}]} ~ {[{data.to}]}</small>
								</div>
								<div class="line line-dashed b-b line-lg pull-in"></div>
							</li>
						</ul>
					</td>
					<td>

						<ul class="list-group no-borders pull-in auto">
							<li class="bg{[{data.bg.replace('#', '')}]}" class="list-group-item" ng-repeat="data in sched | filter: 'saturday'" style=" color:#ffffff;">
								<!-- <a href="" class="text-muted" ><i class="fa fa-trash-o pull-right "></i></a>
								<a href="" class="text-muted"><i class="icon-pencil pull-right "></i></a> -->
								<div class="clear">
									<div ng-if="data.type=='kids'">Kids Class</div>
									<div ng-if="data.type=='teen'">Teen Class</div>
									<div ng-if="data.type=='adult'">Adult Class</div>
									<small class="text-muted" style="color:#fff;">{[{data.from}]} ~ {[{data.to}]}</small>
								</div>
								<div class="line line-dashed b-b line-lg pull-in"></div>
							</li>
						</ul>
					</td>
					<td>

						<ul class="list-group no-borders pull-in auto">
							<li class="bg{[{data.bg.replace('#', '')}]}" class="list-group-item" ng-repeat="data in sched | filter: 'sunday'" style=" color:#ffffff;">
								<!-- <a href="" class="text-muted" ><i class="fa fa-trash-o pull-right "></i></a>
								<a href="" class="text-muted"><i class="icon-pencil pull-right "></i></a> -->
								<div class="clear">
									<div ng-if="data.type=='kids'">Kids Class</div>
									<div ng-if="data.type=='teen'">Teen Class</div>
									<div ng-if="data.type=='adult'">Adult Class</div>
									<small class="text-muted" style="color:#fff;">{[{data.from}]} ~ {[{data.to}]}</small>
								</div>
								<div class="line line-dashed b-b line-lg pull-in"></div>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer class="panel-footer">
		<!-- chat form -->
		<div class="pull-left inline">
			<p>
				<button class="btn btn-sm btn-icon btn-info">A</button> Adult &nbsp;&nbsp;&nbsp;
				<button class="btn btn-sm btn-icon btn-danger">K</button> Kids &nbsp;&nbsp;&nbsp;
				<button class="btn btn-sm btn-icon btn-success">T</button> Teens 
			</p>
		</div>
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Close</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>

