
<div class="" >
	<div class="panel-heading bg-default"><i class="fa fa-warning"></i> Message</div>
	<div class="panel-body">   
	
		{[{msg}]}
		<footer class="panel-footer">
			<!-- chat form -->
			<div class="pull-right">
				<a class="btn btn-success" ng-click="cancel()">ok</a>
			</div>
			<div style="clear:both;"></div>
		</footer>
	</div>
</div>








