
<div class="" >
	<div class="panel-heading bg-primary">Review ACcount</div>
	<div class="panel-body">
		<div style="clear:both">
			<div class="col-md-4">
				<img src="https://powerbrain.s3.amazonaws.com/uploads/banner/{[{user.profile}]}"  style="width:180px;height:160px;">
			</div>
			<div class="col-md-8">
				<a href="" class="list-group-item">
					<span class="text-muted">Username: &nbsp;&nbsp;</span> {[{user.username}]} 
				</a>
				<a href="" class="list-group-item">
					<span class="text-muted">Name: &nbsp;&nbsp;</span> {[{user.fname}]} {[{user.lname}]}
				</a>
				<a href="" class="list-group-item">
					<span class="text-muted">Gender: &nbsp;&nbsp;</span> {[{user.gender}]}
				</a>
				<a href="" class="list-group-item">
					<span class="text-muted">Birthdate: &nbsp;&nbsp;</span> {[{user.birthday}]}
				</a>
				<a href="" class="list-group-item">
					<span class="text-muted">E-mail: &nbsp;&nbsp;</span>{[{user.email}]}
				</a>
				<a href="" class="list-group-item">
					<span class="text-muted">School: &nbsp;&nbsp;</span>{[{user.school}]}
				</a>
				<a href="" class="list-group-item">
					<span class="text-muted">Grade: &nbsp;&nbsp;</span>{[{user.grade}]}
				</a>
			</div>
		</div>
		
		<div class="line line-dashed b-b line-lg pull-in" style="margin-top:10px;"></div>
		<form class="form-validation ng-pristine ng-invalid ng-invalid-required" ng-submit="confirm(uuser)" name="form">
			<fieldset ng-disabled="isSaving">
				<div class="wrapper-md">
					<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
					<div >
						<div class="panel panel-default">
							<div class="panel-heading font-bold">
								Account User Role
							</div>
							<div class="panel-body">
								<div class="form-group">
									<div class="col-sm-10">
										<input id="" type="hidden" name="id"  ng-model="uuser.userid" ng-init="uuser.userid  = user.userid "  ng-click="_req(false)">
										<input id="" type="hidden" name="id"  ng-model="uuser.email" ng-init="uuser.email  = user.email "  ng-click="_req(false)">
										<input id="" type="hidden" name="id"  ng-model="uuser.fname" ng-init="uuser.fname  = user.fname "  ng-click="_req(false)">
										<input id="" type="hidden" name="id"  ng-model="uuser.lname" ng-init="uuser.lname  = user.lname "  ng-click="_req(false)">
										<div class="radio">
											<label class="i-checks">
												<input id="userrole" type="radio" name="userrole" value="teacher" ng-model="uuser.userrole" ng-init="uuser.userrole  = user.userrole "  required>
												<i></i>
												<label class="text-success">Teacher/Instructor</label> ~ Access Frontend
											</label>
										</div>
										<div class="line line-dashed b-b line-lg pull-in"></div>
										<div class="radio">
											<label class="i-checks">
												<input id="userrole" type="radio" name="userrole" value="mentor" ng-model="uuser.userrole" ng-init="uuser.userrole  = user.userrole " required>
												<i></i>
												<label class="text-success">Mentor</label> ~ Access Frontend
											</label>
										</div>
										<div class="line line-dashed b-b line-lg pull-in"></div>
										<div class="radio">
											<label class="i-checks">
												<input id="userrole" type="radio" name="userrole" value="leader" ng-model="uuser.userrole" ng-init="uuser.userrole  = user.userrole " required>
												<i></i>
												<label class="text-success">Leader</label> ~ Access Frontend
											</label>
										</div>
									</div>
								</div> 
								
								
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-group">
							<button disabled="disabled"  type="submit" class="btn btn-success pull-right" ng-disabled="" scroll-to="Scrollup">Confirm Account</button>
							<a class="btn btn-default pull-right" ng-click="cancel()">Cancel</a>
							
						</div>
					</div>
				</fieldset>

			</form>
		</div>
	</div>








