

<form class="form-validation ng-pristine ng-invalid ng-invalid-required" ng-submit="updatesched(data)" name="scheds">
	<div class="panel panel-default">
		<div class="panel-heading">Update {[{kyben}]}<label  style="text-transform:capitalize;font-weight: bold" >{[{day}]}</label> Class Schedule {[{data.from}]} </div>
		<div class="panel-body" >
			<label >Class Type :</label>
		
			<input type="hidden" ng-model="data.schedid" >
			<div ui-module="select2">
				<select ui-select2 ng-model="data.type" class="form-control w-md g-pristine ng-invalid ng-invalid-required" required>
					<option value="kids">Kids Class</option>
					<option value="teen">Teen Class</option>
					<option value="adult">Adult Class</option>
				</select>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<label>Time :</label>
			<div class="form-inline">
				<div class="input-group m-b">
					<span class="input-group-addon">From:</span>
					<select ng-model="data.from" class="form-control w-md g-pristine ng-invalid ng-invalid-required" required>
						<option value="07:00 AM">07:00 AM</option>
						<option value="07:05 AM">07:05 AM</option>
						<option value="07:10 AM">07:10 AM</option>
						<option value="07:15 AM">07:15 AM</option>
						<option value="07:20 AM">07:20 AM</option>
						<option value="07:25 AM">07:25 AM</option>
						<option value="07:30 AM">07:30 AM</option>
						<option value="07:35 AM">07:35 AM</option>
						<option value="07:40 AM">07:40 AM</option>
						<option value="07:45 AM">07:45 AM</option>
						<option value="07:50 AM">07:50 AM</option>
						<option value="07:55 AM">07:55 AM</option>

						<option value="08:00 AM">08:00 AM</option>
						<option value="08:05 AM">08:05 AM</option>
						<option value="08:10 AM">08:10 AM</option>
						<option value="08:15 AM">08:15 AM</option>
						<option value="08:20 AM">08:20 AM</option>
						<option value="08:25 AM">08:25 AM</option>
						<option value="08:30 AM">08:30 AM</option>
						<option value="08:35 AM">08:35 AM</option>
						<option value="08:40 AM">08:40 AM</option>
						<option value="08:45 AM">08:45 AM</option>
						<option value="08:50 AM">08:50 AM</option>
						<option value="08:55 AM">08:55 AM</option>

						<option value="09:00 AM">09:00 AM</option>
						<option value="09:05 AM">09:05 AM</option>
						<option value="09:10 AM">09:10 AM</option>
						<option value="09:15 AM">09:15 AM</option>
						<option value="09:20 AM">09:20 AM</option>
						<option value="09:25 AM">09:25 AM</option>
						<option value="09:30 AM">09:30 AM</option>
						<option value="09:35 AM">09:35 AM</option>
						<option value="09:40 AM">09:40 AM</option>
						<option value="09:45 AM">09:45 AM</option>
						<option value="09:50 AM">09:50 AM</option>
						<option value="09:55 AM">09:55 AM</option>

						<option value="10:00 AM">10:00 AM</option>
						<option value="10:05 AM">10:05 AM</option>
						<option value="10:10 AM">10:10 AM</option>
						<option value="10:15 AM">10:15 AM</option>
						<option value="10:20 AM">10:20 AM</option>
						<option value="10:25 AM">10:25 AM</option>
						<option value="10:30 AM">10:30 AM</option>
						<option value="10:35 AM">10:35 AM</option>
						<option value="10:40 AM">10:40 AM</option>
						<option value="10:45 AM">10:45 AM</option>
						<option value="10:50 AM">10:50 AM</option>
						<option value="10:55 AM">10:55 AM</option>


						<option value="11:00 AM">11:00 AM</option>
						<option value="11:05 AM">11:05 AM</option>
						<option value="11:10 AM">11:10 AM</option>
						<option value="11:15 AM">11:15 AM</option>
						<option value="11:20 AM">11:20 AM</option>
						<option value="11:25 AM">11:25 AM</option>
						<option value="11:30 AM">11:30 AM</option>
						<option value="11:35 AM">11:35 AM</option>
						<option value="11:40 AM">11:40 AM</option>
						<option value="11:45 AM">11:45 AM</option>
						<option value="11:50 AM">11:50 AM</option>
						<option value="11:55 AM">11:55 AM</option>

						<option value="12:00 AM">12:00 AM</option>
						<option value="12:05 AM">12:05 AM</option>
						<option value="12:10 AM">12:10 AM</option>
						<option value="12:15 AM">12:15 AM</option>
						<option value="12:20 AM">12:20 AM</option>
						<option value="12:25 AM">12:25 AM</option>
						<option value="12:30 AM">12:30 AM</option>
						<option value="12:35 AM">12:35 AM</option>
						<option value="12:40 AM">12:40 AM</option>
						<option value="12:45 AM">12:45 AM</option>
						<option value="12:50 AM">12:50 AM</option>
						<option value="12:55 AM">12:55 AM</option>

						<option value="01:00 PM">01:00 PM</option>
						<option value="01:05 PM">01:05 PM</option>
						<option value="01:10 PM">01:10 PM</option>
						<option value="01:15 PM">01:15 PM</option>
						<option value="01:20 PM">01:20 PM</option>
						<option value="01:25 PM">01:25 PM</option>
						<option value="01:30 PM">01:30 PM</option>
						<option value="01:35 PM">01:35 PM</option>
						<option value="01:40 PM">01:40 PM</option>
						<option value="01:45 PM">01:45 PM</option>
						<option value="01:50 PM">01:50 PM</option>
						<option value="01:55 PM">01:55 PM</option>

						<option value="02:00 PM">02:00 PM</option>
						<option value="02:05 PM">02:05 PM</option>
						<option value="02:10 PM">02:10 PM</option>
						<option value="02:15 PM">02:15 PM</option>
						<option value="02:20 PM">02:20 PM</option>
						<option value="02:25 PM">02:25 PM</option>
						<option value="02:30 PM">02:30 PM</option>
						<option value="02:35 PM">02:35 PM</option>
						<option value="02:40 PM">02:40 PM</option>
						<option value="02:45 PM">02:45 PM</option>
						<option value="02:50 PM">02:50 PM</option>
						<option value="02:55 PM">02:55 PM</option>

						<option value="03:00 PM">03:00 PM</option>
						<option value="03:05 PM">03:05 PM</option>
						<option value="03:10 PM">03:10 PM</option>
						<option value="03:15 PM">03:15 PM</option>
						<option value="03:20 PM">03:20 PM</option>
						<option value="03:25 PM">03:25 PM</option>
						<option value="03:30 PM">03:30 PM</option>
						<option value="03:35 PM">03:35 PM</option>
						<option value="03:40 PM">03:40 PM</option>
						<option value="03:45 PM">03:45 PM</option>
						<option value="03:50 PM">03:50 PM</option>
						<option value="03:55 PM">03:55 PM</option>

						<option value="04:00 PM">04:00 PM</option>
						<option value="04:05 PM">04:05 PM</option>
						<option value="04:10 PM">04:10 PM</option>
						<option value="04:15 PM">04:15 PM</option>
						<option value="04:20 PM">04:20 PM</option>
						<option value="04:25 PM">04:25 PM</option>
						<option value="04:30 PM">04:30 PM</option>
						<option value="04:35 PM">04:35 PM</option>
						<option value="04:40 PM">04:40 PM</option>
						<option value="04:45 PM">04:45 PM</option>
						<option value="04:50 PM">04:50 PM</option>
						<option value="04:55 PM">04:55 PM</option>

						<option value="05:00 PM">05:00 PM</option>
						<option value="05:05 PM">05:05 PM</option>
						<option value="05:10 PM">05:10 PM</option>
						<option value="05:15 PM">05:15 PM</option>
						<option value="05:20 PM">05:20 PM</option>
						<option value="05:25 PM">05:25 PM</option>
						<option value="05:30 PM">05:30 PM</option>
						<option value="05:35 PM">05:35 PM</option>
						<option value="05:40 PM">05:40 PM</option>
						<option value="05:45 PM">05:45 PM</option>
						<option value="05:50 PM">05:50 PM</option>
						<option value="05:55 PM">05:55 PM</option>

						<option value="06:00 PM">06:00 PM</option>
						<option value="06:05 PM">06:05 PM</option>
						<option value="06:10 PM">06:10 PM</option>
						<option value="06:15 PM">06:15 PM</option>
						<option value="06:20 PM">06:20 PM</option>
						<option value="06:25 PM">06:25 PM</option>
						<option value="06:30 PM">06:30 PM</option>
						<option value="06:35 PM">06:35 PM</option>
						<option value="06:40 PM">06:40 PM</option>
						<option value="06:45 PM">06:45 PM</option>
						<option value="06:50 PM">06:50 PM</option>
						<option value="06:55 PM">06:55 PM</option>

						<option value="07:00 PM">07:00 PM</option>
						<option value="07:05 PM">07:05 PM</option>
						<option value="07:10 PM">07:10 PM</option>
						<option value="07:15 PM">07:15 PM</option>
						<option value="07:20 PM">07:20 PM</option>
						<option value="07:25 PM">07:25 PM</option>
						<option value="07:30 PM">07:30 PM</option>
						<option value="07:35 PM">07:35 PM</option>
						<option value="07:40 PM">07:40 PM</option>
						<option value="07:45 PM">07:45 PM</option>
						<option value="07:50 PM">07:50 PM</option>
						<option value="07:55 PM">07:55 PM</option>

						<option value="08:00 PM">08:00 PM</option>
						<option value="08:05 PM">08:05 PM</option>
						<option value="08:10 PM">08:10 PM</option>
						<option value="08:15 PM">08:15 PM</option>
						<option value="08:20 PM">08:20 PM</option>
						<option value="08:25 PM">08:25 PM</option>
						<option value="08:30 PM">08:30 PM</option>
						<option value="08:35 PM">08:35 PM</option>
						<option value="08:40 PM">08:40 PM</option>
						<option value="08:45 PM">08:45 PM</option>
						<option value="08:50 PM">08:50 PM</option>
						<option value="08:55 PM">08:55 PM</option>

						<option value="09:00 PM">09:00 PM</option>
						<option value="09:05 PM">09:05 PM</option>
						<option value="09:10 PM">09:10 PM</option>
						<option value="09:15 PM">09:15 PM</option>
						<option value="09:20 PM">09:20 PM</option>
						<option value="09:25 PM">09:25 PM</option>
						<option value="09:30 PM">09:30 PM</option>
						<option value="09:35 PM">09:35 PM</option>
						<option value="09:40 PM">09:40 PM</option>
						<option value="09:45 PM">09:45 PM</option>
						<option value="09:50 PM">09:50 PM</option>
						<option value="09:55 PM">09:55 PM</option>

						<option value="10:00 PM">10:00 PM</option>
						<option value="10:05 PM">10:05 PM</option>
						<option value="10:10 PM">10:10 PM</option>
						<option value="10:15 PM">10:15 PM</option>
						<option value="10:20 PM">10:20 PM</option>
						<option value="10:25 PM">10:25 PM</option>
						<option value="10:30 PM">10:30 PM</option>
						<option value="10:35 PM">10:35 PM</option>
						<option value="10:40 PM">10:40 PM</option>
						<option value="10:45 PM">10:45 PM</option>
						<option value="10:50 PM">10:50 PM</option>
						<option value="10:55 PM">10:55 PM</option>

						<option value="11:00 PM">11:00 PM</option>
						<option value="11:05 PM">11:05 PM</option>
						<option value="11:10 PM">11:10 PM</option>
						<option value="11:15 PM">11:15 PM</option>
						<option value="11:20 PM">11:20 PM</option>
						<option value="11:25 PM">11:25 PM</option>
						<option value="11:30 PM">11:30 PM</option>
						<option value="11:35 PM">11:35 PM</option>
						<option value="11:40 PM">11:40 PM</option>
						<option value="11:45 PM">11:45 PM</option>
						<option value="11:50 PM">11:50 PM</option>
						<option value="11:55 PM">11:55 PM</option>

						<option value="12:00 PM">12:00 PM</option>
						<option value="12:05 PM">12:05 PM</option>
						<option value="12:10 PM">12:10 PM</option>
						<option value="12:15 PM">12:15 PM</option>
						<option value="12:20 PM">12:20 PM</option>
						<option value="12:25 PM">12:25 PM</option>
						<option value="12:30 PM">12:30 PM</option>
						<option value="12:35 PM">12:35 PM</option>
						<option value="12:40 PM">12:40 PM</option>
						<option value="12:45 PM">12:45 PM</option>
						<option value="12:50 PM">12:50 PM</option>
						<option value="12:55 PM">12:55 PM</option>







					</select>
				</div>
				<div class="input-group m-b">
					<span class="input-group-addon">To:</span>
					<select ng-model="data.to" class="form-control w-md g-pristine ng-invalid ng-invalid-required" required>
						<option value="07:00 AM">07:00 AM</option>
						<option value="07:05 AM">07:05 AM</option>
						<option value="07:10 AM">07:10 AM</option>
						<option value="07:15 AM">07:15 AM</option>
						<option value="07:20 AM">07:20 AM</option>
						<option value="07:25 AM">07:25 AM</option>
						<option value="07:30 AM">07:30 AM</option>
						<option value="07:35 AM">07:35 AM</option>
						<option value="07:40 AM">07:40 AM</option>
						<option value="07:45 AM">07:45 AM</option>
						<option value="07:50 AM">07:50 AM</option>
						<option value="07:55 AM">07:55 AM</option>

						<option value="08:00 AM">08:00 AM</option>
						<option value="08:05 AM">08:05 AM</option>
						<option value="08:10 AM">08:10 AM</option>
						<option value="08:15 AM">08:15 AM</option>
						<option value="08:20 AM">08:20 AM</option>
						<option value="08:25 AM">08:25 AM</option>
						<option value="08:30 AM">08:30 AM</option>
						<option value="08:35 AM">08:35 AM</option>
						<option value="08:40 AM">08:40 AM</option>
						<option value="08:45 AM">08:45 AM</option>
						<option value="08:50 AM">08:50 AM</option>
						<option value="08:55 AM">08:55 AM</option>

						<option value="09:00 AM">09:00 AM</option>
						<option value="09:05 AM">09:05 AM</option>
						<option value="09:10 AM">09:10 AM</option>
						<option value="09:15 AM">09:15 AM</option>
						<option value="09:20 AM">09:20 AM</option>
						<option value="09:25 AM">09:25 AM</option>
						<option value="09:30 AM">09:30 AM</option>
						<option value="09:35 AM">09:35 AM</option>
						<option value="09:40 AM">09:40 AM</option>
						<option value="09:45 AM">09:45 AM</option>
						<option value="09:50 AM">09:50 AM</option>
						<option value="09:55 AM">09:55 AM</option>

						<option value="10:00 AM">10:00 AM</option>
						<option value="10:05 AM">10:05 AM</option>
						<option value="10:10 AM">10:10 AM</option>
						<option value="10:15 AM">10:15 AM</option>
						<option value="10:20 AM">10:20 AM</option>
						<option value="10:25 AM">10:25 AM</option>
						<option value="10:30 AM">10:30 AM</option>
						<option value="10:35 AM">10:35 AM</option>
						<option value="10:40 AM">10:40 AM</option>
						<option value="10:45 AM">10:45 AM</option>
						<option value="10:50 AM">10:50 AM</option>
						<option value="10:55 AM">10:55 AM</option>


						<option value="11:00 AM">11:00 AM</option>
						<option value="11:05 AM">11:05 AM</option>
						<option value="11:10 AM">11:10 AM</option>
						<option value="11:15 AM">11:15 AM</option>
						<option value="11:20 AM">11:20 AM</option>
						<option value="11:25 AM">11:25 AM</option>
						<option value="11:30 AM">11:30 AM</option>
						<option value="11:35 AM">11:35 AM</option>
						<option value="11:40 AM">11:40 AM</option>
						<option value="11:45 AM">11:45 AM</option>
						<option value="11:50 AM">11:50 AM</option>
						<option value="11:55 AM">11:55 AM</option>

						<option value="12:00 AM">12:00 AM</option>
						<option value="12:05 AM">12:05 AM</option>
						<option value="12:10 AM">12:10 AM</option>
						<option value="12:15 AM">12:15 AM</option>
						<option value="12:20 AM">12:20 AM</option>
						<option value="12:25 AM">12:25 AM</option>
						<option value="12:30 AM">12:30 AM</option>
						<option value="12:35 AM">12:35 AM</option>
						<option value="12:40 AM">12:40 AM</option>
						<option value="12:45 AM">12:45 AM</option>
						<option value="12:50 AM">12:50 AM</option>
						<option value="12:55 AM">12:55 AM</option>

						<option value="01:00 PM">01:00 PM</option>
						<option value="01:05 PM">01:05 PM</option>
						<option value="01:10 PM">01:10 PM</option>
						<option value="01:15 PM">01:15 PM</option>
						<option value="01:20 PM">01:20 PM</option>
						<option value="01:25 PM">01:25 PM</option>
						<option value="01:30 PM">01:30 PM</option>
						<option value="01:35 PM">01:35 PM</option>
						<option value="01:40 PM">01:40 PM</option>
						<option value="01:45 PM">01:45 PM</option>
						<option value="01:50 PM">01:50 PM</option>
						<option value="01:55 PM">01:55 PM</option>

						<option value="02:00 PM">02:00 PM</option>
						<option value="02:05 PM">02:05 PM</option>
						<option value="02:10 PM">02:10 PM</option>
						<option value="02:15 PM">02:15 PM</option>
						<option value="02:20 PM">02:20 PM</option>
						<option value="02:25 PM">02:25 PM</option>
						<option value="02:30 PM">02:30 PM</option>
						<option value="02:35 PM">02:35 PM</option>
						<option value="02:40 PM">02:40 PM</option>
						<option value="02:45 PM">02:45 PM</option>
						<option value="02:50 PM">02:50 PM</option>
						<option value="02:55 PM">02:55 PM</option>

						<option value="03:00 PM">03:00 PM</option>
						<option value="03:05 PM">03:05 PM</option>
						<option value="03:10 PM">03:10 PM</option>
						<option value="03:15 PM">03:15 PM</option>
						<option value="03:20 PM">03:20 PM</option>
						<option value="03:25 PM">03:25 PM</option>
						<option value="03:30 PM">03:30 PM</option>
						<option value="03:35 PM">03:35 PM</option>
						<option value="03:40 PM">03:40 PM</option>
						<option value="03:45 PM">03:45 PM</option>
						<option value="03:50 PM">03:50 PM</option>
						<option value="03:55 PM">03:55 PM</option>

						<option value="04:00 PM">04:00 PM</option>
						<option value="04:05 PM">04:05 PM</option>
						<option value="04:10 PM">04:10 PM</option>
						<option value="04:15 PM">04:15 PM</option>
						<option value="04:20 PM">04:20 PM</option>
						<option value="04:25 PM">04:25 PM</option>
						<option value="04:30 PM">04:30 PM</option>
						<option value="04:35 PM">04:35 PM</option>
						<option value="04:40 PM">04:40 PM</option>
						<option value="04:45 PM">04:45 PM</option>
						<option value="04:50 PM">04:50 PM</option>
						<option value="04:55 PM">04:55 PM</option>

						<option value="05:00 PM">05:00 PM</option>
						<option value="05:05 PM">05:05 PM</option>
						<option value="05:10 PM">05:10 PM</option>
						<option value="05:15 PM">05:15 PM</option>
						<option value="05:20 PM">05:20 PM</option>
						<option value="05:25 PM">05:25 PM</option>
						<option value="05:30 PM">05:30 PM</option>
						<option value="05:35 PM">05:35 PM</option>
						<option value="05:40 PM">05:40 PM</option>
						<option value="05:45 PM">05:45 PM</option>
						<option value="05:50 PM">05:50 PM</option>
						<option value="05:55 PM">05:55 PM</option>

						<option value="06:00 PM">06:00 PM</option>
						<option value="06:05 PM">06:05 PM</option>
						<option value="06:10 PM">06:10 PM</option>
						<option value="06:15 PM">06:15 PM</option>
						<option value="06:20 PM">06:20 PM</option>
						<option value="06:25 PM">06:25 PM</option>
						<option value="06:30 PM">06:30 PM</option>
						<option value="06:35 PM">06:35 PM</option>
						<option value="06:40 PM">06:40 PM</option>
						<option value="06:45 PM">06:45 PM</option>
						<option value="06:50 PM">06:50 PM</option>
						<option value="06:55 PM">06:55 PM</option>

						<option value="07:00 PM">07:00 PM</option>
						<option value="07:05 PM">07:05 PM</option>
						<option value="07:10 PM">07:10 PM</option>
						<option value="07:15 PM">07:15 PM</option>
						<option value="07:20 PM">07:20 PM</option>
						<option value="07:25 PM">07:25 PM</option>
						<option value="07:30 PM">07:30 PM</option>
						<option value="07:35 PM">07:35 PM</option>
						<option value="07:40 PM">07:40 PM</option>
						<option value="07:45 PM">07:45 PM</option>
						<option value="07:50 PM">07:50 PM</option>
						<option value="07:55 PM">07:55 PM</option>

						<option value="08:00 PM">08:00 PM</option>
						<option value="08:05 PM">08:05 PM</option>
						<option value="08:10 PM">08:10 PM</option>
						<option value="08:15 PM">08:15 PM</option>
						<option value="08:20 PM">08:20 PM</option>
						<option value="08:25 PM">08:25 PM</option>
						<option value="08:30 PM">08:30 PM</option>
						<option value="08:35 PM">08:35 PM</option>
						<option value="08:40 PM">08:40 PM</option>
						<option value="08:45 PM">08:45 PM</option>
						<option value="08:50 PM">08:50 PM</option>
						<option value="08:55 PM">08:55 PM</option>

						<option value="09:00 PM">09:00 PM</option>
						<option value="09:05 PM">09:05 PM</option>
						<option value="09:10 PM">09:10 PM</option>
						<option value="09:15 PM">09:15 PM</option>
						<option value="09:20 PM">09:20 PM</option>
						<option value="09:25 PM">09:25 PM</option>
						<option value="09:30 PM">09:30 PM</option>
						<option value="09:35 PM">09:35 PM</option>
						<option value="09:40 PM">09:40 PM</option>
						<option value="09:45 PM">09:45 PM</option>
						<option value="09:50 PM">09:50 PM</option>
						<option value="09:55 PM">09:55 PM</option>

						<option value="10:00 PM">10:00 PM</option>
						<option value="10:05 PM">10:05 PM</option>
						<option value="10:10 PM">10:10 PM</option>
						<option value="10:15 PM">10:15 PM</option>
						<option value="10:20 PM">10:20 PM</option>
						<option value="10:25 PM">10:25 PM</option>
						<option value="10:30 PM">10:30 PM</option>
						<option value="10:35 PM">10:35 PM</option>
						<option value="10:40 PM">10:40 PM</option>
						<option value="10:45 PM">10:45 PM</option>
						<option value="10:50 PM">10:50 PM</option>
						<option value="10:55 PM">10:55 PM</option>

						<option value="11:00 PM">11:00 PM</option>
						<option value="11:05 PM">11:05 PM</option>
						<option value="11:10 PM">11:10 PM</option>
						<option value="11:15 PM">11:15 PM</option>
						<option value="11:20 PM">11:20 PM</option>
						<option value="11:25 PM">11:25 PM</option>
						<option value="11:30 PM">11:30 PM</option>
						<option value="11:35 PM">11:35 PM</option>
						<option value="11:40 PM">11:40 PM</option>
						<option value="11:45 PM">11:45 PM</option>
						<option value="11:50 PM">11:50 PM</option>
						<option value="11:55 PM">11:55 PM</option>

						<option value="12:00 PM">12:00 PM</option>
						<option value="12:05 PM">12:05 PM</option>
						<option value="12:10 PM">12:10 PM</option>
						<option value="12:15 PM">12:15 PM</option>
						<option value="12:20 PM">12:20 PM</option>
						<option value="12:25 PM">12:25 PM</option>
						<option value="12:30 PM">12:30 PM</option>
						<option value="12:35 PM">12:35 PM</option>
						<option value="12:40 PM">12:40 PM</option>
						<option value="12:45 PM">12:45 PM</option>
						<option value="12:50 PM">12:50 PM</option>
						<option value="12:55 PM">12:55 PM</option>
					</select>
				</div>
			</div>
			
					


			

		</div>
	</div>



	<footer class="panel-footer">
		<!-- chat form -->
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<button disabled="disabled" type="submit" class="btn btn-success" ng-disabled="scheds.$invalid">Update</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</form>




