<form class="bs-example form-horizontal" name="form" novalidate ng-submit="ok(tags)">
    <div class="panel panel-default">
        <div class="panel-heading">
            Add School
        </div>
        <div class="row wrapper">
                <div class="col-sm-10"> 
                    <span class="label bg-danger" ng-show="notification">Ooopss! School Already Exist <br/></span>        
                   <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="tags.tags" required="required" ng-change="ontags(tags.tags)">
                </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

            <button ng-show="bt1" type="submit" class="btn btn-success" ng-disabled="formpage.$invalid" scroll-to="Scrollup" >Submit</button>
              <button ng-show="bt2" type="submit" class="btn btn-success" disabled>Submit </button>
            </footer>
        </div>
    </div>
    
</form>