
<div class="">
	<div class="panel-heading">Upload Photo</div>
	<div class="panel-body">
		<div class="panel-body">
			<alert ng-repeat="alert in alertss" type="{[{alert.type }]}" close="closeAlerts($index)">{[{ alert.msg }]}</alert>
			<div class="loader" ng-show="imageloader">
				<div class="loadercontainer">
					<div class="spinner">
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
					</div>
					Uploading your images please wait...
				</div>
			</div>
			<div ng-show="imagecontent">
				<div class="col-sml-12">
					<div class="dragdropcenter">
						<div ngf-drop ngf-select class="drop-box" 
						ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
						accept="image/*,application/pdf" ngf-change="upload($files)">Drop images here or click to upload</div>
					</div>
				</div>
				<div style=" height:500px; overflow-y:scroll;">
					<div ng-show="noimage"><center>IMAGE GALLERY IS EMPTY</div>
					<div class="line line-dashed b-b line-lg"></div>
					<div class="col-sm-3" ng-repeat="data in imagelist" ng-show="imggallery" style="margin-bottom:15px;">
						<button class=" btn btn-rounded btn btn-icon btn-danger" ng-click="delete(data.id)" style="margin:10px 5px -50px; 5px"><i class="fa fa-trash-o"></i></button>
						<input id="pathimage" type="hidden" id="title" name="title" class="form-control" ng-init="imgamazonpath=amazonpath+'/uploads/testimonialimage/'+ data.filename" onClick="this.setSelectionRange(0, this.value.length)" ng-model="imgamazonpath">
						<input type="button" class="imagegallerystyle" style="background-image: url('{[{amazonpath}]}/uploads/testimonialimage/{[{data.filename}]}');" ng-click="path(imgamazonpath)">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<!-- chat form -->
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<!-- <a class="btn btn-primary" ng-click="ok(update)">Update</a> -->
	</div>
	<div style="clear:both;"></div>
</footer>
</div>






