<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head ng-controller="Readnews">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
	<title>{[{news.title}]}</title>
	<meta name="description" content="{[{news.description}]}">
	<meta name="keywords" content="{[{metakeywords}]}">
	<link href="/fe/css/bootstrap.css" rel="stylesheet">
	<link href="/fe/css/powerbrain.css" rel="stylesheet">
	<link href="/fe/css/powerbrain_inner.css" rel="stylesheet">
	<link href="/fe/css/powerbrainpages.css" rel="stylesheet">
	<link href="/fe/css/slider.css" rel="stylesheet">
	<link rel="stylesheet" href="/vendors/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css">
	<link rel="shortcut icon" href="/img/favicon/favicon.ico">
	<script>
		var slugnews = "<?=$slugnews;?>";
	</script>
</head>
<body ng-cloak>
	<?php
	if($logoimage->value1 == 1){
		header('Location: ../../../maintenance/');
	}
	?>
	<div class="box-shadow">
		<header id="menuSlide" class="navbar  navbar-fixed-top" >
			<div class="container">
				<article class="innerwrap ">
					<!-- LOGO -->
					<div class="logo">
						<a href="/../">
							<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $logoimage->logo; ?>">
						</a>

					</div>
					<!-- END LOGO -->
					<!-- NAVIGATION  FULL WIDTH-->
					
					<nav id="mainMenu" >
						<ul class="menuMain">
							<?php
							$bilang = count($parentMenu);
							foreach ($parentMenu as $key => $value){
					              --$bilang;if($bilang==0){$arrow= '<i class="arr"></i>';}else{$arrow="";} // ARROW
					              if($parentMenu[$key]->parentmenu =="Learning Community"){
					                ?><li><a  href="/../elearning/verify"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS LEARNING COMMUNITY
					            }elseif($parentMenu[$key]->parentmenu =="Blog"){
					                ?><li><a  href="/../blogs"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS BLOG
					            }
					            else{
					            	$page_link = '/../'.$parentMenu[$key]->slug.'/'.$parentMenu[$key]->subslug.'';
					            	?><li><a  href="<?=$page_link?>"><?=$parentMenu[$key]->parentmenu?><?=$arrow?></a></li><?php
					            }
					        }
					        ?>
					    </ul>
					</nav>
					<!-- END NAVIGATION  FULL WIDTH-->
					<div id="subMenu" >
						<nav class="sub">
							<div class="sub-title">
								<a href="#" id="nav-close" class="pull-right"><img src="/../img/close.png" class="closemenu"></a>
								<img src="/../img/frontend/logo.png">
								<div class="clearBoth"></div>
							</div>
							<ul>
								<?php
								$bilang = count($parentMenu);
								foreach ($parentMenu as $key => $value){
					              --$bilang;if($bilang==0){$arrow= '<i class="arr"></i>';}else{$arrow="";} // ARROW
					              if($parentMenu[$key]->parentmenu =="Learning Community"){
					                ?><li><a  href="/../elearning/verify"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS LEARNING COMMUNITY
					            }elseif($parentMenu[$key]->parentmenu =="Blog"){
					                ?><li><a  href="/../blogs"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS BLOG
					            }
					            else{
					            	$page_link = '/../'.$parentMenu[$key]->slug.'/'.$parentMenu[$key]->subslug.'';
					            	?><li><a  href="<?=$page_link?>"><?=$parentMenu[$key]->parentmenu?><?=$arrow?></a></li><?php
					            }
					        }
					        ?>
					    </ul>
					</nav>
					<div class=" pull-right">
						<a id="nav-expander" class="nav-expander fixed">
							<img  src="/../img/responsivemenu.png" class="responsivemenu"><i class="fa fa-bars fa-lg white"></i>
						</a>
					</div>
				</div>
			</article>
		</div>
	</header>
	<div style="height:58px;"></div>
	<div class="clearboth"></div>
	<!-- BANNER @Ryanjeric -->
	<?php 
	if($mainMenu=="what is brain education"){
		?>
		<div class="container">
			<article style="slider">
				<img class="imgslider" src="/../img/frontend/from/img-sub121.jpg">
				<div class="ttl">
					<h1 class="grn2"><span>What is Brain Education?</span></h1>
					<p class="t1">Brain Education is an innovative educational program designed to develop the full potential of the human brain.</p>
				</div>
			</article>
		</div>
		<?php
	}
	?>
	<?php 
	if($mainMenu=="benefits"){
		?>
		<div class="container">
			<article style="slider">
				<img class="imgslider" src="/../img/frontend/from/img-sub21.jpg">
				<div class="ttl">
					<h1 class="grn2"><span>Benefits</span></h1>
					<p class="t1">Through mindfulness training and “Brain Versatilizing” exercises that promote neuroplasticity, Power Brain literally helps our kids build their focus and attention.</p>
				</div>
			</article>
		</div>
		<?php
	}
	?>
	<?php 
	if($mainMenu=="power brain training"){
		?>
		<div class="container">
			<article style="slider">
				<img class="imgslider" src="/../img/frontend/from/img-sub31311-1.jpg">

				<?php
				foreach ($bannerinfo[$subMenu] as $key => $value) {
					if($key=="title"){$title = $value;}else{$info = $value;}
				}
				?>
				<div class="ttl">
					<h1 class="grn2"><span><?=$title?></span></h1>
					<p class="t1"><span><?=$info?></p>
				</div>
				<?php
				?>
			</article>
		</div>
		<?php
	}
	?>
	<?php 
	if($mainMenu=="power brain school"){
		?>
		<div class="container">
			<article style="slider">
				<img class="imgslider" src="/../img/frontend/from/img-sub31311-1.jpg">
				<div class="ttl">
					<h1 class="grn2"><span>Power Brain Schools</span></h1>
					<p class="t1">Power Brain Education has worked with 10,000 teachers and parents, and 30,000 students in over 350 schools nationwide.</p>
				</div>
			</article>
		</div>
		<?php
	}
	?>
	<?php 
	if($mainMenu=="get started"){
		?>
		<div class="container">
			<article style="slider">
				<img class="imgslider" src="/../img/frontend/from/img-sub312.jpg">
				<div class="ttl">
					<h1 class="grn2"><span>Get Started</span></h1>
					<p class="t1">The first step to starting Power Brain Training is scheduling an Introductory Session.</p>
				</div>
			</article>
		</div>
		<?php
	}
	?>
	<!--END OF Banner-->
	<div class="container" id="full-sub">
		<ul class="subnav subnav-3 grn2">
			<?php
			foreach ($subMenus as $key => $value) {
				if(str_replace('-',' ',$subMenus[$key]->submenu)==$subMenu){
					$current = 'current_page_item';
				}else{
					$current = '';
				}

				?>
				<li class="page_item  <?=$current?>"><a href="/../<?=$subMenus[$key]->parentmenu?>/<?=$subMenus[$key]->submenu?>"><?=$subMenus[$key]->title?></a></li>
				<?php
			}
			?>
		</ul>
	</div>

	<div class="container" id="min-sub">
		<ul class="">
			<?php
			foreach ($subMenus as $key => $value) {
				?>
				<li ><a href="/../<?=$subMenus[$key]->parentmenu?>/<?=$subMenus[$key]->submenu?>"><?=$subMenus[$key]->title?></a></li>
				<?php
			}
			?>
		</ul>
	</div>

	<div class="container">
		<article class="content">
			<?php
			foreach ($subMenus as $key => $value) {
				if(str_replace('-',' ',$subMenus[$key]->submenu)==$subMenu){
					$pageTitle=$subMenus[$key]->title;
				}
			}
			?>
			<p class="subpath"><a href="/../">Home</a><em>|</em><?=ucfirst($mainMenu)?><i class="arr1"></i><span class="grn2"><?=@$pageTitle?></span></p>
			<div class="subbox7">
				<!-- <h4 class="sec-ttl6" style="margin-top:25px;">News</h4> -->
				<div ng-controller="Readnews">
					<h1><?= $_GET['title'] ?></h1>
					<h3><?= $_GET['summary'] ?></h3><br>
					<span class="red">Date:</span> <?= $_GET['date'] ?>  <span class="red">Author:</span> <?= $fullname ?> <br><br>
					<hr style="margin-top:0px;">
					<div ng-show="video">
						<style type="text/css">
							iframe{
								width:100% !important;
								height: 430px !important;
							}
						</style>
						<div ng-bind-html="embed"></div>

					</div>

					<?php 

					if($_GET['featuredthumbtype'] == 'banner' ){
						?>
						<div class="" alt="{[{data.title}]}" style="background:#000 url('<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?= $_GET['imagethumb'] ?>');
							background-size:cover;min-height:400px;
							background-repeat:no-repeat;
							background-position:center center;"></div>	
							<?php

						}else{

						}
						?>	

						<br><br>
						<div class="read">
								<?= $_GET['body']?>
							</div>

						<p>Category: 
							<!-- <a href="#">{[{news.category}]}</a> -->
							<?php
								foreach ($_GET['category'] as $key => $value) {
									?>
										<a href="#"><?php
										foreach ($categlist as $_k) {
											if($_k->categoryid == $value){
												echo $_k->categoryname;
											}
										}
										?></a>
									<?php
								}
							?>
						</p>
						<p>Tags:
							<!-- <a ng-repeat="tags in tags" href="/../tags/power-brain-training/find-center/{[{tags.tagslug}]}">{[{tags.tags}]},</a> -->

							<?php
								foreach ($_GET['tag'] as $key => $value) {
									?>
										<a  href="/../tags/power-brain-training/find-center/<?=$value?>"><?=$value?>,</a>
									<?php
								}
							?>
						</p>
						<hr style="margin-top:0px;">
						<div class="sbox2">
							<h4>About the Author</h4>
							<div >
								<p class="authorphoto"><a href=""><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/authorimages/<?= $profilepic ?> "></a></p>
								<h2><?= $fullname ?></h2>
								<p class="prgrp"><?= $about ?></p>
								<p class="more"><a href="/../aboutauthor/<?= $autorid ?>">See Full Author Bio</a></p>
							</div>
						</div>
						<style type="text/css">
							.float-left{
								float: left;
								margin-right: 10px;
							}
						</style>
						<hr style="margin-top:10px;">
						<div class="col-sm-12">
							<div class="blog-social">
								<div>
									<div class="blog-social-item blog-fb-like float-left">
										<!-- <div class="fb-like" data-href="<?php echo $this->config->application->baseURL; ?>/blog/<?php echo $newsslugs ?>" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div> -->
										<div class="fb-like" data-href="<?php echo $this->config->application->baseURL; ?>/blog/<?=$idno;?>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
										<div id="fb-root"></div>
										<div id="fb-root"></div>
										<script>(function(d, s, id) {
											var js, fjs = d.getElementsByTagName(s)[0];
											if (d.getElementById(id)) return;
											js = d.createElement(s); js.id = id;
											js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=217644384961866";
											fjs.parentNode.insertBefore(js, fjs);
										}(document, 'script', 'facebook-jssdk'));</script>
									</div>
									<div class="blog-social-item float-left " style="height:10px;width:85px;">
										<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
										<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
										</script>
									</div>
									<div class="blog-social-item float-left ">
										<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
										<!-- Please call pinit.js only once per page -->
										<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
									</div>
									<div style="clear:both"></div>
								</div>



								<div id="disqus_thread"></div>
								<script>

							    (function() {  // DON'T EDIT BELOW THIS LINE
							    	var d = document, s = d.createElement('script');

							    	s.src = '//powerbraineducation.disqus.com/embed.js';

							    	s.setAttribute('data-timestamp', +new Date());
							    	(d.head || d.body).appendChild(s);
							    })();
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
						</div>
					</div>
				</div>
			</div>
		</article>

		<aside class="aside">
			<p class="subpath"><i class="arr2"></i><a href="javascript:history.back();">Return to <span class="grn2">Previous Page</span></a></p>
			<a href="/../get-started/schedule-an-introductory-session" class="nofloat"><div class="sbn2"><img src="/../img/frontend/from/bn-side1.jpg"></div></a>
			<a href="/../get-started/request-information" class="nofloat"><div class="sbn2"><img src="/../img/frontend/from/bn-side2.jpg"></a></div></a>
			<div class="sbox3">
				<h4 class="sec-ttl6">Other locations <i class="ic-location"></i></h4>
				<ul class="box" ng-controller="CenterCtrl">
					<li ng-repeat="data in data.data | limitTo:5">
						<a href="/../center/{[{data.slugs}]}/'?>"><span class="photo"><img width="74" height="40" src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/{[{data.banner}]}" class="attachment-74x40 wp-post-image" alt="img-center-ny2"></span>{[{ data.title | limitTo: 20 }]}{[{ data.title.length > 20 ? '...' : '' }]}</a>
					</li>

					<div style="clear:both"></div>
				</ul>
			</div>

			<div class="sbox2" ng-controller="Readnews">
				<h4>List of Category</h4>
				<section class="fcon-box21">
					<ul class="fcon-li">
						<li ng-repeat="datas in dbcategory | limitTo:4"><a href="#">{[{datas.category}]}</a></li>
					</ul>
				</section>
				<div style="clear:both;"></div>
				<hr>
				<h4>Testimonial</h4>
				<div class="listCont">
					<p class="photo"><a href=""><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/testimonialimage/<?php echo $featuredforAdultTestimonial->image; ?>"></a></p>
					<p class="prgrp"><?php echo $featuredforAdultTestimonial->content;?></p>
					<p class="morez"><a href="/../power-brain-training/for-adults/testimonials/">See Testimonials About Adults' Progress</a></p>
				</div>
				<br>
				<br>
				<div class="listCont">
					<p class="photo "><a href=""><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/testimonialimage/<?php echo $featuredforFamiliesTestimonial->image; ?>"></a></p>
					<p class="prgrp"><?php echo $featuredforFamiliesTestimonial->content;?></p>
					<p class="morez"><a href="/../power-brain-training/for-families/testimonials#/">See Testimonials About Families' Progress</a></p>
				</div>
			</div>
		</aside>
	</div>


	<div class="container border-top" >
		<!-- FOUR COL -->
		<article class="wrap-cont">
			<p class="title">Power Brain Training Center</p>
			<section class="clmn-4">
				<p class="round-img"><img src="/img/frontend/from/m-center1.jpg"></p>
				<div class="listCont">
					<p class="t1">For Kids</p>
					<p class="t2">Our Brain Education classes and leadership programs empower kids age 4~16 to maximize their brain potential.</p>
					<p class="more"><a href="/../power-brain-training/for-kids">Read More</a></p>
				</div>
			</section>
			<section class="clmn-4">
				<p class="round-img"><img src="/img/frontend/from/m-center2.jpg"></p>
				<div class="listCont">
					<p class="t1">For Schools</p>
					<p class="t2">We've worked with thousands of students (pre-k ~12), teachers and parents in over 350 schools in the US.</p>
					<p class="more"><a href="/../power-brain-school/program">Read More</a></p>
				</div>
			</section>
			<section class="clmn-4 "></p>
				<p class="round-img"><img src="/img/frontend/from/m-center3.jpg"></p>
				<div class="listCont">
					<p class="t1">For Adults</p>
					<p class="t2">Classes and empowerment workshops teach relaxation and mindfulness to create optimal life balance.</p>
					<p class="more"><a href="/../power-brain-training/for-adults">Read More</a></p>
				</div>
			</section>
			<section class="clmn-4 "></p>
				<p class="round-img"><img src="/img/frontend/from/m-center4.jpg"></p>
				<div class="listCont">          
					<p class="t1">For Families</p>
					<p class="t2">Our monthly Family Classes and annual Family Retreats bring health and happiness to the whole family.</p>
					<p class="more"><a href="/../power-brain-training/for-families">Read More</a></p>
				</div>
			</section>

		</article>
		<!-- END FOUR COL -->
	</div>
	<div class="container " >
		<!-- SUBFOOTER -->
		<?=$this->view->getRender('etemplates', 'eFooter');?> 
		<!-- SUBFOOTER -->
	</div>
</div>
<div class="container">

	<!-- FOOTER -->
	<footer class="fcopy">
		Copyright 2015 Power Brain Training Center. All rights reserved.
	</footer>
	<!-- END FOOTER -->
</div>
<script type="text/javascript" src="/fe/scripts/others/jquery-1.9.1.min.js"></script>
<script src="/fe/scripts/others/bootstrap.min.js"></script>
<script src="/fe/scripts/others/resposive-menu.js"></script>


<!-- ANGULAR-->

<script type="text/javascript" src="/vendors/angular/angular.js"></script>
<script type="text/javascript" src="/vendors/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/vendors/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/be/js/angular/ngStorage.min.js"></script>>
<script type="text/javascript" src="/be/js/angular/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/be/js/angular/angular-translate.js"></script>
<script type="text/javascript" src="/be/js/angular/ngStorage.min.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-load.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-jq.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-bootstrap-tpls.min.js"></script>
<script src="/vendors/angular-sanitize/angular-sanitize.min.js"></script>



<script type="text/javascript" src="/fe/scripts/app.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/factory.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/controllers.js"></script>
<script type="text/javascript" src="/fe/scripts/directives/directives.js"></script>
<script type="text/javascript" src="/fe/scripts/config.js"></script>


<script type="text/javascript" src="/fe/scripts/controllers/centernews/readnews.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/centernews/newsread.js"></script>



<script src="/vendors/moment/moment.js"></script>
<script src="/vendors/angular-moment/angular-moment.js"></script>
<script src="/globaljs/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
<!-- map -->
<script src="/vendors/angular-google-maps/dist/angular-google-maps.min.js"></script>


<!-- Auth0 Lock script and AngularJS module -->
<script src="/fe/scripts/others/lock-7.5.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
<script src="/fe/scripts/others/auth0-angular-4.js"> </script>

<!-- ///CENTER -->
<script type="text/javascript" src="/fe/scripts/controllers/centers/centerctrl.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/center/centerinfo.js"></script>


<script src="/vendors/angular-ui-calendar/calendar.min.js"></script>
<script src="/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/vendors/fullcalendar/dist/gcal.js"></script>


<!-- Auth0 Lock script and AngularJS module -->
<script src="/fe/scripts/others/lock-7.5.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
<script src="/fe/scripts/others/auth0-angular-4.js"> </script>


<!-- ///UPLOADIMAGE -->
<script src="/vendors/ng-file-upload/ng-file-upload.min.js"></script>
<script src="/vendors/ng-file-upload/ng-file-upload-shim.js"></script>


<!-- Google Analytics-->
<?php 
echo $script_google->script;
?>
<!--End  Google Analytics-->


</body>
</html>