<?php echo $this->getContent()?>
<?php
foreach ($subMenus as $key => $value) {
	// echo $subMenus[$key]->submenu.'/'.$subMenu.'<br>';
	if(str_replace('-',' ',$subMenus[$key]->submenu)==$subMenu){
		$pageTitle=$subMenus[$key]->title;
	}
}
?>
<div style="text-align:center;margin-top:40px;">
	<center><img src="/../img/frontend/404.jpg" class="img-responsive">
</div>

<!-- DISPLAY POWER BRAIN TRAINING SUBPAGES -->


<!--  DISPLAY POWER BRAIN TRAINING SUBPAGES -->
