
<?php echo $this->getContent()?>
<?php
foreach ($subMenus as $key => $value) {
	// echo $subMenus[$key]->submenu.'/'.$subMenu.'<br>';
	if(str_replace('-',' ',$subMenus[$key]->submenu)==$subMenu){
		$pageTitle=$subMenus[$key]->title;
	}
}

if($subpage!="page"){
	$titlemore = '<span><a href="/../'.$parentslug.'/'.$dubslug.'">
	'.$pageTitle.'</a></span><i class="arr1"></i><span class="grn3">'.@$titlepage.'</span>';
	$titleh1 ='<span>'.@$titlepage.'</span>';
}else{
	$titlemore = '<span class="grn3">'.$pageTitle.'</span>';
	$titleh1 ='<span>'.@$pageTitle.'</span>';
}
?>
<p class="subpath"><a href="/../">Home</a><em>|</em><?=$slugtitle?><i class="arr1"></i>

<?=$titlemore?>


</p>
<div class="entry-header">
	<h1 class="sec-ttl2 entry-title"><?=$titleh1?></h1>
</div>
<?=$contentPage?>
<!-- DISPLAY POWER BRAIN TRAINING SUBPAGES -->
<?php 
if($mainMenu=="power brain school" && $subMenu=="testimonials" ){
	?>
	<div class="entry-content">
		<?php
		foreach ($pbsTestimonial as  $value) { ?>
		<?php if($value->status == '0')
		{
		}
		else{ ?>
		<div class="subbox6">
			<p class="photo"><img alt="image" height="120" src="<?php echo $this->config->application->amazonlink; ?>/uploads/testimonialimage/<?php echo $value->image; ?>" width="120" /></p>
			<p></p>
			<p><?php echo $value->content; ?></p>
			<p></p>
			<p class="by"><?php echo $value->sender; ?></p>
		</div>
		<?php
	}
}
?>
</div>
<?php
}
?>
<!--  Pages -->
<?php

if($mainMenu=="power brain training" and $subpage=="page" and $subMenu!="event"){
	if($dubslug!="find-center"){
		$count=0;
		$total= count($orderpages)-1;
		foreach (@$listsubpages as $data ) {
			if($count<$total){	
			}
			if(str_replace('-',' ',$data->submenu)== $subMenu){
				?>
				<a href="/../<?=$parentslug?>/<?=$dubslug?>/<?=$data->slugs?>" class="subbox">
					<p class="photo"> <img width="225" height="141" src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?= $data->banner ?>" class="attachment-full wp-post-image" alt="IMAGE" imglink></p>
					<h3><b><?= $data->title ?></b></h3>
					<?= $data->shortdesc ?>
				</a>
				<?php
			}
			$count++;
		}
	}else{
		?>

		<div ng-controller="CenterCtrl" ng-cloak>
			<div ng-repeat="data in data.data">
				<a href="/../center/{[{data.slugs}]}" class="subbox" ng-if="data.status=='true'">
					<p class="photobanner photo"><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/{[{data.banner}]}" class="attachment-285x155 wp-post-image" alt="img-center-ny2" imglink></p>
					<h3><b>{[{data.title}]}, {[{ data.state }]}</b></h3>
					<p>{[{data.address}]}, {[{data.state}]} {[{data.zipcode}]}   <br>Tel) {[{ data.contactnumber }]}</p>
					<p class="more">Go to Center Page<i class="ic-arr"></i></p>
				</a>
			</div>

			<div class="row" ng-show="hideme">
				<div class="panel-body">
					<footer class="panel-footer text-center bg-light lter">
						<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="setPage(bigCurrentPage)"></pagination>
					</footer>
				</div>
			</div>

		</div>

		<?php

	}
}
else{
	if($subpage!="testimonials" and $mainMenu=="power brain training" and $subMenu!="event"){
		foreach ($listsubpages as $data ) {
			if($data->slugs==$subpage){
				?>
				<?= $data->datapage ?>
				<?php
			}
			$scorelugs[]=$data->slugs;
			$banger[]=$data->banner;
		}
		?>
		<table cellpadding="0" cellspacing="0" border="0" class="sublink">
			<tbody><tr>
				
				<td class="td1">
				<?php if($scorelugs[0]!=$subpage && current($banger)==$banger[0]){ 
					$key= array_search($subpage,$scorelugs);
					
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>/<?=$scorelugs[$key-1]?>" title="<?php echo ucwords($scorelugs[$key-1]); ?>"><i class="prev"></i>
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key-1]; ?>" width="55" height="60" class="alignnone size-full wp-image-285 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $scorelugs[$key-1])); ?></span></a>
				<?php } ?>

				<?php if($scorelugs[0]==$subpage){ 
					$key= array_search($subpage,$scorelugs);
					
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>" title="<?php echo ucwords($dubslug); ?>"><i class="prev"></i>
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key+1]; ?>" width="55" height="60" class="alignnone size-full wp-image-285 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $dubslug)); ?></span></a>
				<?php } ?>
				</td>
				

				<td class="td2">
				<?php
				 if(end($scorelugs) != $subpage && end($banger)){
				 	$key= array_search($subpage,$scorelugs);
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>/<?=$scorelugs[$key+1]?>" title="<?php echo ucwords($scorelugs[$key+1]); ?>">
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key+1]; ?>" width="55" height="60" class="alignnone size-full wp-image-287 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $scorelugs[$key+1])); ?></span><i class="next"></i></a>
				<?php } ?>

				<?php
				 if(end($scorelugs) == $subpage){
				 	$key= array_search($subpage,$scorelugs);
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>" title="<?php echo ucwords($dubslug); ?>">
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key-1]; ?>" width="55" height="60" class="alignnone size-full wp-image-287 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $dubslug)); ?></span><i class="next"></i></a>
				<?php } ?>


				</td>

			</tr>
			</tbody>
		</table>
		<?php

	}
	else if($subpage=="testimonials" and $mainMenu=="power brain training" and $subMenu=="for adults") {
		foreach($forAdultsTestimonial as $forAdults){
			if($forAdults->status!='0'){
			?>
			<div class="subbox6">
				<p class="photo"><img class="alignnone size-full wp-image-240" src="<?php echo $this->config->application->amazonlink; ?>/uploads/testimonialimage/<?php echo $forAdults->image; ?>" alt="noimg"></p>
				<p><?php echo $forAdults->content; ?></p>
				<p class="by"><?php echo $forAdults->sender; ?></p>
			</div>
			<?php
			}
		}
		foreach ($listsubpages as $data ) {
			if($data->slugs==$subpage){
				?>
				<?php
			}
			$scorelugs[]=$data->slugs;
			$banger[]=$data->banner;
		}
		?>
		<table cellpadding="0" cellspacing="0" border="0" class="sublink">
			<tbody><tr>
				
				<td class="td1">
				<?php if($scorelugs[0]!=$subpage && current($banger)==$banger[0]){ 
					$key= array_search($subpage,$scorelugs);
					
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>/<?=$scorelugs[$key-1]?>" title="<?php echo ucwords($scorelugs[$key-1]); ?>"><i class="prev"></i>
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key-1]; ?>" width="55" height="60" class="alignnone size-full wp-image-285 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $scorelugs[$key-1])); ?></span></a>
				<?php } ?>

				<?php if($scorelugs[0]==$subpage){ 
					$key= array_search($subpage,$scorelugs);
					
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>" title="<?php echo ucwords($dubslug); ?>"><i class="prev"></i>
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key+1]; ?>" width="55" height="60" class="alignnone size-full wp-image-285 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $dubslug)); ?></span></a>
				<?php } ?>

				</td>
				

				<td class="td2">
				<?php
				 if(end($scorelugs) != $subpage && end($banger)){
				 	$key= array_search($subpage,$scorelugs);
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>/<?=$scorelugs[$key+1]?>" title="<?php echo ucwords($scorelugs[$key+1]); ?>">
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key+1]; ?>" width="55" height="60" class="alignnone size-full wp-image-287 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $scorelugs[$key+1])); ?></span><i class="next"></i></a>
				<?php } ?>

				<?php
				 if(end($scorelugs) == $subpage){
				 	$key= array_search($subpage,$scorelugs);
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>" title="<?php echo ucwords($dubslug); ?>">
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key-1]; ?>" width="55" height="60" class="alignnone size-full wp-image-287 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $dubslug)); ?></span><i class="next"></i></a>
				<?php } ?>


				</td>

			</tr>
			</tbody>
		</table>
		<?php	
	}
	else if($subpage=="testimonials" and $mainMenu=="power brain training" and $subMenu=="for families") {
		foreach($forFamiliesTestimonial as $forFamilies){
			if($forFamilies != '0'){
			?>
			<div class="subbox6">
				<p class="photo"><img class="alignnone size-full wp-image-240" src="<?php echo $this->config->application->amazonlink; ?>/uploads/testimonialimage/<?php echo $forFamilies->image; ?>" alt="noimg"></p>
				<p><?php echo $forFamilies->content; ?></p>
				<p class="by"><?php echo $forFamilies->sender; ?></p>
			</div>
			<?php }
		}
		foreach ($listsubpages as $data ) {
			if($data->slugs==$subpage){
				?>
				<?php
			}
			$scorelugs[]=$data->slugs;
			$banger[]=$data->banner;
		}
		?>
		<table cellpadding="0" cellspacing="0" border="0" class="sublink">
			<tbody><tr>
				
				<td class="td1">
				<?php if($scorelugs[0]!=$subpage && current($banger)==$banger[0]){ 
					$key= array_search($subpage,$scorelugs);
					
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>/<?=$scorelugs[$key-1]?>" title="<?php echo ucwords($scorelugs[$key-1]); ?>"><i class="prev"></i>
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key-1]; ?>" width="55" height="60" class="alignnone size-full wp-image-285 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $scorelugs[$key-1])); ?></span></a>
				<?php } ?>

				<?php if($scorelugs[0]==$subpage){ 
					$key= array_search($subpage,$scorelugs);
					
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>" title="<?php echo ucwords($dubslug); ?>"><i class="prev"></i>
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key+1]; ?>" width="55" height="60" class="alignnone size-full wp-image-285 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $dubslug)); ?></span></a>
				<?php } ?>


				</td>
				

				<td class="td2">
				<?php
				 if(end($scorelugs) != $subpage && end($banger)){
				 	$key= array_search($subpage,$scorelugs);
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>/<?=$scorelugs[$key+1]?>" title="<?php echo ucwords($scorelugs[$key+1]); ?>">
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key+1]; ?>" width="55" height="60" class="alignnone size-full wp-image-287 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $scorelugs[$key+1])); ?></span><i class="next"></i></a>
				<?php } ?>

				<?php
				 if(end($scorelugs) == $subpage){
				 	$key= array_search($subpage,$scorelugs);
				?>
					<a href="/../<?=$parentslug?>/<?=$dubslug?>" title="<?php echo ucwords($dubslug); ?>">
					<img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $banger[$key-1]; ?>" width="55" height="60" class="alignnone size-full wp-image-287 skw">Go to <span class="grn2">
					<?php echo ucwords(str_replace("-", " ", $dubslug)); ?></span><i class="next"></i></a>
				<?php } ?>
				</td>

			</tr>
			</tbody>
		</table>
		<?php	
	}
}
?>
<!--  Pages -->
<!-- /////Events -->
<?php
if($mainMenu=="power brain training" and $subMenu=="event"){
	?>

<script type="text/javascript">
  var eventid = "";
</script>
<div class="sched" ng-controller="EventglobalCtrl" ng-cloak>

	<table class="table ">
    <thead>
        <tr>
            <th>Event Title</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in data.data">
            <td><a href="/../event/{[{data.eventid}]}">{[{data.title}]}</a></td>
            <td>{[{data.location}]}</td>
            <td style="width:200px;"><label class="text-muted">From:</label> {[{data.datefrom}]} <br> <label class="text-muted">To:</label> {[{data.dateto}]}</td>
            <td style="width:100px;">{[{data.time}]} ~ {[{data.mytimend}]}</td>
        </tr>
       
    </tbody>
</table>


	<div class="row">
		<div class="panel-body">
			<footer class="panel-footer text-center bg-light lter">
				<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="setPage(bigCurrentPage)"></pagination>
			</footer>
		</div>
	</div>
</div>




	<?php
}
?>

<!-- /////Events -->

<!-- /////FORMS -->
<?php 
if($mainMenu=="get started" && $subMenu=="request information" ){
	echo $this->view->getRender('attachedpage', 'reqinfo');
}
?>
<?php 
if($mainMenu=="get started" && $subMenu=="schedule an introductory session" ){
	echo $this->view->getRender('attachedpage', 'schedintro');
}
?>
<!-- /////END FORMS -->
