<?php echo $this->getContent()?>
<?php
foreach ($subMenus as $key => $value) {
	// echo $subMenus[$key]->submenu.'/'.$subMenu.'<br>';
	if(str_replace('-',' ',$subMenus[$key]->submenu)==$subMenu){
		$pageTitle=$subMenus[$key]->title;
	}
}
?>
<script type="text/javascript">
	var eventid = "<?=$eventid?>";
</script>
<p class="subpath"><a href="/../">Home</a><em>|</em><?=ucfirst($mainMenu)?><i class="arr1"></i><span class="grn2"><?=$pageTitle?></span></p>
<div class="sched" ng-controller="EventglobalCtrl" ng-cloak>

	<div ng-repeat="data in data.data | filter: eventidget">

		<div class="subbox7">
			<!-- <h4 class="sec-ttl6" style="margin-top:25px;">News</h4> -->
			<div>
				<h1>{[{data.title}]}</h1>
				<h5>{[{data.location}]}</h5><br>
					<span class="red">Date:</span> {[{data.datefrom}]} ~ {[{data.dateto}]}  <span class="red">Time:</span> {[{data.time}]}-{[{data.mytimend}]}  <br><br>
					<hr style="margin-top:0px;">
					<div id="map_canvas">
						<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
						<ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
						<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
					</ui-gmap-marker>
				</ui-gmap-google-map>

				<div ng-cloak>
					<ul>
						<li>coords update ctr: {[{coordsUpdates}]}</li>
						<li>dynamic move ctr: {[{dynamicMoveCtr}]}</li>
					</ul>
				</div>
			</div>
			<style type="text/css">
				html, body, #map_canvas {
					height: 400px;
					width: 100%;
					margin: 0px;
				}
				#map_canvas {
					position: relative;
				}
				.angular-google-map-container {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
				}
				#pac-input {
					background-color: #fff;
					font-family: Roboto;
					font-size: 15px;
					font-weight: 300;
					margin-left: 12px;
					margin-top: :20px;
					padding: 0 11px 0 13px;
					text-overflow: ellipsis;
					width: 300px;
				}
			</style>
























			<br><br>
			<div ng-bind-html="data.body"></div>
			
		</div>

	</div>

</div>


</div>


