<?php echo $this->getContent()?>
<?php
foreach ($subMenus as $key => $value) {
	// echo $subMenus[$key]->submenu.'/'.$subMenu.'<br>';
	if(str_replace('-',' ',$subMenus[$key]->submenu)==$subMenu){
		$pageTitle=$subMenus[$key]->title;
	}
}
?>
<script type="text/javascript">
  var eventid = "";
</script>
<p class="subpath"><a href="/../">Home</a><em>|</em><?=ucfirst($mainMenu)?><i class="arr1"></i><span class="grn2"><?=$pageTitle?></span></p>
<div class="sched" ng-controller="EventglobalCtrl" ng-cloak>

	<table class="table ">
    <thead>
        <tr>
            <th>Event Title</th>
            <th>Event Location</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in data.data">
            <td><a href="/../event/power-brain-training/find-center/{[{data.eventid}]}">{[{data.title}]}</a></td>
            <td>asdfasdf sdfsdfsadf{[{data.location}]}</td>
             <td>From: {[{data.datefrom}]} <br> {[{data.dateto}]}</td>
            <td>{[{data.time}]}</td>
        </tr>
       
    </tbody>
</table>


	<div class="row">
		<div class="panel-body">
			<footer class="panel-footer text-center bg-light lter">
				<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="setPage(bigCurrentPage)"></pagination>
			</footer>
		</div>
	</div>
</div>


