<div
  mwl-droppable
  on-drop="vm.handleEventDrop(dropData.event, day.date)"
  class="cal-month-day"
  ng-class="{
            'cal-day-outmonth': !day.inMonth,
            'cal-day-inmonth': day.inMonth,
            'cal-day-weekend': day.isWeekend,
            'cal-day-past': day.isPast,
            'cal-day-today': day.isToday,
            'cal-day-future': day.isFuture
          }">

  <small
    class="cal-events-num badge badge-important pull-left"
    ng-show="day.badgeTotal > 0"
    ng-bind="day.badgeTotal">
  </small>

  <span
    class="pull-right"
    data-cal-date
    ng-click="vm.calendarCtrl.drillDown(day.date)"
    ng-bind="day.label">
  </span>

  <div class="cal-day-tick" ng-show="dayIndex === vm.openDayIndex && vm.view[vm.openDayIndex].events.length > 0">
    <i class="glyphicon glyphicon-chevron-up"></i>
    <i class="fa fa-chevron-up"></i>
  </div>

  <div ng-include="'/globaljs/angular-bootstrap-calendar/src/templates/calendarMonthEventsList.html'"></div>

</div>
