<div class="cal-day-box">
  <div class="row-fluid clearfix cal-row-head">
    <div class="span1 col-xs-1 cal-cell" ng-bind="vm.calendarConfig.i18nStrings.timeLabel"></div>
    <div class="span11 col-xs-11 cal-cell" ng-bind="vm.calendarConfig.i18nStrings.eventsLabel"></div>
  </div>

  <div class="cal-day-panel clearfix" ng-style="{height: vm.dayViewHeight + 'px'}">

    <mwl-calendar-hour-list
      day-view-start="dayViewStart"
      day-view-end="dayViewEnd"
      day-view-split="dayViewSplit">
    </mwl-calendar-hour-list>

    <div
      class="pull-left day-event day-highlight"
      ng-class="'dh-event-' + event.type + ' ' + event.cssClass"
      ng-repeat="event in vm.view track by event.$id"
      ng-style="{top: event.top + 'px', left: event.left + 60 + 'px', height: event.height + 'px'}"
      mwl-draggable="event.editable !== false"
      axis="y"
      snap-grid="{y: 30}"
      on-drag="vm.tempTimeChanged(event, y)"
      on-drag-end="vm.timeChanged(event, y)">

      <!-- <span class="cal-hours">
        <span ng-show="event.top == 0"><span ng-bind="(event.tempStartsAt || event.startsAt) | calendarDate:'day':true"></span>, </span>
        <span ng-bind="(event.tempStartsAt || event.startsAt) | calendarDate:'time':true"></span>
      </span> -->
      <a href="javascript:;" class="event-item" ng-click="onEventClick({calendarEvent: event})">
        <span ng-bind-html="vm.$sce.trustAsHtml(event.title) | calendarTruncateEventTitle:20:event.height"></span>
      </a>

    </div>

  </div>

</div>
