
<html lang="en" data-ng-app="app">
<head ng-controller="SeoCtrl">
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
 <?php if(strlen($subpage)==36){ ?>
 <title>EVENT</title>
 <meta name="description" content="Power Brain Education Event">
 <meta name="keywords" content="events">
 <?php }
 elseif($subpage!="page"){
   ?>
   <title><?php $tit=str_replace('-',' ',$subpage); echo ucwords(@$tit); ?></title>
   <meta name="description" content="{[{ metadesc }]}">
   <meta name="keywords" content="{[{ metatags }]}">
   <?php }else{ ?>
   <title><?php echo ucwords(@$subMenu); ?></title>
   <meta name="description" content="{[{ metadesc }]}">
   <meta name="keywords" content="{[{ metatags }]}">
   <?php } ?>
   <script>
    var pagetitle = "<?php echo @$mainMenu ?>";
    var subMenu = "<?php echo @$subMenu ?>";
    var subpage = "<?php echo @$subpage ?>";
  </script>
  <link href="/fe/css/bootstrap.css" rel="stylesheet">
  <link href="/fe/css/powerbrain.css" rel="stylesheet">
  <link href="/fe/css/powerbrain_inner.css" rel="stylesheet">
  <link href="/fe/css/powerbrainpages.css" rel="stylesheet">
  <link href="/fe/css/slider.css" rel="stylesheet">
  <link href="/be/css/banner.css" rel="stylesheet">
  <link rel="shortcut icon" href="/img/favicon/favicon.ico">
</head>
<body>
  <?php
  if($logoimage->value1 == 1){
    header('Location: /../../maintenance/');
  }
  ?>
  <div class="box-shadow">
    <header id="menuSlide" class="navbar  navbar-fixed-top" >
      <div class="container">
        <article class="innerwrap ">
          <!-- LOGO -->
          <div class="logo">
            <a href="/../">
              <img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $logoimage->logo; ?>">
            </a>
          </div>
          <!-- END LOGO -->
          <!-- NAVIGATION  FULL WIDTH-->
          <nav id="mainMenu" >
            <ul class="menuMain">
             <?php
             $bilang = count($parentMenu);
             foreach ($parentMenu as $key => $value){
              --$bilang;if($bilang==0){$arrow= '<i class="arr"></i>';}else{$arrow="";} // ARROW
              if($parentMenu[$key]->slug==str_replace(' ','-',$mainMenu)){$curparent = 'class="active"';}else{$curparent = '';}// CHECK IF ACTIVE
              if($parentMenu[$key]->parentmenu =="Learning Community"){
                ?><li><a <?=$curparent?> href="/../elearning"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS LEARNING COMMUNITY
              }elseif($parentMenu[$key]->parentmenu =="Blog"){
                ?><li><a <?=$curparent?> href="/../blogs"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS BLOG
              }
              else{
                $page_link = '/../'.$parentMenu[$key]->slug.'/'.$parentMenu[$key]->subslug.'';
                ?><li><a <?=$curparent?> href="<?=$page_link?>"><?=$parentMenu[$key]->parentmenu?><?=$arrow?></a></li><?php
              }
            }
            ?>
          </ul>
        </nav>
        <!-- END NAVIGATION  FULL WIDTH-->
        <div id="subMenu" >
          <nav class="sub">
            <div class="sub-title">
              <a href="#" id="nav-close" class="pull-right"><img src="/../img/close.png" class="closemenu"></a>
              <img src="/../img/frontend/logo.png">
              <div class="clearBoth"></div>
            </div>
            <ul>
             <?php
             $bilang = count($parentMenu);
             foreach ($parentMenu as $key => $value){
              --$bilang;if($bilang==0){$arrow= '<i class="arr"></i>';}else{$arrow="";} // ARROW
              if($parentMenu[$key]->slug==str_replace(' ','-',$mainMenu)){$curparent = 'class="active"';}else{$curparent = '';}// CHECK IF ACTIVE
              if($parentMenu[$key]->parentmenu =="Learning Community"){
                ?><li><a <?=$curparent?> href="/../elearning"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS LEARNING COMMUNITY
              }elseif($parentMenu[$key]->parentmenu =="Blog"){
                ?><li><a <?=$curparent?> href="/../blogs"><?=$parentMenu[$key]->parentmenu?></a></li><?php // IF PAGE IS BLOG
              }
              else{
                $page_link = '/../'.$parentMenu[$key]->slug.'/'.$parentMenu[$key]->subslug.'';
                ?><li><a <?=$curparent?> href="<?=$page_link?>"><?=$parentMenu[$key]->parentmenu?><?=$arrow?></a></li><?php
              }
            }
            ?>
          </ul>
        </nav>
        <div class=" pull-right">
          <a id="nav-expander" class="nav-expander fixed">
            <img src="/../img/responsivemenu.png" class="responsivemenu"><i class="fa fa-bars fa-lg white"></i>
          </a>
        </div>
      </div>
    </article>
  </div>
</header>
<div style="height:58px;"></div>
<div class="clearboth"></div>
<!-- BANNER @Ryanjeric -->
<?php 
foreach ($pageBanner as $key => $value) {
  foreach ($value as $k => $val) {
    if($k==$mainMenu || $k==$subMenu){
      //  <div class="container">
      //   <article style="slider">
      //     <img class="imgslider" src="'.$this->config->application->amazonlink.'/uploads/bannerimage/'. $val['banner'].'">
      //     <div class="ttl">
      //       <h1 class="grn2"><span>'.$val['title'].'</span></h1>
      //       <p class="t1">'.$val['desc'].'</p>
      //     </div>
      //   </article>
      // </div>

      echo '
      <div style="background: url('.$this->config->application->amazonlink.'/uploads/bannerimage/'.$val['banner'].') 0px 0px;max-width: 100%; height: 300px;background-size: cover; background-position:center center; position: relative; padding-top:50px;" class="file-control">
        <div class="'.$val['position'].' binfo" style="background-color:'.$val['bgcolor'].';">
            <h1 class="grn2" style="text-align:'.$val['titlealign'].'; color:'.$val['titlecolor'].'"><span style="border-bottom: 1px solid '.$val['titlecolor'].';">'.$val['title'].'</span></h1>
            <p class="t1" style="text-align:'.$val['descalign'].'; color:'.$val['desccolor'].'">'.$val['desc'].'</p>
        </div>
      </div>
      ';
    }else{
      // Slug not Found
    }
  }
}
?>

<!--END OF Banner-->
<div class="container" id="full-sub">
  <ul class="subnav subnav-3 grn2">
  <?php
   foreach ($subMenus as $key => $value){
    if(str_replace('-',' ',$subMenus[$key]->submenu)==$subMenu){
      $current = 'current_page_item';
    }else{
      $current = '';
    }
    ?>
    <li class="page_item <?=$current?>"><a href="/../<?=$subMenus[$key]->parentmenu?>/<?=$subMenus[$key]->submenu?>"><?=$subMenus[$key]->title?></a></li>
    <?php
  }
  ?>
</ul>
</div>

<div class="container" id="min-sub">
  <ul class="">
   <?php
   foreach ($subMenus as $key => $value) {
     ?>
     <li ><a href="/../<?=$subMenus[$key]->parentmenu?>/<?=$subMenus[$key]->submenu?>"><?=$subMenus[$key]->title?></a></li>
     <?php
   }
   ?>
 </ul>
</div>

<div class="container">
  <article class="content">
    <?php echo $this->getContent(); ?> 
  </article>
  <aside class="aside">
    <p class="subpath"><i class="arr2"></i><a href="javascript:history.back();">Return to <span class="grn2">Previous Page</span></a></p>
    <span class="sbn">How To Start<i class="arr"></i></span>
    <div class="sbox">
      <a href="/../get-started/schedule-an-introductory-session"><img src="/../img/frontend/from/img-side1.jpg" imglink></a>
      <div class="listCont">          
        <h3><a href="/../get-started/schedule-an-introductory-session">Schedule an Introductory Session</a></h3><br>
        <p class="t2">Experience a sample class and take a Body & Brain evaluation.</p>
        <p class="more"><a href="/../get-started/schedule-an-introductory-session">See More Detail</a></p>
      </div>
    </div>
    <div class="sbox">
      <a href="/../power-brain-training/find-center"><img src="/../img/frontend/from/img-side2.jpg" imglink></a>
      <div class="listCont">          
        <h3><a href="/../power-brain-training/find-center">Find a Center</a></h3><br>
        <p class="t2">Click on the center located nearest you to visit us.</p>
        <p class="more"><a href="/../power-brain-training/find-center">See More Detail</a></p>
      </div>
    </div>
    <div class="sbox">
      <a href="/../get-started/request-information"><img src="/../img/frontend/from/img-side3.jpg" imglink></a>
      <div class="listCont">          
        <h3><a href="/../get-started/request-information">Request Information</a></h3><br>
        <p class="t2">Let us help you understand more about our programs.</p>
        <p class="more"><a href="/../get-started/request-information">See More Detail</a></p>
      </div>
    </div>
    <div class="sbox2">
      <h4>Testimonial</h4>
      <div class="listCont">
        <p class="photo"><a href=""><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/testimonialimage/<?php echo $featuredforAdultTestimonial->image; ?>" imglink></a></p>
        <p class="prgrp"><?php echo $featuredforAdultTestimonial->content;?></p>
        <p class="morez"><a href="/../power-brain-training/for-adults/testimonials">See Testimonials About Adults' Progress</a></p>
      </div>
      <br>
      <br>
      <div class="listCont">
        <p class="photo "><a href=""><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/testimonialimage/<?php echo $featuredforFamiliesTestimonial->image; ?>" imglink></a></p>
        <p class="prgrp"><?php echo $featuredforFamiliesTestimonial->content;?></p>
        <p class="morez"><a href="/../power-brain-training/for-families/testimonials">See Testimonials About Families' Progress</a></p>
      </div>
    </div>
  </aside>
</div>

<div class="container border-top" >
  <!-- FOUR COL -->
  <article class="wrap-cont">
    <p class="title">Power Brain Training Center</p>
    <section class="clmn-4">
      <p class="round-img"><a href="/../power-brain-training/for-kids"><img src="/img/frontend/from/m-center1.jpg"></a></p>
      <div class="listCont">
        <p class="t1">For Kids</p>
        <p class="t2">Our Brain Education classes and leadership programs empower kids age 4~16 to maximize their brain potential.</p>
        <p class="more"><a href="/../power-brain-training/for-kids">Read More</a></p>
      </div>
    </section>
    <section class="clmn-4">
      <p class="round-img"><a href="/../power-brain-school/program"><img src="/img/frontend/from/m-center2.jpg"></a></p>
      <div class="listCont">
        <p class="t1">For Schools</p>
        <p class="t2">We've worked with thousands of students (pre-k ~12), teachers and parents in over 350 schools in the US.</p>
        <p class="more"><a href="/../power-brain-school/program">Read More</a></p>
      </div>
    </section>
    <section class="clmn-4 "></p>
      <p class="round-img"><a href="/../power-brain-training/for-adults"><img src="/img/frontend/from/m-center3.jpg"></a></p>
      <div class="listCont">
        <p class="t1">For Adults</p>
        <p class="t2">Classes and empowerment workshops teach relaxation and mindfulness to create optimal life balance.</p>
        <p class="more"><a href="/../power-brain-training/for-adults">Read More</a></p>
      </div>
    </section>
    <section class="clmn-4 "></p>
      <p class="round-img"><a href="/../power-brain-training/for-families/page"><img src="/img/frontend/from/m-center4.jpg"></a></p>
      <div class="listCont">          
        <p class="t1">For Families</p>
        <p class="t2">Our monthly Family Classes and annual Family Retreats bring health and happiness to the whole family.</p>
        <p class="more"><a href="/../power-brain-training/for-families/page">Read More</a></p>
      </div>
    </section>

  </article>
  <!-- END FOUR COL -->
</div>

<div class="container " >
  <!-- SUBFOOTER -->
  <?=$this->view->getRender('etemplates', 'eFooter');?> 
  <!-- SUBFOOTER -->
</div>
</div>
<div class="container">

  <!-- FOOTER -->
  <footer class="fcopy">
    Copyright 2015 Power Brain Training Center. All rights reserved.
  </footer>
  <!-- END FOOTER -->
</div>
<script type="text/javascript" src="/fe/scripts/others/jquery-1.9.1.min.js"></script>
<script src="/fe/scripts/others/bootstrap.min.js"></script>
<script src="/fe/scripts/others/resposive-menu.js"></script>

<!-- ANGULAR-->
<script type="text/javascript" src="/vendors/angular/angular.js"></script>
<script type="text/javascript" src="/vendors/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/vendors/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/be/js/angular/ngStorage.min.js"></script>
<script type="text/javascript" src="/be/js/angular/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/be/js/angular/angular-translate.js"></script>
<script type="text/javascript" src="/be/js/angular/ngStorage.min.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-load.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-jq.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/be/js/angular/ui-bootstrap-tpls.min.js"></script>
<script src="/vendors/angular-sanitize/angular-sanitize.min.js"></script>

<script type="text/javascript" src="/fe/scripts/app.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/factory.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/controllers.js"></script>
<script type="text/javascript" src="/fe/scripts/directives/directives.js"></script>
<script type="text/javascript" src="/fe/scripts/config.js"></script>

<!-- ///CENTER -->
<script type="text/javascript" src="/fe/scripts/controllers/contactus/contactusctrl.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/centers/centerctrl.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/center/centerinfo.js"></script>

<!-- ///Event -->
<script type="text/javascript" src="/fe/scripts/controllers/globalevent/global.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/globalevent/globalfactory.js"></script>

<script type="text/javascript" src="/fe/scripts/controllers/centernews/readnews.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/centernews/newsread.js"></script>

<!-- //SEO// -->
<script type="text/javascript" src="/fe/scripts/controllers/seo/seo.js"></script>

<script type="text/javascript" src="/fe/scripts/controllers/globalevent/global.js"></script>

<script src="/vendors/moment/moment.js"></script>
<script src="/vendors/angular-moment/angular-moment.js"></script>
<script src="/globaljs/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
<script src="/vendors/angular-google-maps/dist/angular-google-maps.min.js"></script>

<script src="/vendors/angular-google-maps/dist/angular-google-maps.min.js"></script>
<script src="/vendors/lodash/lodash.min.js"></script>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

<script src="/vendors/angular-ui-calendar/calendar.min.js"></script>
<script src="/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/vendors/fullcalendar/dist/gcal.js"></script>

<!-- ///UPLOADIMAGE -->
<script src="/vendors/ng-file-upload/ng-file-upload.min.js"></script>
<script src="/vendors/ng-file-upload/ng-file-upload-shim.js"></script>

<!-- Auth0 Lock script and AngularJS module -->
<script src="/fe/scripts/others/lock-7.5.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
<script src="/fe/scripts/others/auth0-angular-4.js"> </script>

<!-- Google Analytics-->
<?php 
echo $script_google->script;
?>
<!--End  Google Analytics-->
<script type="text/javascript">
  var addthis_config = addthis_config||{};
  addthis_config.data_track_addressbar = false;
  addthis_config.data_track_clickback = false;
</script>

</body>
</html>