@font-face{font-family: 'TradeGothicLTPro-Bold'; 
src: url('/fe/font/2B0569_0_0.eot?#iefix') format('embedded-opentype'),
url('/fe/font/2B0569_0_0.woff') format('woff'),
url('/fe/font/2B0569_0_0.ttf') format('truetype');
}
.binfo-left{
  width: 430px;
  float: left !important;
  top: 76px;
  margin: 20px 20px;
  border-radius:5px;
  padding: 10px;
}

.binfo-right{
  width: 430px;
  float: right !important;
  top: 76px;
  margin: 20px 20px;
  border-radius: 5px;
  padding: 10px;
}

.binfo-center{
  width: 430px;
  top: 76px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 10px;
}

.grn2 {
  /*color: #389b9a!important;*/
}
.binfo h1 {
  font-size: 30px;
  line-height: 36px;
  font-family: 'TradeGothicLTPro-Bold';
  letter-spacing: -0.03em;
  margin-bottom: 15px;
  clear: both;
  font-weight: 500;
}

.t1 {
  font-size: 20px;
  line-height: 25px;
  /*color: #000;*/
  margin-bottom: 8px;
  margin-top: 0px;
}

